[2016-09-07 08:46] HelloYu opened #3 "怎么用呢？有说明么？"
写点使用说明介绍吧？刚下了VS Code, 是主题么？还是项目中使用的？

[2016-09-07 12:12] Binaryify commented on #3
vscode 插件那里搜下下载就行了,这个仓库只是应邀开源而创建出来的

[2016-10-05 17:52] Narven opened #4 "One screenshot of the theme in the readme... can do wonders"
One screenshot of the theme in the readme... can do wonders

[2016-10-08 11:36] RWOverdijk commented on #4
👍

[2016-10-17 09:37] george3447 commented on #4
+1

[2016-10-22 18:05] Beatusvir commented on #4
Came here to open this **_issue_**

[2016-11-03 07:37] tolu opened #5 "Highlighting epressions in template strings no longer work"
Ref: [Light/Dark Visual Studio theme needs improvements to handle expressions in template string](https://github.com/Microsoft/vscode/issues/13166)

![image](https://cloud.githubusercontent.com/assets/658586/19958596/c421be86-a1a0-11e6-9dc4-d6a913767086.png)

### Details
Using
* Material-theme 1.0.3
* VSCode 1.6.1
* "Latest TypeScript and Javascript Grammar" package

[2016-11-04 18:31] corysimmons commented on #4
0. push button to install theme
0. activate it
0. look at it
0. push button to uninstall theme if you don't like it

![image](https://cloud.githubusercontent.com/assets/224636/20017741/46f423c6-a29b-11e6-95fb-68a9f84bb367.png)

I'm just kidding, I feel you guys.

[2016-11-05 13:10] Narven commented on #4
@corysimmons why are u putting the screenshot here?

If someone what's to take a look at it, has to find this *issue* and look at it?

Put it on the README.md, and it would be available for any person in the world to look either from coming directly into here and on the marketplace, AND ALSO like you mention, BEFORE push to install theme... they can see it right away directly from VSC.

Simple, ea

[2016-11-05 20:24] corysimmons commented on #4
Why don't you? You have the screenshot now. I've done all the hard work!

[2016-11-17 12:17] Aukstkalnis opened #7 "C/C++ language sizeof is a keyword so it has to be colored as keyword."
Now the color of keyword of sizeof is white. It is not good because it is a keyword.

[2016-12-17 08:51] DMQ opened #9 "请问有旧版本的配色下载吗？"
不小心更新了新版插件，很不习惯新的配色呀，还是喜欢以前简洁的配色。

[2017-01-21 01:59] vajahath opened #10 "Provide a screenshot"

[2017-01-25 15:54] barzim opened #11 "License Information"
Can you please add license information to the repository? This is required by some institutions for use. You may find this resource helpful
https://choosealicense.com/

Thanks!

[2017-02-24 18:12] merkjs commented on #10
Here is the screenshot @vajahath  ;
![ekran resmi 2017-02-24 21 10 32](https://cloud.githubusercontent.com/assets/780118/23315105/78a791de-facd-11e6-8f1a-0c47f9428465.png)

[2017-02-28 02:24] #10 closed

[2017-02-28 02:24] #3 closed

[2017-02-28 12:54] Binaryify commented on #9
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="2.4">
<dict>
  <key>author</key>
  <string>Mattia Astorino (http:&#x2f;&#x2f;astorinomattia.it)</string>
  <key>name</key>
  <string>Material Theme</string>
  <key>semanticClass</key>
  <string>theme.dark.material_theme</string>
  <

[2017-02-28 12:56] Binaryify commented on #9
@DMQ https://1drv.ms/u/s!AlUuk77q30Z3hegV0Ob3oculJC958w

[2017-02-28 12:56] #9 closed

[2017-02-28 12:57] #4 closed

[2017-02-28 12:59] #11 closed

[2017-02-28 12:59] #5 closed

[2017-02-28 13:00] Binaryify commented on #11
I add it

[2017-02-28 23:54] Binaryify commented on #11
thx!

[2017-02-28 23:54] Binaryify commented on #7
can you

[2017-03-01 05:39] Zwhy opened #13 "不知道能否对python进行下支持呢？"

[2017-03-01 05:57] Binaryify commented on #13
晚上抽空弄下

[2017-03-02 00:23] TheDutchCoder opened #14 "Comments are red after last VS Code update"
After the last updates, all comments have turned red 😞

![image](https://cloud.githubusercontent.com/assets/1668207/23487491/7d24b242-feb4-11e6-9164-2e83a861e799.png)

[2017-03-02 01:50] weareoutman commented on #14
😞 +1

[2017-03-02 02:55] leozdgao commented on #14
😞  +1

[2017-03-02 02:55] jayden2 commented on #14
😞 +1

[2017-03-02 02:57] acmilank22 commented on #14
😞 +1

[2017-03-02 03:06] Binaryify commented on #14
I fixed it,sorry

[2017-03-02 03:07] #14 closed

[2017-03-02 03:08] #13 closed

[2017-03-02 03:08] jayden2 commented on #14
tough working conditions @Binaryify
👍 thank you!

[2017-03-02 08:09] tz5514 commented on #14
thanks for fixing!

[2017-03-02 09:56] Binaryify commented on #13
I improve python support,please update ,thx!

[2017-03-02 12:54] Binaryify commented on #7
I add C/C++ sizrof support ,please update ,thx!

[2017-03-02 12:54] #7 closed

[2017-03-03 06:13] QiuMing opened #15 "Does not support Linux?"
It did not work in linux minit and ubuntu.

[2017-03-03 07:39] Binaryify commented on #15
Can you provide a screenshot?

[2017-03-03 12:46] rafaelmaiolla opened #16 "Diff syntax is not working anymore"
After last updates, the diff syntax highlight is not working anymore.

[2017-03-03 14:33] Binaryify commented on #16
I will review it and fix it soon, thx~

[2017-03-03 15:14] Binaryify commented on #16
Can you provide a screenshot? @rafaelmaiolla

[2017-03-03 18:23] rafaelmaiolla commented on #16
You will probably need to install the [diff](https://marketplace.visualstudio.com/items?itemName=rafaelmaiolla.diff) extension

Then create a new file, set the language to "diff" and add the following code.

[code]

This was working before and it also works with the default theme.

[2017-03-04 03:03] Binaryify commented on #16
@rafaelmaiolla
I got it,will fix it soon, thx~

[2017-03-04 03:10] Binaryify commented on #16
@rafaelmaiolla I fix it, please update and check it, thx~

[2017-03-06 02:09] QiuMing commented on #15
![2017-03-06 10-03-56](https://cloud.githubusercontent.com/assets/11348698/23594419/deeee058-0254-11e7-986d-7b44b33dd1db.png)

[2017-03-06 02:11] Binaryify commented on #15
Does you apply this theme?
![image](https://cloud.githubusercontent.com/assets/12221718/23594476/4b3076d2-0255-11e7-8c2d-7808acbb5347.png)

![image](https://cloud.githubusercontent.com/assets/12221718/23594470/4414f8f0-0255-11e7-8310-15f27df7e81b.png)

[2017-03-06 02:42] QiuMing commented on #15
恩恩，可以了，多谢

[2017-03-06 02:42] #15 closed

[2017-03-06 12:18] rafaelmaiolla commented on #16
It is working fine now. thanks!

[2017-03-09 02:59] jasonChen1982 opened #17 "Material-Theme is an awesome work,but the code annotation color was so light"
![image](https://cloud.githubusercontent.com/assets/8683772/23733980/fc3fb646-04b6-11e7-8573-7960c5a7f838.png)

[2017-03-09 03:00] jasonChen1982 commented on #17
in vscode 1.10.1

[2017-03-09 03:36] Binaryify commented on #17
@jasonChen1982
What theme version
What language

[2017-03-11 00:38] Binaryify commented on #17
@jasonChen1982
visit it https://github.com/Binaryify/Material-Theme-vscode/issues/14

[2017-03-11 18:02] #17 closed

[2017-03-13 09:56] Ne-Ne opened #18 "Changelog available?"
Great work on getting this to work!

Is there a change-log of modifications to this repo?

Many thanks,

Neil

[2017-03-13 10:35] Binaryify commented on #18
I will add it, thx~

[2017-03-13 12:12] #18 closed

[2017-03-15 08:12] CrisLi opened #19 "Javascript 'this' key word is not high light"
OSX 10.11.16
Material-Theme 2.2.5

The `this` key word is not high light in the **javascript** or **jsx** language mode.

[2017-03-15 12:06] Binaryify commented on #19
Can you provide screenshot? thx~

[2017-03-16 09:58] CrisLi commented on #19
<img width="381" alt="screen" src="https://cloud.githubusercontent.com/assets/360767/23990768/0889ad10-0a72-11e7-8ce6-30ce31990bdb.png">

As you can see, the `this` is same color with other statements.

Beside, it is good to make `module` and `exports` hight light.

[2017-03-16 11:08] Binaryify commented on #19
@CrisLi
I got it, will improve it when I come home, thx~

[2017-03-16 15:58] Binaryify commented on #19
@CrisLi  I improve it, please update, and see if it look like what you want, thx~

[2017-03-16 20:26] Sartan4455 opened #20 "css highlighting all wonky"
Many of the attributes will not highlight correctly...notice float: left
and margin: 100px auto 0 auto

![material-css](https://cloud.githubusercontent.com/assets/1134294/24017164/8a19e08e-0a54-11e7-9316-9b42cca597ce.png)

[2017-03-16 20:30] Sartan4455 commented on #20
Ah, I should note this is an scss file...

[2017-03-16 23:11] Binaryify commented on #20
@Sartan4455
I fix it, please update, thx~

[2017-03-16 23:37] Sartan4455 commented on #20
Looks fixed!  Thanks for the quick turn around.  I like the theme!

[2017-03-16 23:49] Binaryify commented on #20
@Sartan4455
 thank you ~

[2017-03-16 23:49] #20 closed

[2017-03-17 03:21] CrisLi commented on #19
@Binaryify fantastic!

It looks good.

Is that possible make `module` and `exports` highlight too? These are keywords in the Node platform.

[2017-03-17 04:56] Binaryify commented on #19
@CrisLi
You mean make `module ` and `exports ` have the same color with the `this`?

[2017-03-17 05:09] CrisLi commented on #19
@Binaryify
Yes, that what I mean. Do you think is okay?

[2017-03-17 05:32] Binaryify commented on #19
@CrisLi
I think it's a good idea, and I had changed it, please update!

[2017-03-17 05:52] #19 closed

[2017-04-06 13:48] jens1o opened #21 "improve php output"
Hi,

first of all, I'm really a fan of your theme. And since I'm doing lots of php development, I would wish that the php syntax highlighting gets better.

These are the things that doesn't get beautiful as expected:

[code]
![image](https://cloud.githubusercontent.com/assets/11234139/24757743/6087424c-1ae0-11e7-86c5-bfa99b04f9e3.png)
I expect that false gets to a boolean value.

[code]
![image](h

[2017-04-06 14:03] Binaryify commented on #21
I improve the dollar sigh color now but it's look like you doesn't apply my theme

[2017-04-06 14:45] jens1o commented on #21
ah, and I wondered why the design changed after updating to 1.11 😆 Thanks!

[2017-04-06 15:12] Binaryify commented on #21
@jens1o
Wait for minutes

[2017-04-06 15:18] Binaryify commented on #21
@jens1o
I fix it, please update it, thx~

[2017-04-06 16:09] Avatarchik opened #22 "improve C# support"
Does C # support?

[2017-04-07 05:06] Binaryify commented on #22
@Avatarchik
Now it support! Please update and try it, thx~

[2017-04-07 05:50] LordAmit opened #23 "Requesting Python Syntax Highlighting improvement"
![image](https://cloud.githubusercontent.com/assets/480479/24787118/404c1c98-1b88-11e7-844f-2391832fd459.png)

I think it is self-explanatory. Color of method name and parameter should not be same.

Hope you will take a look at it. :smile: Thank you for the awesome theme!

[2017-04-07 06:03] Binaryify commented on #23
@LordAmit
I will fix it soon

[2017-04-07 06:06] LordAmit commented on #23
Glad to know :)
I have already noticed the frequent updates from you. Please do take care of yourself.

[2017-04-07 06:13] Binaryify commented on #23
I fix it , however the  parameter scope is same to the comma scope, so I remove parameter height light, please update and check it, thx~

[2017-04-07 06:59] LordAmit commented on #23
Hi,

It looks like this now:

![image](https://cloud.githubusercontent.com/assets/480479/24788771/1d09588c-1b91-11e7-8cce-b3123ef849fa.png)

I was imagining that the objects will be red, similar to the screenshot from your demo.js; but this will do. :smile:

[2017-04-07 07:41] Binaryify commented on #23
@LordAmit
I also want it be red, but it will affect comma cause it have same scope to  the comma scope, I hope VS Code will improve it

[2017-04-07 07:53] #23 closed

[2017-04-07 12:20] benbrownlol opened #24 "Workbench Support"
With the release of 1.11, more of the editor is now styleable allowing for a more cohesive theme.

https://code.visualstudio.com/updates/v1_11#_preview-workbench-theming

[2017-04-07 12:55] LordAmit opened #25 "Python - Boolean operator Keywords are not being highlighted"
Hi,
The boolean related keywords, such as `and`, `or`, `not` are not being highlighted properly in Python.
Here is a sample screenshot.
![image](https://cloud.githubusercontent.com/assets/480479/24800839/a442f2f4-1bc3-11e7-970b-35c49fe07285.png)
Thanks again for your support! :smile:

[2017-04-07 13:17] Binaryify commented on #24
I will support it, but not this VS Code  version

[2017-04-07 13:37] Binaryify commented on #25
I improve it, please update and check it, thx~

[2017-04-07 13:55] LordAmit commented on #25
Thanks! Closing this. :smile:

[2017-04-07 13:55] #25 closed

[2017-04-08 08:58] LordAmit opened #26 "Python - Highlight standard types / Default types"
Hi,
There are some default types in Python, such as `int`, `float`, `List` etc. More details are available here:
https://docs.python.org/3/library/stdtypes.html

The theme is not currently highlighting these standard types as separate words.
Can you please check?
TIA!

[2017-04-08 08:59] Binaryify commented on #26
Can you  provide some code? Thx~

[2017-04-08 09:10] LordAmit commented on #26
Of course!

![image](https://cloud.githubusercontent.com/assets/480479/24827526/73190268-1c6d-11e7-8307-8b23dd808b1d.png)

[2017-04-08 09:10] LordAmit commented on #26
Do not mind the green squiggly line btw. It is due to PyLint giving variable name convention.

[2017-04-08 09:16] Binaryify commented on #26
@LordAmit
Now it support, please update and check it

[2017-04-08 09:22] LordAmit commented on #26
Nice! But should not this be a bit more different from the method/function colors? Looks almost same!

[2017-04-08 10:04] Binaryify commented on #26
@LordAmit
Yup, I consider it

[2017-04-08 10:17] Binaryify commented on #26
@LordAmit
How about now?

[2017-04-08 11:58] LordAmit commented on #26
To be honest, colors like ocean green and ocean blue are really close when it comes to dim background.
Check the str and adb_list_avd_devices() for example.
![image](https://cloud.githubusercontent.com/assets/480479/24828713/f3648c1e-1c84-11e7-9a2d-c4fe9392f7dc.png)

[2017-04-08 13:52] Binaryify commented on #26
@LordAmit
I will write a docs about how to change the theme color, you can design it by yourself

[2017-04-08 14:30] LordAmit commented on #26
Thanks!

[2017-04-08 14:30] #26 closed

[2017-04-09 07:14] jens1o opened #27 "php bug"
![image](https://cloud.githubusercontent.com/assets/11234139/24835521/ae6862e0-1d04-11e7-85b9-14663d7d000a.png)
I expect that `'desktop'` is colored green.

Code:
[code]

[2017-04-09 09:04] Binaryify commented on #27
I think it was a illegal syntax, and it's background color  should be red.
![image](https://cloud.githubusercontent.com/assets/12221718/24836139/6e7d44e2-1d46-11e7-9342-5b9bc4c309e8.png)

Like this
![image](https://cloud.githubusercontent.com/assets/12221718/24836127/3ed0165c-1d46-11e7-8b9c-fe52ce85f421.png)

[2017-04-09 09:22] jens1o commented on #27
Well, it's not. That's a new feature introduced in newer versions of php.

[2017-04-09 09:25] jens1o commented on #27
Yes, it was a failure. I was in the wrong language.

[2017-04-09 09:26] Binaryify commented on #27
Should I update it? 😂

[2017-04-09 09:30] jens1o commented on #27
Yeah, please. So it won't irritate me again.

[2017-04-09 09:42] Binaryify commented on #27
@jens1o
Please update and check it

[2017-04-09 09:50] jens1o commented on #27
No, that doesn't fix it:

![image](https://cloud.githubusercontent.com/assets/11234139/24836376/a326d496-1d1a-11e7-94a0-9e7b709a8d26.png)
Now it's looking normal, while I expect red background.

[2017-04-09 10:00] Binaryify commented on #27
@jens1o
Oh, I misunderstand your mean

[2017-04-09 10:04] Binaryify commented on #27
@jens1o
VS Code can't change the code background color, so I can't make it's background be red
This screenshot is atom's
![image](https://cloud.githubusercontent.com/assets/12221718/24836459/dfe3b0e6-1d4e-11e7-83b2-ca1b1f5dee78.png)

[2017-04-09 10:18] jens1o commented on #27
Okey. Is there any other way?

Do we need the white thing? Maybe make it red?(But I'm not a designer)

[2017-04-09 10:27] Binaryify commented on #27
@jens1o
 I change it pure red color

[2017-04-09 10:45] jens1o commented on #27
![image](https://cloud.githubusercontent.com/assets/11234139/24836686/67f67360-1d22-11e7-9828-e1d54bf688e5.png)
Works. Thanks!

[2017-04-09 15:35] Binaryify commented on #26
@LordAmit
Here the docs
[https://binaryify.github.io/Material-Theme-vscode/#/](https://binaryify.github.io/Material-Theme-vscode/#/)

[2017-04-09 16:21] #22 closed

[2017-04-09 18:35] jens1o opened #28 "php misstyled"
Hi!

`use AdvancedJsonRpc\{Request as RequestBody, Response as ResponseBody};`

gets
![image](https://cloud.githubusercontent.com/assets/11234139/24839942/c354fa10-1d63-11e7-934f-46e391f25e5e.png)

I expect the second as to be in the same color of  the first.

other thing:
![image](https://cloud.githubusercontent.com/assets/11234139/24839948/f63e6d3a-1d63-11e7-9d1a-6274b17c2d79.png)
I expect that

[2017-04-10 02:37] Binaryify commented on #28
@jens1o
I fix it, and here the docs about how to design this theme
[https://binaryify.github.io/Material-Theme-vscode/#/?id=contribute](https://binaryify.github.io/Material-Theme-vscode/#/?id=contribute)

[2017-04-10 07:33] jens1o commented on #28
Thanks. Okey, so in the future I can do prs and fix it myself for all users?

[2017-04-10 07:39] #28 closed

[2017-04-10 08:19] Binaryify commented on #28
@jens1o
Of course !

[2017-04-11 16:41] hkan opened #33 "Whitespace & indent guide colors"
This isn't really an issue but I'm just wondering, and since I'm using this theme I thought it'd be the right place to ask it. I looked around a bit to find out which setting changes whitespaces' and indent guides' colors but had no luck. Where should I edit to change the color of those vertical lines and dots in the screenshot?

![screen shot 2017-04-11 at 19 13 40](https://cloud.githubuserconten

[2017-04-12 01:12] Binaryify commented on #33
@hkan
Preferences > Settings
[code]

[2017-04-12 06:29] hkan commented on #33
I don't want to disable them. I just want to change their colors.

[2017-04-12 13:50] Binaryify commented on #33
@hkan
Oh, I misunderstand your mean

[2017-04-12 14:02] Binaryify commented on #33
@hkan
Material-Theme.tmTheme file
[code]
You can watch this document [https://binaryify.github.io/Material-Theme-vscode/#/?id=design](https://binaryify.github.io/Material-Theme-vscode/#/?id=design)

[2017-04-12 14:23] hkan commented on #33
I'm pretty sure that I tried that one and it didn't change anything, but now it works. Thanks!

[2017-04-12 14:23] #33 closed

[2017-04-12 16:37] jens1o commented on #27
I'm pulling this up. From PHP 7 on, this **is** valid syntax. That's why there is an additional class added:
![image](https://cloud.githubusercontent.com/assets/11234139/24968786/afb5486e-1fae-11e7-918a-238afda2a3e6.png)

[2017-04-13 03:09] Binaryify commented on #27
@jens1o
We should wait until VS Code official support it

[2017-04-13 05:54] jens1o commented on #27
Okay, where is the grammar repo?

[2017-04-13 06:31] Binaryify commented on #27
@jens1o
I think here it is
[https://github.com/Microsoft/vscode/tree/master/src/vs/workbench/services/themes](https://github.com/Microsoft/vscode/tree/master/src/vs/workbench/services/themes)

[2017-04-15 01:57] alexlur opened #35 "Update frequency"
Is there any particular reason that this extension gets update so frequently? Visual Studio Code tells me there is an update almost daily.

[2017-04-15 02:33] Binaryify commented on #35
Recently it not frequency ! Now updated once almost three days
 In 2017.4.10, I updata too much.

[2017-04-15 02:45] Binaryify commented on #35
And when developer send a PR, I will merge it and update, please understanding it, now it stable, will not update long time

[2017-04-15 02:59] alexlur commented on #35
Thanks for the quick response!

[2017-04-15 02:59] #35 closed

[2017-04-15 03:01] Binaryify commented on #35
You can watch the PR list, https://github.com/Binaryify/Material-Theme-vscode/pulls?q=is%3Apr+is%3Aclosed  , about php PR has 5  recently

[2017-04-17 08:33] Binaryify commented on #24
@benbrownlol
You can add this snippet in your "settings.json" file
[code]

[2017-04-20 11:52] Zueuk commented on #24
Putting the same color everywhere makes it look too flat.
I'd adjust them slightly, for example:
[code]

[2017-04-20 15:25] jtheoof commented on #24
Any CSS tweak for the status bar below? I'd love to get rid of that blue.

![screen shot 2017-04-20 at 11 24 52 am](https://cloud.githubusercontent.com/assets/90020/25238683/123f5976-25bc-11e7-8a79-ef614f3e8340.png)

[2017-04-20 16:06] Binaryify commented on #24
@jtheoof
You just add
[code]
in
[code]

[2017-04-22 10:57] tolu opened #38 "Very Low Contrast in comments in compare view (source control)"
First of all, thanks for an amazing theme!

I'd love to see if it were possible to get a better contrast for diff's in comments.

Here with javascript
![image](https://cloud.githubusercontent.com/assets/658586/25303715/ea6edd6a-2758-11e7-9a24-6647def03a5d.png)

And this is C#
![image](https://cloud.githubusercontent.com/assets/658586/25303823/e451f1b8-275a-11e7-9881-693fd358c319.png)

Comments mig

[2017-04-24 02:07] f3wenbo opened #39 "C++ ordinary code color become rose red"
![ws000036](https://cloud.githubusercontent.com/assets/10846537/25320088/db4bf1ba-28de-11e7-99bc-ef98aa8f9785.JPG)
C++ ordinary code color become rose red

[2017-04-24 02:14] Binaryify commented on #39
Can you provide the code text ?

[2017-04-24 02:34] f3wenbo commented on #39
`enum OPERATION_TYPE
{
	TYPE_UNKNOWN								= 0,
	TYPE_JOB_CONFIG_CREATE						= 1,
	TYPE_JOB_CONFIG_DELETE						= 2,
	TYPE_JOB_CONFIG_CURRENT_SET					= 3,
	TYPE_JOB_CONFIG_CURRENT_GET					= 4,
	TYPE_JOB_CONFIG_DEFAULT_GET					= 5,
	TYPE_JOB_CONFIG_SEND_DESTINATION_REGISTER	= 6,
	TYPE_JOB_CONFIG_SEND_DESTINATION_UPDATE		= 7,
	TYPE_JOB_CONFIG_SEND_DESTINATION_GET		= 8,
	TYPE_JOB_CONFIG_LIST_GET

[2017-04-24 04:50] Binaryify commented on #39
I fix it

[2017-04-24 04:55] Binaryify commented on #38
Sorry about it, but the comments background color can't change, you can change the theme background
Add this code snippet in your 'settings.json' file
[code]

[2017-04-24 05:38] f3wenbo commented on #39
Thank you!! I like this theme so much.

[2017-04-24 05:45] #39 closed

[2017-04-26 13:24] tolu commented on #38
thanks for the quick response and the tip!

[2017-04-26 13:24] #38 closed

[2017-04-30 21:14] equinusocio opened #40 "Add credit to official Material Theme for Visual Studio Code"
You have to add credits to the official [Material Theme](https://github.com/equinusocio/vsc-material-theme) and specify that this is a unofficial porting of the original one. Open source doesn't mean "Grab works done by others and publish them with your name" ;)

[2017-05-01 01:41] Binaryify commented on #40
Thanks for your notice
In fact it from 'One Dark theme' of Atom, no from 'Material Theme'
Will rename 'One Dark Pro'

[2017-05-01 08:25] #40 closed

[2017-05-01 14:51] jtheoof commented on #24
FYI: The naming has changed in a recent commit: https://github.com/Microsoft/vscode/issues/25428 This will probably hit `vscode` in 1.11.3

[2017-05-01 22:09] Windos opened #41 "displayName and label mismatch"
Given the recent name change I went to update my settings.json, and given that this installs with the display name "OneDark Pro" I naturally entered `"workbench.colorTheme": "OneDark Pro"`.

Unfortunately the display name and label for this theme doesn't currently match, and it wasn't until I used the command palette to activate the theme that I realised I actually needed to enter "One Dark pro"

[2017-05-02 01:20] Binaryify commented on #41
I improve it, thank for your advice ~

[2017-05-02 03:21] #41 closed

[2017-05-03 10:02] stonedreamforest opened #42 "How to customize the background color"

[2017-05-03 10:04] Binaryify commented on #42
https://github.com/Binaryify/OneDark-Pro/issues/24

[2017-05-03 11:16] stonedreamforest commented on #42
thanks , cool project~!

[2017-05-03 11:16] #42 closed

[2017-05-04 18:52] skotturi opened #43 "Question: custom colors"
In Javascript, I'd like my local variables (declared with `let const var`) to be a different color than function parameters. I've looked through the .tmTheme source and am not exactly sure what I'm looking for.

[code]

is it possible to override with some custom settings for this kind of thing or would I need to fork, change & install?

[2017-05-04 18:55] skotturi commented on #43
Seems like a related request: https://github.com/Microsoft/vscode/issues/11556

Perhaps its not possible atm?

[2017-05-05 01:25] Binaryify commented on #43
You can see https://binaryify.github.io/OneDark-Pro/#/?id=design

[2017-05-05 02:28] Binaryify commented on #43
The 'foo' and the 'bar' has the same scope, so they can't has different color
![image](https://cloud.githubusercontent.com/assets/12221718/25731965/90b43b6a-317d-11e7-9a57-2c5969881eca.png)
![image](https://cloud.githubusercontent.com/assets/12221718/25731968/97a20b0a-317d-11e7-9e3e-3066303d4baa.png)

[2017-05-05 07:45] Binaryify commented on #24
I support it !

[2017-05-05 12:55] #43 closed

[2017-05-05 12:55] #24 closed

[2017-05-05 14:25] jens1o commented on #24
May it possible that the file explorer have a slightly darker background? I wish there were some contrast...

[2017-05-05 15:00] Binaryify commented on #24
@jens1o
You can DIY it

[2017-05-05 15:01] jens1o commented on #24
Yeah, I know. But I don't how how much darker it needs to be. I think you have a color which is X% darker, since you are the designer?

[2017-05-05 15:48] Binaryify commented on #24
@jens1o
No, I am a front-end engineer

[2017-05-05 21:53] Zueuk commented on #24
@jens1o check this: #45

[2017-05-06 06:28] jens1o commented on #24
Thank you!

[2017-05-08 08:23] stonedreamforest opened #47 "How to set the variable color"
![1](https://cloud.githubusercontent.com/assets/16742566/25796055/a7e009f6-340a-11e7-9dc8-ead6a06016dd.png)

[2017-05-08 09:08] Binaryify commented on #47
You  can see this DOCS https://binaryify.github.io/OneDark-Pro/#/?id=design

[2017-05-08 17:27] brentluna opened #48 "Operator Mono Italic Support?"
Any chance to add support for italics on keywords and the like, similar to Dracula and Panda Syntax Themes?

Thanks and keep up the good work!

[2017-05-09 01:17] Binaryify commented on #48
Can you provide some screenshot ?

[2017-05-09 01:31] stonedreamforest commented on #47
I can't find it

[2017-05-09 13:17] will-stone opened #50 "Update repo description to match docs"
From

    Maybe the best theme on VS Code!

To

    Atom's iconic One Dark theme for Visual Studio Code

[2017-05-09 13:19] Binaryify commented on #50
Done ~ 😬

[2017-05-09 13:21] will-stone commented on #50
Thanks

[2017-05-09 13:21] #50 closed

[2017-05-09 13:22] Binaryify commented on #47
@stonedreamforest
Python 的高亮不好处理,目前 vscode 对 python 支持的不是很好,变量和其他语法的 scoped 是相同的,会造成改了一处又影响全部,所以暂时不让 python 有更多的高亮

[2017-05-09 16:09] ikatyang opened #52 "I cannot see anything in comments (diff mode with additions)"
![image](https://cloud.githubusercontent.com/assets/8341033/25860585/850c5fe6-3514-11e7-889a-9443f3fa8cfa.png)

[2017-05-09 16:40] will-stone opened #54 "Possible to change package name?"
The current package name is `"name": "Material-theme"`. Is it possible to change this? Or will it screw-up users' installation? It may have been originally forked from the Material Theme but the name doesn't really go with the project now.

[2017-05-09 18:02] brentluna commented on #48
![screen shot 2017-05-09 at 10 58 09 am](https://cloud.githubusercontent.com/assets/7967287/25865077/8ee0c192-34a6-11e7-843c-55ec7caaec3d.png)
![screen shot 2017-05-09 at 10 57 47 am](https://cloud.githubusercontent.com/assets/7967287/25865078/8ee49d8a-34a6-11e7-9c3e-9c7f81058e64.png)

Here are the repos for those screenshots. I think Panda goes a bit overboard by italicizing  a bit too much, whil

[2017-05-09 19:24] skotturi commented on #43
Damn, this was suppose useful in WebStorm. Thanks for helping me understand the underlying constraint!

[2017-05-09 19:27] jens1o commented on #43
You should ask in vscode's repository and ask wether they can improve the grammar, so it matches your case.

[2017-05-10 01:24] Binaryify commented on #54
You can see this issues https://github.com/Microsoft/vscode/issues/25988

[2017-05-10 01:26] Binaryify commented on #52
You can see this issues https://github.com/Binaryify/OneDark-Pro/issues/38

[2017-05-10 01:30] stonedreamforest commented on #47
我想把变量部分颜色调暗， 这个其它语言好像都是一样的

[2017-05-10 01:34] ikatyang commented on #52
[code]
I found that it can be changed

![image](https://cloud.githubusercontent.com/assets/8341033/25879364/ce58415c-3563-11e7-8279-6e8637577316.png)

[2017-05-10 01:59] Binaryify commented on #38
@tolu
You can see this issue https://github.com/Binaryify/OneDark-Pro/issues/52#issuecomment-300348666

[2017-05-10 02:09] #52 closed

[2017-05-10 02:09] jackytse opened #55 "Some color issues"
I use the OneDark-Pro v2.7.2, the "titleBar.activeBackground", the "tab.activeBackground" and the "editor.background" are the same, I think that is not good; the "statusBar.background" is not the visual studio classical blue, is there something wrong?

![qq20170510-093435](https://cloud.githubusercontent.com/assets/5107059/25879495/890426b0-3564-11e7-890d-3d37632b9f1c.png)

[2017-05-10 02:25] Binaryify commented on #55
It was a new feature
https://github.com/Binaryify/OneDark-Pro/pull/45
https://github.com/Binaryify/OneDark-Pro/pull/51
You can update to the latest version v2.7.3, and see if it had improve

[2017-05-10 02:49] jackytse commented on #55
Thanks for your answer, I updated to the 2.7.3, but I don't like this update, because most components's color are the same. I don't think it is a better choice.

[2017-05-10 02:51] Binaryify commented on #55
Everyone's aesthetic is different, so I provide this  DOCS to help everyone to DIY
https://binaryify.github.io/OneDark-Pro

[2017-05-10 02:55] jackytse commented on #55
I agree with you, everyone's aesthetic is different, you've done very well, thank you.

[2017-05-10 03:13] ikatyang commented on #52
before
![image](https://cloud.githubusercontent.com/assets/8341033/25881482/c190be34-356f-11e7-809d-354aa5e92e86.png)

after
![image](https://cloud.githubusercontent.com/assets/8341033/25881452/959f20ea-356f-11e7-898f-5e32441b49c8.png)

[code]

I'd like to send a PR for the result instead of my personal settings, since personal configs will be a global settings and applying to every theme.

Would

[2017-05-10 03:29] Binaryify commented on #52
I had try to bring this setting to the 'OneDark-Pro.json', however it can't work

[2017-05-10 03:44] Binaryify commented on #52
Oh, I think I edit the old version file, now it work fine, thank ~

[2017-05-10 03:46] Binaryify commented on #52
If you want to send a PR , just add it like this
![image](https://cloud.githubusercontent.com/assets/12221718/25882489/5346525c-3576-11e7-8a96-91003f1fc8f0.png)

[2017-05-10 04:33] #55 closed

[2017-05-10 05:56] tolu commented on #38
Fantastic, you made my day, thanks @binaryify!!!

[2017-05-10 05:59] Binaryify commented on #38
@tolu
The new feature will come next version, but you can edit the 'setting.json' before the update come

[2017-05-10 07:32] will-stone commented on #54
Ah ok. If you're unable to change it, you may have to bite-the-bullet and change the name and lose the downloads. I don't think an Atom One Dark theme should have any references to Material, it'll mislead or confuse users.

[2017-05-10 07:36] kathyrollo opened #57 "Problem setting theme after latest update"
![one_dark_pro_problem](https://cloud.githubusercontent.com/assets/28589393/25887797/1ba5de7e-3596-11e7-90a9-d616c9da8220.png)
One Dark Pro: 2.7.3 | 2017.5.10

![vscode_portable](https://cloud.githubusercontent.com/assets/28589393/25887849/548e577a-3596-11e7-8010-23f4d5575f0e.png)
I'm using VSCode Portable.

[2017-05-10 07:37] will-stone commented on #57
Try updating Code to 1.12

[2017-05-10 07:59] will-stone commented on #57
@Binaryify might be worth bumping the VScode version in package.json/engines to ^1.12.0?

[2017-05-10 08:09] kathyrollo commented on #57
@will-stone Confirmed working after updating VSCode to 1.12.0, thanks. Suggestion to bump version seconded.

[2017-05-10 08:17] Binaryify commented on #57
@will-stone
Done, will update tomorrow

[2017-05-10 10:28] will-stone commented on #48
This request isn't really in line with Atom's One Dark theme, and may not be in favour of those that have come here in search of that.
@brentluna I'd suggest forking this theme if you'd like a variation of it.

[2017-05-10 14:02] will-stone opened #59 "Theme ruler"
This has been requested and MS have confirmed a new config setting will be added: https://github.com/Microsoft/vscode/issues/26377

Leaving this issue to remind us to update it when Code is updated.

[2017-05-10 14:12] Binaryify commented on #59
Good job

[2017-05-11 02:02] Binaryify commented on #48
@brentluna
You can see this REPO
https://github.com/tonsky/FiraCode/wiki
I cry `brew tap caskroom/fonts` and `brew cask install font-fira-code`
and change `setting.json` like this
[code]
![image](https://cloud.githubusercontent.com/assets/12221718/25928745/7576ff9c-3630-11e7-8350-d36dfead8ad1.png)
and the result like this
![image](https://cloud.githubusercontent.com/assets/12221718/25928829/e826b5

[2017-05-11 02:18] #57 closed

[2017-05-11 02:19] Binaryify commented on #54
I think it is difficult

[2017-05-11 02:21] Binaryify commented on #54
At fitst, I like the name "Mateial theme", but this issue https://github.com/Binaryify/OneDark-Pro/issues/40 make me to rename this theme

[2017-05-11 05:51] will-stone commented on #54
Indeed. I understand the need for a name change and One Dark Pro is certainly the better choice. However, keeping the package name as Material isn't great. It might be a case of deprecating this and starting a new repo. You could put a big message at the top of the README and a link to the new theme. Could also change logo to small message: "deprecated" too. It's drastic, I know, but will make sen

[2017-05-11 07:39] Binaryify commented on #54
@will-stone
Can you help me to contact the VS Code team to solve this thing?

[2017-05-11 07:47] will-stone commented on #54
It looks like this has been assigned a Microsoft representative so we'll have to wait and see what they say. I'm just outlining some options if it's impossible to rename (which it probably is as that ID will be how users' VSCode's know which extension to download). I've never published an extension before, does this page allow you to change anything? https://marketplace.visualstudio.com/manage

[2017-05-11 07:49] will-stone opened #60 "Idea: Break out the theming tutorial into it's own repo and website"
It's great that you provided instructions on how to find scopes etc. and I learnt a lot about VSCode theming from it, however, this info applies to _all_ theming (not just for _this_ theme). Until MS improves their docs on this, maybe these instructions could be broken-out into their own website? Then other this theme and other theme makers could simply link to them. It could provide a central sou

[2017-05-11 08:30] Binaryify commented on #60
Good idea, but I don't have enough time

[2017-05-11 08:32] will-stone commented on #60
Yeah, totally understand. I might just write it up on my website sometime.

[2017-05-11 08:32] #60 closed

[2017-05-11 08:52] Binaryify commented on #60
@will-stone
Of course you can

[2017-05-11 16:53] rafamel opened #61 "Javascript red coloring everywhere"
The current styling on Javascript is too overwhelming as compared to the original Atom One Dark syntax. The red takes over everything pretty easily.

**This is OneDark Pro:**
![OneDark Pro](http://image.prntscr.com/image/2d81df5ce68043c597f8050cdb80c177.png)

**This is Atom's original One Dark:**
![Atom's original One Dark](http://image.prntscr.com/image/b2f293b2f8b445e185526870435c9e6e.png)

Is t

[2017-05-12 00:32] Binaryify commented on #61
By design

[2017-05-12 05:32] offirgolan commented on #61
I have to agree with @rafamel. Literally everything is red.

<img width="775" alt="screen shot 2017-05-12 at 5 28 15 pm" src="https://cloud.githubusercontent.com/assets/575938/25983361/7d22d4ba-3738-11e7-8f82-efe85ca4e345.png">
<img width="540" alt="screen shot 2017-05-12 at 5 28 35 pm" src="https://cloud.githubusercontent.com/assets/575938/25983362/7d262a3e-3738-11e7-8dfd-2193ab927e1f.png">

I ab

[2017-05-12 05:48] Binaryify commented on #61
Everyone's aesthetic is different, so I provide this DOCS to help everyone to DIY
https://binaryify.github.io/OneDark-Pro

[2017-05-12 06:06] will-stone commented on #61
@binaryify the whole point of this theme is to mimic One Dark. Surely we can try to change this?

[2017-05-12 08:11] Binaryify commented on #61
@will-stone
Of course you can

[2017-05-12 08:59] will-stone commented on #61
After fixing all the workbench theme, providing a new logo, and correcting all the documentation, I kinda feel like I'm taking over. I've also checked out the JS theme vs Atom's and it is quite drastically different to yours. I'm going to fork the theme and maintain my own. Thanks for helping me get into world of theming.

[2017-05-12 09:09] offirgolan commented on #61
@will-stone please link to it when you get a chance 😄

[2017-05-12 14:41] #61 closed

[2017-05-13 03:07] ajitid opened #63 "Expand selection to quotes"
With Alt+Shift+Right Arrow or Left Arrow, VS Code has this nice expand selection feature.

For some reason it doesn't it doesn't expands to quotes properly. Ideally it should not select quotes into expansion but it does if the quotes have same color (see GIF).

I don't know how Dracula fixes this issue without changing color of the quotes, what I know is that he fixed it after I reported this to h

[2017-05-13 05:18] ajitid opened #64 "Activity Bar Badge"
Please change activity bar's badge foreground and background color and command palette color to make it go well with the theme.

[2017-05-13 06:36] jens1o commented on #63
I like it the way it is. I wouldn't like that this changes....

[2017-05-13 06:37] jens1o commented on #64
That's already supported.

[2017-05-13 07:08] ajitid commented on #64
That's supported but that isn't implemented in this theme

[2017-05-13 08:03] ajitid commented on #64
Here's my take on it with theme's own colors:
    "workbench.colorCustomizations": {
      "activityBarBadge.foreground": "#1D1F23",
      "activityBarBadge.background": "#C5C5C5"
    }

![capture](https://cloud.githubusercontent.com/assets/26769888/26023734/9e13f1ba-37e0-11e7-8a12-ffab2af7a754.PNG)

[2017-05-13 08:06] ajitid commented on #63
But if change creates consistency, then why not!

[2017-05-13 08:17] jens1o commented on #64
Ah. sorry, I didn't read `badge`.

[2017-05-13 23:32] ajitid commented on #64
Here is my take using theme's own color theme:
"workbench.colorCustomizations": {
        "activityBarBadge.background": "#CB81DA",
        "activityBarBadge.foreground": "#1D1F23"
 }

And it looks like this:
![capture](https://cloud.githubusercontent.com/assets/26769888/26030012/524607dc-3862-11e7-8672-21d1577ef941.PNG)

Background color is taken from theme's logo.
Foreground color is taken from

[2017-05-14 08:58] Binaryify commented on #64
Could you give me more details

[2017-05-14 09:03] Binaryify commented on #47
@stonedreamforest
你看下变量的作用域是什么,然后改下颜色就行

[2017-05-14 09:50] ajitid commented on #64
Activity bar badges aren't colored by your theme and so takes default theme colors (blue). Same goes with command palette highlighted characters in the list items (when searched) and keyboard shortcuts that list. Both now have blue color rather than a color which goes well with the theme. Please change that.

[2017-05-14 14:12] Binaryify commented on #63
I think I had been fix it, please update and check it, thx ~

[2017-05-14 14:13] Binaryify commented on #64
Please update and check it

[2017-05-14 14:20] ajitid commented on #64
Thanks color is changed now.

[2017-05-14 14:20] #64 closed

[2017-05-14 14:21] ajitid commented on #63
No, updated the theme but didn't found it to be fixed

[2017-05-14 14:29] Binaryify commented on #63
Can you provide your system info and your VS Code info

[2017-05-14 14:30] ajitid commented on #63
VS Code: 1.12.1
OS: Windows 10

[2017-05-14 14:35] Binaryify commented on #63
It work fine in my MacBook, I will check it in my colleagues  Windows 10 computer tomorrow

[2017-05-14 14:36] ajitid commented on #63
![drac](https://cloud.githubusercontent.com/assets/26769888/26034840/85e372cc-38e0-11e7-832f-048e06144ebb.gif)
See in first string, quotes aren't selected, which is the right behavior, in the string below, quotes are selected, which is wrong.

[2017-05-15 06:48] will-stone commented on #61
@offirgolan I decided that this theme should really be the home of the One Dark clone and don't want to step on Binaryify's efforts. Therefore, please make any requests for changes to this theme here. I chose a simpler, darker look, which I prefer. I am also experimenting with deprioritising punctuation (you'll have to install to see what I mean there). Anyway, you can find the theme here: http://

[2017-05-15 08:01] imwebson opened #65 "Selection and selection matches highlight color"
Selection and selection matches highlight color is too light and  too shallow, maybe a little deeper will be better~

[2017-05-15 09:09] su348628753 commented on #27
@jens1o can you tell me the font name of your php file, its looked nice😲

[2017-05-15 12:34] jens1o commented on #27
No problem, it's the free `Fira Mono` from Mozilla! https://github.com/mozilla/Fira

[2017-05-15 13:22] su348628753 commented on #27
@jens1o thx for your detailed answer,its kind of u.😜

[2017-05-15 17:26] offirgolan commented on #61
@will-stone I think that is fair. Thank you for the update and I'll give `plastic` a shot!

[2017-05-15 19:48] silesky opened #66 "Block cursor contrast with text is poor"
![image](https://cloud.githubusercontent.com/assets/5115498/26076211/9379a904-397d-11e7-95a4-fd26cbe1fd1a.png)

This issue makes it difficult to use this theme with a Vim Plugin.
edit: VSCode recently added this option as a workaround:

[code]

However, it might be a good idea to modify the defaults so users don't run into this issue.

[2017-05-16 05:51] #47 closed

[2017-05-16 06:47] Binaryify commented on #65
Could you give me more details

[2017-05-16 07:43] Binaryify commented on #63
It looks like the same color causes the problem

[2017-05-16 07:51] ajitid commented on #63
Maybe that's the only solution

[2017-05-16 07:56] Binaryify commented on #66
You are right, but I will set "editorCursor.foreground" to be #f8f8f0

[2017-05-16 14:42] lerran80 opened #68 "Inconsistency in javascript Object methods"
In the javascript code:
const a = [...Object.keys(b)]
const c = Object.keys(b)

"Object" has different colors in each line:
![screen shot 2017-05-16 at 11 46 46](https://cloud.githubusercontent.com/assets/22422447/26112142/6644f0f0-3a2d-11e7-8962-28b2c9fb730a.png)

[2017-05-16 14:51] Binaryify commented on #63
How is it now?

[2017-05-16 14:56] ajitid commented on #63
It's working now, thanks!

[2017-05-16 14:57] #63 closed

[2017-05-16 15:02] Binaryify commented on #68
It look like you don't apply my theme

[2017-05-16 15:35] ajitid commented on #65
@imwebson is talking about these selection highlights which are barely visible:
![capture](https://cloud.githubusercontent.com/assets/26769888/26114616/5c648caa-3a7b-11e7-898e-57a349b08750.PNG)
![captur2e](https://cloud.githubusercontent.com/assets/26769888/26114615/5c3633a0-3a7b-11e7-89ef-d539ff605bfb.PNG)

[2017-05-16 17:21] lerran80 commented on #68
Oops, that is right. The problem seems to be I cannot load your theme in VS code v 1.12.2.

[2017-05-17 01:35] Binaryify commented on #68
You can uninstall and reinstall it

[2017-05-17 09:49] kaosmos commented on #66
I second the `#f8f8f0` color for the , also I'd like to have more contrast in the current line highlight color, i.e. the editor.lineHighlightBackground.
I propose `"editor.lineHighlightBackground": "#383E4A"`

[2017-05-17 10:37] Binaryify commented on #66
@silesky
@kaosmos
I improve it

[2017-05-17 11:13] Binaryify commented on #68
It's a little hard to change them to the same color, it will affect other code

[2017-05-17 14:01] kaosmos commented on #66
Wow it was fast :)
DO you think is possible to improve the contrast also in the Command Palette?

[2017-05-17 16:47] lerran80 commented on #68
Makes sense, I see the same issue with other themes. And also in other situations, like key names in maps, their colors are not always consistent for any theme I tested. Is this something that the VS Code dev team could fix?

[2017-05-17 16:51] lerran80 commented on #68
BTW: I tried uninstalling and reinstalling, restarting, disabling and re-enabling. Nothing works. I just can't load your theme.

[2017-05-18 04:06] Binaryify commented on #68
Does you apply it ?
![image](https://cloud.githubusercontent.com/assets/12221718/26186192/5fd4a86e-3bc2-11e7-90f0-d4946679f7fc.png)

[2017-05-18 07:37] vikrantnegi opened #69 "Increase the background color of active menu item in dropdown"
When changing the project from the shortcut "cmd+p" the drop-down color and the active menu background color (see screenshot) is not quite contrasting causing difficulty in opening intended projects.

Is there an option to change the background color of the active menu so that I can see clearly which option is currently I'm on?

Thanks.

![screen shot 2017-05-18 at 13 01 38](https://cloud.githubus

[2017-05-18 08:13] Binaryify commented on #69
You can see this https://code.visualstudio.com/docs/getstarted/theme-color-reference before I improve it

[2017-05-18 09:07] kaosmos commented on #66
I found the color customization for the Command Palette, actually it is the background color for every highlighted list element:

"list.focusBackground": "#383E4A"

![onedarkpro__commandpalette](https://cloud.githubusercontent.com/assets/138006/26194866/274ceebe-3bba-11e7-83da-546e567bfea8.png)

[2017-05-18 10:44] DenisValcke commented on #48
I see this one is closed but I tried it and there are no italic keywords in both HTML or JS files.
Does this mean this is not going to get supported in this theme?
In "An Old Hope with italics":
<img width="228" alt="schermafbeelding 2017-05-18 om 12 41 56" src="https://cloud.githubusercontent.com/assets/12268407/26198728/7cdd1612-3bc7-11e7-812f-7330ea57abfb.png">

In One Dark Pro:
<img width="163

[2017-05-18 10:44] JzKUO opened #70 "key word italic font support"
It's still awesome theme. But better if the support italic or bold font to key word.

such as this following pic:
![image](https://cloud.githubusercontent.com/assets/17445719/26198886/68db0bbe-3bfa-11e7-9fca-5e0752e416cf.png)

![image](https://cloud.githubusercontent.com/assets/17445719/26199278/fcd1acfa-3bfb-11e7-9dff-432c7f6e8ffb.png)

[2017-05-18 11:03] DenisValcke commented on #70
I think you are trying to achieve the same as in [https://github.com/Binaryify/OneDark-Pro/issues/48](this issue)?

[2017-05-18 11:33] lerran80 commented on #68
Nope. I was just enabling it and expected this would be sufficient for VS Code to understand I wanted it applied. Totally forgot this step. Thanks!

[2017-05-18 13:46] vikrantnegi commented on #69
Great but I could not find the solution for my problems there.

[2017-05-20 05:49] Binaryify commented on #48
Oh I misunderstand you mean

[2017-05-20 05:50] Binaryify commented on #48
Will add this feature

[2017-05-20 05:55] jens1o commented on #48
well, I'm fine with the current situation :/

[2017-05-22 03:49] Binaryify commented on #48
Will look like this
![image](https://cloud.githubusercontent.com/assets/12221718/26291928/957ef724-3ee4-11e7-9e3a-7357d6e7d160.png)

[2017-05-22 03:50] #68 closed

[2017-05-22 04:17] jens1o commented on #48
Okay, I'm fine with it.

[2017-05-22 05:35] Binaryify commented on #70
Done

[2017-05-22 05:36] Binaryify commented on #48
Done

[2017-05-22 05:36] Binaryify commented on #69
Done

[2017-05-22 05:36] Binaryify commented on #66
Done

[2017-05-22 07:33] vikrantnegi commented on #69
Thank you very much.

[2017-05-22 08:13] #69 closed

[2017-05-22 11:48] jens1o commented on #70
@Binaryify Should I update the php syntax, so variable are getting italic, too?

[2017-05-22 14:14] Binaryify commented on #70
@jens1o
It's up to you

[2017-05-22 14:17] jens1o commented on #70
Hmm, I'll check in which ways it fits.

[2017-05-22 17:33] dapullar commented on #70
This makes me sad, can this be optional?

[2017-05-22 21:27] kaosmos commented on #66
Cool, I think this issue could be closed

[2017-05-23 00:08] #66 closed

[2017-05-23 12:06] Binaryify commented on #70
@dapullar
Temporarily no, but you can DIY this theme with this DOCS https://binaryify.github.io/OneDark-Pro/#/

[2017-05-24 21:57] rafaelpimpa commented on #48
Any way to disable it?

[2017-05-25 05:00] jens1o commented on #48
Well, unfortunately no. Maybe @Binaryify wants to create 2 versions of this(Extensions can ship more than one theme) whereas one is with italic and one isn't?

[2017-05-25 15:25] SeanGroff opened #77 "Syntax highlighting for Styled Components"
Syntax highlighting for [Styled Components](https://www.styled-components.com/docs/basics)would be amazing.

[2017-05-26 03:08] #70 closed

[2017-05-26 03:09] Binaryify commented on #48
@rafaelpimpa
You can see this
https://github.com/Binaryify/OneDark-Pro/issues/70

[2017-05-26 06:11] jens1o commented on #77
will take a look. @Binaryify Maybe you want to add me as a collaborator, so I can assign myself?

[2017-05-26 06:29] Binaryify commented on #77
@jens1o
Done

[2017-05-26 06:30] jens1o commented on #77
Thx.

[2017-05-26 13:07] will-stone commented on #77
Is this not covered by this extension? https://github.com/styled-components/vscode-styled-components

[2017-05-26 13:10] SeanGroff commented on #77
Yes this is why I closed this issue. I discovered the Babel ES6/ES7 plugin was the issue. I disabled this extension and now syntax highlighting works.

[2017-05-26 13:11] jens1o commented on #77
Yes, you're both true.

But to be honest, this doesn't look good at all:
![image](https://cloud.githubusercontent.com/assets/11234139/26495871/99f2a21c-4225-11e7-814a-48d89fe8b1a0.png)

[2017-05-26 13:12] will-stone commented on #77
Ah, you commented as I closed it. Looks ok to me. Feel free to reopen if you are able to improve :-)

[2017-05-26 13:13] jens1o commented on #77
Well, the problem is that the grammar is pretty poor, so everything must be really general... 😢

[2017-05-27 09:11] JiGuangYuan commented on #65
I think selection matches highlight color maybe deeper，Still a bit unclear ...
![tim 20170527171020](https://cloud.githubusercontent.com/assets/22188316/26520141/7b033f08-42ff-11e7-820b-8019b83cabec.png)

[2017-05-27 09:17] jens1o commented on #65
You can still change it in your user settings, personally, I had reversed the effects.

Go to your User Settings, and enter:
[code]

[2017-05-27 09:23] aQuaYi opened #85 "Which font do you use?"
Which font do you use?
请问，你的主题图示中使用的什么字体？

[2017-05-27 10:23] Binaryify commented on #85
Source Code Pro

[2017-05-27 10:26] #85 closed

[2017-05-27 12:36] #48 closed

[2017-05-29 08:52] Binaryify commented on #54
@will-stone
Seem I can't change package name with no lose the downloads
https://github.com/Microsoft/vscode/issues/25988
But I publish the new theme with new package name
https://marketplace.visualstudio.com/search?term=zhuangtongfa&target=VSCode&category=Themes&sortBy=Relevance

[2017-05-31 10:05] jose-a-sa opened #86 "Improvements on color of variable types"
In One Dark Pro, I get different colors for `real_t` when is a function argument or when declaring a variable/function. It would be nice to get something like Monokai theme. It would be nice to get diferente coloring for variable types and language keywords (`if`, `else`, `return`, ...) and some italics to take advantage of font like Operator Mono

![2017-05-31 1 _li](https://cloud.githubuserconte

[2017-05-31 13:52] Binaryify commented on #86
what language

[2017-05-31 14:26] jose-a-sa commented on #86
Its pure C code

[2017-05-31 14:27] Binaryify commented on #86
Can you provide some code ?

[2017-05-31 15:32] jose-a-sa commented on #86
[code]

Sry for the delay

[2017-06-01 08:19] Binaryify commented on #86
Please update and check it, thx ~

[2017-06-02 07:19] slieo opened #87 "JS/TS object-literal key have the same highlight color"
After update to 2.8.3, JS/TS object-literal key's color changes to green, and it's same as the value's color, please fixed it.

[2017-06-02 07:23] Binaryify commented on #87
What color do you think it should be

[2017-06-02 07:32] slieo commented on #87
Just make a distinction between key & value, they are the same color now...Before 2.8.3, the key's color is yellow

[2017-06-02 07:36] slieo commented on #87
<a href="http://imgur.com/ljrrKBj"><img src="http://i.imgur.com/ljrrKBj.png" title="source: imgur.com" /></a>

[2017-06-02 07:44] Binaryify commented on #87
How about this
![image](https://cloud.githubusercontent.com/assets/12221718/26715998/52d6a68c-47aa-11e7-9bf5-4604f525a27f.png)
![image](https://cloud.githubusercontent.com/assets/12221718/26716003/5756eb7c-47aa-11e7-9303-50433ff0ff15.png)

[2017-06-02 07:52] jens1o commented on #87
I also was fine with the previous color, this annoys me, too. I would like to see the changes being reversed.

[2017-06-02 07:55] Binaryify commented on #87
before this, it was red, it maybe make some confusing

[2017-06-02 07:56] jens1o commented on #87
But now, having a key and then an integer or boolean as the key we don't get any difference.

[2017-06-02 08:03] slieo commented on #87
It's OK, I just want a different color between them, I suggest the second color above picture(yellow?)， and the integer's color, you can set it purple

[2017-06-02 08:14] Binaryify commented on #87
How about this
@slieo @jens1o
![image](https://cloud.githubusercontent.com/assets/12221718/26717060/82f2f5b0-47ae-11e7-8a06-e6620759745e.png)

[2017-06-02 08:17] jens1o commented on #87
sorry, but what me really annoys is still not how I would like it:

![image](https://cloud.githubusercontent.com/assets/11234139/26717155/a21ebe38-477c-11e7-94a6-5bd526f6bf0e.png)
I would like to see a difference between a key and a value.

[2017-06-02 08:18] slieo commented on #87
Good! but integer & boolean, could you just try purple?

[2017-06-02 08:23] Binaryify commented on #87
I think that would be bad @slieo @jens1o ,they have same scope
![image](https://cloud.githubusercontent.com/assets/12221718/26717329/9c0e5926-47af-11e7-9901-e404153d597d.png)
![image](https://cloud.githubusercontent.com/assets/12221718/26717361/b3cbdafc-47af-11e7-8c64-59fcf23203e9.png)
![image](https://cloud.githubusercontent.com/assets/12221718/26717367/b8e7a3cc-47af-11e7-846b-27a66a170745.png)

[2017-06-02 08:24] jens1o commented on #87
😭

[2017-06-02 08:30] Binaryify commented on #87
@slieo @jens1o
![image](https://cloud.githubusercontent.com/assets/12221718/26717648/bc700b0a-47b0-11e7-86d9-901a645ee55f.png)
Maybe Atom is right?

[2017-06-02 08:30] slieo commented on #87
It's a tough choice

[2017-06-02 08:34] jens1o commented on #87
Yep, @slieo's right.

[2017-06-02 08:40] Binaryify commented on #87
![image](https://cloud.githubusercontent.com/assets/12221718/26718027/1ebab5e8-47b2-11e7-9e43-bd80b250be52.png)
How about this, left is VS Code, right is Atom

[2017-06-02 08:42] jens1o commented on #87
I'm fine with this. Thanks for your effort. :)

[2017-06-02 08:44] Binaryify commented on #87
@slieo
How about you

[2017-06-02 08:54] slieo commented on #87
this can't solve my problem, when the values are all string, just like this
<a href="http://imgur.com/fKYSoaP"><img src="http://i.imgur.com/fKYSoaP.png" title="source: imgur.com" /></a>

[2017-06-02 09:00] Binaryify commented on #87
You are right, but I don't know what color is better

[2017-06-02 09:06] slieo commented on #87
OK, thanks, Em...I want back to 2.8.2, but I don't konw how to operate...

[2017-06-02 09:07] Binaryify commented on #87
But in 2.8.2, it was red, like this
![image](https://cloud.githubusercontent.com/assets/12221718/26719143/f36352a2-47b5-11e7-88f2-b71b7972c67a.png)

[2017-06-02 09:13] slieo commented on #87
I think red is good

[2017-06-02 09:16] jens1o commented on #87
Yeah, I also think it was best, but I didn't want to make you sad, because I like your effort.

[2017-06-02 10:33] Binaryify commented on #87
@slieo @jens1o
Will rollback to 2.8.2

[2017-06-02 10:34] jens1o commented on #87
Thanks!

[2017-06-02 10:39] #87 closed

[2017-06-02 10:39] #86 closed

[2017-06-04 18:23] baloneymath opened #88 "Font color become black"
Hi~ I' have a problem that the font color become black and it's terrible
How can I fix the issue?
Thanks
![image](https://cloud.githubusercontent.com/assets/9354643/26764232/d7602688-4928-11e7-9335-6d8b839973fb.png)

[2017-06-05 01:05] Binaryify commented on #88
What language ?

[2017-06-05 06:24] jens1o commented on #88
Looks like Perl...

[2017-06-05 06:55] baloneymath commented on #88
It's cpp, but it's also black in other languages

[2017-06-05 06:57] Binaryify commented on #88
Can you provide some code ?

[2017-06-05 08:08] baloneymath commented on #88
What do you need to solve this problem?

[2017-06-05 08:11] jens1o commented on #88
Example code(but please not a screenshot, but written down in code block using.

[2017-06-05 08:24] baloneymath commented on #88
Sample:
[code]

[2017-06-05 08:38] jens1o commented on #88
can't reproduce:
![image](https://cloud.githubusercontent.com/assets/11234139/26776805/164ae628-49db-11e7-8fd4-3fdcefcfaa75.png)

Do you have any extensions installed? Maybe they modify some grammar.

[2017-06-05 09:18] iddan opened #89 "this keyword highlighting"
[code]
`this` should be purple, not yellow as it is a keyword

[2017-06-05 13:59] baloneymath commented on #88
I've tried closing all the other extensions, but it still didn't help

[2017-06-05 14:05] Binaryify commented on #88
@baloneymath
You can try reinstall it

[2017-06-08 09:31] Rpeanut opened #92 "主题不生效"

[2017-06-08 09:52] Binaryify commented on #92
https://binaryify.github.io/OneDark-Pro/#/?id=apply

[2017-06-08 14:17] surgeharb opened #93 "Line Numbers Section"
Can the line numbers on the left have shadow when you scroll horizontally like the top bar so the developer writing code do not loose focus.

Best Theme Ever on VS Code! 👍

[2017-06-09 02:34] ravshansbox opened #94 "Any plans to make OneLight-Pro also?"

[2017-06-09 03:57] #92 closed

[2017-06-10 22:06] NickolasGame opened #95 "Separate color for links"
nake an separate color for links (http , https, cdn etc) like in Atom One Dark

[2017-06-11 06:16] Binaryify commented on #94
Yes, but no so fast

[2017-06-12 02:12] Binaryify commented on #93
https://code.visualstudio.com/docs/getstarted/theme-color-reference
I think it can't now, but when VS Code support this setting, I will update it

[2017-06-12 05:32] #93 closed

[2017-06-12 10:49] ajitid opened #96 "Change color of warning/error squiggles"
https://github.com/Microsoft/vscode/pull/27053

[2017-06-12 14:42] ajitid opened #97 "Markdown bold and italics and for headings"
When writing markdown, bold and italic words can actually be made bold and italic. Please do that.

[2017-06-13 02:21] Binaryify commented on #95
Can you provide some screenshot

[2017-06-13 02:38] Binaryify commented on #97
Will make italic words be italic, but fontStyle doesn't support 'bold'

[2017-06-13 02:47] Binaryify commented on #89
'this' is a special keyword, I think make it be yellow is better that purple

[2017-06-13 02:56] ajitid commented on #97
No, it does.

Nord
![screenshot 107](https://user-images.githubusercontent.com/26769888/27063873-e559f5c6-5011-11e7-8fc4-5ef87361602b.png)

Dracula
![screenshot 109](https://user-images.githubusercontent.com/26769888/27063883-ec421b7a-5011-11e7-8076-0be6b8272029.png)

OneDark Pro
![screenshot 108](https://user-images.githubusercontent.com/26769888/27063893-f41683f4-5011-11e7-9c7b-1f6e6f4f54f5.png)

[2017-06-13 02:58] ajitid commented on #97
Maybe this is the setting for bold (pulled from Dracula):

[code]

[2017-06-13 03:02] ajitid commented on #97
Please make headings bold too.

[2017-06-13 03:04] Binaryify commented on #97
It doesn't a option
![image](https://user-images.githubusercontent.com/12221718/27064086-0a5db9f0-5028-11e7-8484-14c19709460c.png)

[2017-06-13 03:10] ajitid commented on #97
![screenshot 110](https://user-images.githubusercontent.com/26769888/27064209-d17c2590-5013-11e7-985a-00f3ed599183.png)
I can't understand why it isn't showing in yours, but it shows in Dracula theme

[2017-06-13 03:14] Binaryify commented on #97
Oh my mistake, I think it not a option and it support bold actually, will update it

[2017-06-13 03:14] ajitid commented on #97
Thanks, make headings bold too.

[2017-06-13 03:15] Binaryify commented on #97
ok

[2017-06-13 03:24] Binaryify commented on #97
Please update and check it

[2017-06-13 03:59] #97 closed

[2017-06-13 07:37] NickolasGame commented on #95
Yes, that is color links in One Dark Pro just like in regular values(meta, charset, src, etc).
I recommend to color all types of links: links to other sites, widgets, and of course cdn resources, thats means all what starting from http , https, http/2.

Heres like atom colors links in One Dark:
(homepage link)
![package json e__bootstrap atom 13 06 2017 9_34_57](https://user-images.githubuserconte

[2017-06-13 09:22] #89 closed

[2017-06-13 09:26] iddan opened #98 "Differenciate keys from variables"
So much red makes it hard to identify keys
*screenshot*
![screen shot 2017-06-13 at 12 22 07](https://user-images.githubusercontent.com/12671072/27075609-5833e91e-5033-11e7-99de-b6186a339971.png)
*code*
[code]

[2017-06-13 19:38] SuperGeekJake opened #99 "Colorize TODO/FIXME comments"
As seen on line 20 of this screenshot.

![](https://i.github-camo.com/f15ae70a5e4f1078889fba95bcfdfdec75306a28/68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6d726f64616c67616172642f61746f6d2d746f646f2d73686f772f6d61737465722f73637265656e73686f74732f707265766965772e706e67)

[2017-06-14 01:35] Binaryify commented on #99
You should install this extensions
https://marketplace.visualstudio.com/items?itemName=wayou.vscode-todo-highlight
![image](https://user-images.githubusercontent.com/12221718/27111749-d1378b52-50e4-11e7-8d27-d04803fcfdfd.png)

[2017-06-14 01:45] Binaryify commented on #98
You can see this issues https://github.com/Binaryify/OneDark-Pro/issues/87

[2017-06-14 08:58] Binaryify commented on #95
![image](https://user-images.githubusercontent.com/12221718/27124105-8a054eca-5122-11e7-8f37-3eed5f7dc2f7.png)
![image](https://user-images.githubusercontent.com/12221718/27124106-8a49548a-5122-11e7-8fa3-5a50fda15684.png)
They have same scope in VS Code, so it can't support now, but when VS Code support it, I will update it

[2017-06-14 09:03] #88 closed

[2017-06-14 09:03] #65 closed

[2017-06-14 11:40] NickolasGame commented on #95
Understand you. Will it good if i will open an issue?(TO vscode)

[2017-06-14 11:48] Binaryify commented on #95
Maybe

[2017-06-14 12:05] ajitid commented on #96
Current colors are quite popping and do not match with the theme

[2017-06-14 13:37] #98 closed

[2017-06-14 13:46] iddan commented on #87
Maybe keys should be white like in Atom unless they are strings?

[2017-06-17 02:12] #99 closed

[2017-06-17 02:22] Binaryify commented on #96
Can you provide some screenshot?

[2017-06-17 02:22] #95 closed

[2017-06-17 02:57] ajitid commented on #96
![capture](https://user-images.githubusercontent.com/26769888/27249558-168b4a1a-5336-11e7-80bd-b11790e7242c.PNG)
I am asking to change this red squiggle color of error. Same for warning's squiggle color.

[2017-06-17 03:21] Binaryify commented on #96
What color do you think is better ?

[2017-06-17 03:23] ajitid commented on #96
Same colors which are in Aron's One Dark theme

[2017-06-17 04:52] Binaryify commented on #96
![image](https://user-images.githubusercontent.com/12221718/27250239-db2e3c04-535b-11e7-84d8-d46c4d5ad028.png)

How about it ?

[2017-06-17 05:22] ajitid commented on #96
This is better.

[2017-06-17 05:26] ajitid commented on #96
Warning squiggles have acceptable color, but if you think it also needs a change then change it too.

[2017-06-17 05:26] ajitid commented on #96
Maybe orange. Maybe.

[2017-06-17 05:49] Binaryify commented on #96
![image](https://user-images.githubusercontent.com/12221718/27250482-bcc53148-5363-11e7-8799-974bc60980b2.png)
I think orange isn't a good choice

[2017-06-17 06:00] ajitid commented on #96
Okay then choose the color you prefer for warning, just ensure that it goes well with the theme.

[2017-06-17 06:49] Binaryify commented on #59
@will-stone
It support now, what color do you think is better?

[2017-06-17 13:46] Binaryify commented on #96
Will update when I resolve this issue
https://github.com/Binaryify/OneDark-Pro/issues/59

[2017-06-19 03:24] Binaryify commented on #96
Done ~
Please update and check it, thx ~

[2017-06-19 06:23] #96 closed

[2017-06-19 08:21] zoffyzhang opened #100 "用户反馈"
- peek implementation (Ctrl+Shift+F12) 的背景色为橘色看不清楚
- 我感觉斜体并不适合中文，所以注释的font-style能不能改成normal？

---

（我有修改本地配置但是每次插件更新后都被删掉了）

[2017-06-19 08:34] Binaryify commented on #100
默认的橘色确实看不清楚,有什么颜色推荐吗,注释下次更新可以改为 normal

[2017-06-19 09:05] zoffyzhang commented on #100
不好意思，对颜色搭配没有研究

[2017-06-19 09:36] Binaryify commented on #100
我今晚调下

[2017-06-19 11:46] will-stone commented on #59
@Binaryify Atom uses `rgba(171, 178, 191, 0.15)` converting the rgb to hex gives `#abb2bf`. Using [this Stackoverflow answer](https://stackoverflow.com/a/17239853) to get the correct alpha, gets you `#abb2bf26`. So I'd suggest using that to keep in line with Atom's One Dark Theme.

[2017-06-20 02:00] Binaryify commented on #100
![image](https://user-images.githubusercontent.com/12221718/27313187-47f1deaa-559f-11e7-8f48-2c43af7c0f5f.png)
这样如何

[2017-06-20 02:09] zoffyzhang commented on #100
看起来可以，you're the author, you decide

2017-06-20 10:00 GMT+08:00 阿发 <notifications@github.com>:

[2017-06-20 02:22] Binaryify commented on #100
@zoffyzhang
已更新

[2017-06-20 15:39] #59 closed

[2017-06-20 15:39] #100 closed

[2017-06-20 18:22] jens1o opened #101 "missing style for `support.variable.property.process.js`/ts"
can't contribute it myself, because I have limited internet bandwidth atm.

[2017-06-21 03:05] Binaryify commented on #101
Can you provide some code?

[2017-06-21 03:50] jens1o commented on #101
[code]
![image](https://user-images.githubusercontent.com/11234139/27366313-949b1694-5645-11e7-8b05-b45f16ed6106.png)

[2017-06-21 03:56] Binaryify commented on #101
你觉得它应该是什么颜色

[2017-06-21 04:03] Binaryify commented on #101
In Atom it was red
![image](https://user-images.githubusercontent.com/12221718/27366577-a0ab82be-5679-11e7-87c5-d84f66064274.png)

[2017-06-21 11:49] jens1o commented on #101
Hmm... Maybe some yellow? Because then it's clear it's a special variable.

[2017-06-21 12:18] Binaryify commented on #101
How about this ?
![image](https://user-images.githubusercontent.com/12221718/27383708-be5dd9ca-56be-11e7-8523-f2dc9910f84a.png)

[2017-06-21 12:39] jens1o commented on #101
Yes, that's good!

[2017-06-21 12:59] jens1o opened #103 "missing `support.variable.object.node.js`"
[code]

![image](https://user-images.githubusercontent.com/11234139/27385259-43f5fa36-5692-11e7-9d61-a951bdd5f386.png)

[2017-06-21 13:00] jens1o commented on #103
I would contribute it, but which color?

[2017-06-21 13:09] Binaryify commented on #103
Maybe #d19a66

[2017-06-21 13:18] #103 closed

[2017-06-21 14:26] ajitid opened #105 "Color debug toolbar/popup"
![capture](https://user-images.githubusercontent.com/26769888/27389345-b84671bc-56bb-11e7-9090-d810d4f24771.PNG)

[2017-06-21 14:29] Binaryify commented on #105
Can you provide detail info?

[2017-06-21 14:33] ajitid commented on #105
`"debugToolBar.background"` isn't colored.

[2017-06-21 14:45] Binaryify commented on #105
Thx ~
Will look like this
![image](https://user-images.githubusercontent.com/12221718/27390188-3bb0fde4-56d3-11e7-834b-0f9598e5ec78.png)

[2017-06-21 14:45] Binaryify commented on #105
Will update tomorrow

[2017-06-21 14:46] ajitid commented on #105
Okay thanks. There are more elements not colored. Do I put them here or make a new issue for them?

[2017-06-21 14:47] jens1o commented on #105
Rather create a new issue.

[2017-06-21 14:47] #105 closed

[2017-06-21 14:47] jens1o commented on #105
@Binaryify Could you push these changes please and reference it here?

[2017-06-21 14:49] Binaryify commented on #105
@jens1o
Wait for minutes

[2017-06-21 15:04] Binaryify commented on #105
@jens1o
Done

[2017-06-21 15:08] jens1o commented on #105
https://github.com/Binaryify/OneDark-Pro/commit/c51f1337e9e3d8e0b5b7ad5da83af186c9cd36aa

[2017-06-21 15:21] ajitid opened #106 "Coloring few theme elements"
Coloring (in the pic) "1 Unsaved" and "Total 450 settings" with
[code]

![capture](https://user-images.githubusercontent.com/26769888/27391899-ccbedc4a-56c2-11e7-973c-d2fa8e1ec0ac.PNG)

--------------------

Coloring "Go to next error or warning" (Keyboard shortcut: F8) popup

![capture](https://user-images.githubusercontent.com/26769888/27392078-4578e2fc-56c3-11e7-96a8-a16b800685f0.PNG)

That who

[2017-06-21 15:37] Binaryify commented on #106
Will fix it tomorrow

[2017-06-21 17:33] akamud commented on #94
Take a look at [this theme](https://marketplace.visualstudio.com/items?itemName=akamud.vscode-theme-onelight) in the marketplace. It is maintained by me and it's also [open source](https://github.com/akamud/vscode-theme-onelight).

[2017-06-22 01:56] Binaryify commented on #106
Seem only can change background color
![image](https://user-images.githubusercontent.com/12221718/27413979-1ce79c3e-5731-11e7-93ca-79d74c6b8fef.png)

[2017-06-22 05:20] ajitid commented on #106
Okay color these then.

[2017-06-22 05:51] #106 closed

[2017-06-22 05:51] #101 closed

[2017-06-22 05:51] #94 closed

[2017-06-22 14:56] jens1o opened #108 "php font style italic does not work on comments"
explicitly setting font style to `italic` resets the behavior here:
![image](https://user-images.githubusercontent.com/11234139/27440659-b2c619f8-576b-11e7-8586-b8b5b5884a46.png)

(Note the line in the middle is not italic)

[2017-06-22 15:01] Binaryify commented on #108
Some people doesn't like italic in comment
https://github.com/Binaryify/OneDark-Pro/issues/100
It use Chinese language, but you can use transform software to read it

[2017-06-24 08:59] ajitid commented on #54
But this theme doesn't get updates

[2017-06-24 09:45] Binaryify commented on #54
@ajitid
Oh, I forget it, now it update

[2017-06-24 10:38] will-stone commented on #54
Is the plan to deprecate the old version? I'm not sure what the process would be, just interested.

[2017-06-26 12:41] Binaryify commented on #54
@will-stone
I don't know what to do better

[2017-06-28 09:52] JohannWNel opened #110 "html - Issue rendering tag colours when containing 'script' key word as prefix"
Good day

![image](https://user-images.githubusercontent.com/29751181/27631127-c9ca5796-5bf7-11e7-9ae5-e744081e16c0.png)

As seen above, the issue is that it detects the script key word and renders the colours based off of the first hit instead of using the the entire tag. Not such a big deal on the single tag but then casues the rest of the colours not to rendered.

Kind Regards
Johann

[2017-06-28 17:12] Deltatiger opened #111 "Request color change in Python"
Is it possible to change the single line comment in Python to the same of the docstring or something that is little brighter. Currently it is blending with the background and makes it hard to read sometimes.

Especially when that is the current line the highlight makes it even more difficult to read.

![one dark pro - python - single line comment](https://user-images.githubusercontent.com/1459811/

[2017-06-28 18:04] jens1o commented on #110
Could we get the full file, otherwise we can't get down to the problem?

[2017-06-29 03:32] Binaryify commented on #111
Can you provide the code in your screenshot?

[2017-06-29 08:32] JohannWNel commented on #110
Thank you in advance, here is code, could not attach html file.

`<div class="col-md-12 col-sm-12 col-xs-12 script-wrapper">
    <script-editor [text]="scriptEditorOptions.scriptContent" class="script-container" [theme]="'textmate'" (textChanged)="onScriptChanged($event)" [autoUpdateContent]="true" [options]="defaults" style="display:block;width:100%" [style.height]="scriptEditorOptions.height + '

[2017-06-29 08:40] jens1o commented on #110
`[readOnly]` attributes are not allowed in html. You may want to use `readOnly` instead.

[2017-06-29 08:45] JohannWNel commented on #110
I am using angular2 and the <script-editor> element is a component that accepts that as a @Input() for the component.

[2017-06-29 08:46] jens1o commented on #110
In which language mode are you? As far as I know, it should be somewhat like `jsx`.

[2017-06-29 08:49] JohannWNel commented on #110
Well it should be defaulted to html, as that is the file type I'm working on.

[2017-06-29 08:52] JohannWNel commented on #110
But as I mentioned it hits on the 'script' part of the tag, because it is happening on another file of mine as well with a different tag name.

`
<div class="script-dialog-container">
    <div class="script-modal-backdrop" *ngIf='_show' (click)="close()">
        <div class="script-modal" *ngIf='_open' [@modalIn] (click)="$event.stopPropagation();">
            <div class="close" (click)="close()"

[2017-06-29 08:52] jens1o commented on #110
But html does not support that syntax. If you really think this is a bug, you need to file an issue at `vscode`'s repo, because they handle the grammar, we just colorize the entities.

[2017-06-29 08:54] JohannWNel commented on #110
Alright i see what you mean that it is out of your hands.
But yea there is support for it as the other components that are not prefixed with script are perfectly fine.

[2017-06-29 08:55] jens1o commented on #110
Please reference the issue, so as soon as they implemented it, we can colorize it.

[2017-06-29 09:01] JohannWNel commented on #110
Do you want this to be fixed from your end, because its going to be too much of a hassle to include `vscode` for such a small problem, and they will definitely not prioritize it (4,235 pending issues, if you know what i mean)

[2017-06-29 09:06] Binaryify commented on #110
@JohannWNel
If the origin editor scope doesn't improve, we can't colorize it.
Even Atom doesn't support this syntax, and other theme in vs code doesn't it too

![image](https://user-images.githubusercontent.com/12221718/27679996-f4eaef44-5cec-11e7-89cf-a2f49e0e4ca5.png)
![image](https://user-images.githubusercontent.com/12221718/27680030-112431f2-5ced-11e7-89fe-39e35e778d82.png)
![image](https://u

[2017-06-29 09:34] JohannWNel commented on #110
Wow i see but thank you anyway for the help and assistance, i really appreciate it 😄

[2017-06-29 09:55] Deltatiger commented on #111
"""
    Module that contains the grouping of various configuration keys used to store important information
    """
    from enum import Enum

    class GoogleSheetConfigKeys(Enum):
        '''
        Contains the Keys used with reference ot the Google Sheet details
        '''
        # This is for Students Form
        StudentsFormName = 'StudentsForm'
        StudentsFormURL = 'StudentsFormURL

[2017-07-01 12:32] jens1o commented on #27
The problem has been fixed, the php grammar has been updated. Anyway, @Binaryify could you consider publishing a new version?

[2017-07-01 12:32] #27 closed

[2017-07-01 12:35] Binaryify commented on #27
@jens1o
Oh~, I forgot it

[2017-07-04 02:52] Binaryify commented on #77
@SeanGroff
I think if you install the styled-components extend will be better
https://marketplace.visualstudio.com/items?itemName=jpoissonnier.vscode-styled-components

![image](https://user-images.githubusercontent.com/12221718/27813174-a39dc39c-60a6-11e7-8002-8063989a34a2.png)

[2017-07-04 03:03] SeanGroff commented on #77
Yep I've always used the styled-components extension @Binaryify.
The issue I experienced was the Babel ES6/ES7 VS Code extension was conflicting with the styled-components extension.
Thank you for the suggestion though.

[2017-07-04 03:04] #77 closed

[2017-07-08 16:03] #108 closed

[2017-07-10 04:28] jens1o commented on #110
Closing due to inactivity on this issue.

[2017-07-10 04:28] #110 closed

[2017-07-10 04:28] jens1o commented on #111
@Binaryify Are you working on this? Otherwise I'll give it a shot.

[2017-07-10 04:29] jens1o commented on #54
@Binaryify I think with the next update, we should place a notice, so that more and more users are installing the new version.

[2017-07-10 04:56] Binaryify commented on #111
@jens1o
Not yet

[2017-07-11 03:24] Binaryify commented on #54
@jens1o @will-stone
I think we can make it be a "Beautiful mistake"

[2017-07-11 03:55] jens1o commented on #54
So we're just using the old version, even though it's identifier is wrong?

[2017-07-11 05:36] Binaryify commented on #54
@jens1o
I think that's acceptable

[2017-07-11 14:46] jens1o commented on #54
So we can close this issue? Maybe you pull down the new version?

[2017-07-14 14:47] bidiu opened #115 "Seems minimap doesn't work in this awesome theme?"
- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:21:47.485Z)
- OS Version: Windows_NT ia32 10.0.15063
- Extensions:

|Extension|Author|Version|
|---|---|---|
|tortoise-svn-for-vscode|cdsama|0.1.1|
|tslint|eg2|0.16.0|
|vscode-icons|robertohuertasm|7.10.1|
|Material-theme|zhuangtongfa|2.9.3|;

[2017-07-14 17:48] jens1o commented on #115
Can you elaborate, please?

It's working fine for me:
![image](https://user-images.githubusercontent.com/11234139/28223897-6d56fb6c-68cd-11e7-95ca-64ef668263be.png)

[2017-07-14 22:15] Sartan4455 opened #116 "JS coloring has issues with strings that have double quotes"
version 2.9.3
comments should be grey, variables red, but mixing in strings and what not causes issues
It looks like it doesn't handle single quoted strings with double quotes inside.
![gone-wrong](https://user-images.githubusercontent.com/1134294/28232727-906f8a38-68af-11e7-8735-e42d60de306a.png)

[2017-07-15 06:24] jens1o commented on #116
Can you please give us the code? I don't like to copy it with my hand... :/

[2017-07-15 06:50] jens1o commented on #111
Okay, I took a look. Actually, it's a bug that the docstrings aren't marked as comments...

BUT!

I think we should consider whether we can darken the background current-line color... I think that would solve many other bugs...

[2017-07-15 16:31] niamleeson opened #117 "Possible to have some settings as default in settings.json?"
Thank you for the best theme ever made.

I really don't like italics so I've edited OneDarkPro.json and I've been copy pasting every update. It's kind of annoying to update it every week. Is it possible to have some scope defaults in settings.json so I don't have to worry about them?

[2017-07-15 18:49] jens1o commented on #117
No, that's not possible. Can you post your changes? Maybe we can consider them using them natively?

[2017-07-15 19:19] niamleeson commented on #117
I used to just remove these two blocks, but setting them to `normal` also seems to work. I might be using them incorrectly, but here are the changes:

[code]

[2017-07-16 07:32] jens1o commented on #117
Well, I understand your changes, and personally, I'm also for removing these blocks. But this is not my theme, but @Binaryify ones. I'm just helping and contributing to him... :/

Maybe we reconsider this @Binaryify @will-stone ?

[2017-07-16 07:52] Binaryify commented on #117
Seem it can't been a setting in "settings.json"
Everyone's aesthetic is different. Some people doesn't like italic, some people like italic

[2017-07-16 08:55] will-stone commented on #117
Hmmm, I think I'd go with the opposite and make italics opt-in; from what I can tell, Atom doesn't use italics and so would follow this first. Add a second theme file with the following.

[code]

I've done something similar with my theme. It allows you to add customisations without having to maintain two whole themes.

[2017-07-16 09:15] Binaryify commented on #117
@will-stone
Good idea

[2017-07-17 16:08] bidiu commented on #115
@jens1o today I updated my VS Code to 1.14.1, and it works! I am not sure if it's because of my VS Code update, but I will close this issue. Thanks a lot for your information.

[2017-07-17 16:08] #115 closed

[2017-07-17 16:51] Sartan4455 commented on #116
Wrote some code that gives examples of this issue

	/**
	 * Normal comments, colored correctly
	 *
	 * @namespace Some.NameSpace
	 *
	 * @class Some.NameSpace.Class
	 */
	window.coloringIssue = new Class({

		'optionHash': {
			'stringWithHtml': '<div id="filterCards"><div class="cards"></div></div>',
			'incorrectlyColoredVariableShouldBeRed': Some.NameSpace.Class.variable, // incorrectly colored

[2017-07-17 16:56] Sartan4455 commented on #116
I don't recall seeing this until recently - perhaps 2.9.2 caused some regressions?

[2017-07-17 17:44] jens1o commented on #116
On the first look, this looks like a `vscode` bug. I'll look into this later.

[2017-07-17 17:47] Sartan4455 commented on #116
I think you are right.  I tried a few other themes(including the default) and they have the issue too.

[2017-07-17 17:50] jens1o commented on #116
Yes, it is. I had a look and when you try it out in insiders version, it works:
![image](https://user-images.githubusercontent.com/11234139/28281999-2bf107cc-6b29-11e7-9bef-4e2565a68c7e.png)

So this will be fixed with 1.15 next month. I'm afraid, but there's nothing we can do.

[2017-07-17 17:50] #116 closed

[2017-07-17 17:51] Sartan4455 commented on #116
No worries.  Thanks for the responses!

[2017-07-17 17:54] jens1o commented on #116
Thanks for the example :P

[2017-07-18 06:35] vikrantnegi opened #118 "color issue for some CSS values and selectors for sass (SCSS)"
I've noticed that there are some properties and selectors that are showing the wrong color for SASS(SCSS)

Following are the one I've found.

1. Cursor: pointer;
2. Date

<img width="947" alt="screen shot 2017-07-18 at 12 02 57" src="https://user-images.githubusercontent.com/3294287/28303553-691cc068-6bb1-11e7-825d-6d8f565a1c12.png">

[2017-07-18 06:49] Binaryify commented on #118
'cursor' really had wrong color
'date' is not a standard tag

[2017-07-18 07:26] Binaryify commented on #118
@vikrantnegi
This is a bug for vscode
https://github.com/Microsoft/vscode/issues/30907

[2017-07-18 08:39] vikrantnegi commented on #118
Ok thanks. Didn't knew that.

[2017-07-19 08:20] bardiarastin opened #119 "background color on select"
first of all, thanks for this awesome theme !

in vscode when i click on a variable, editor by default makes it's background blue, then when i select some characters of it, the selected part is not enough obvious.
![download 5](https://user-images.githubusercontent.com/20615964/28357473-c328a37c-6c80-11e7-82af-21914be5f496.png)

[2017-07-19 08:44] Binaryify commented on #119
Got it

[2017-07-19 08:48] Binaryify commented on #119
@bardiarastin
Done

[2017-07-19 08:50] bardiarastin commented on #119
@Binaryify , really quick ! great work :)

[2017-07-19 08:55] bardiarastin commented on #119
it's gone worse ! actually i can't see selected characters of variables anymore !
below i've selected 3 characters in middle of travelers const but i can not see what i've selected :(
![download 6](https://user-images.githubusercontent.com/20615964/28358818-852e3276-6c85-11e7-9a1c-f3b46cf2888d.png)

[2017-07-19 09:03] Binaryify commented on #119
Wait for minutes

[2017-07-19 09:06] Binaryify commented on #119
What background color do you want?

[2017-07-19 09:07] bardiarastin commented on #119
maybe something more light or more dark, so i can recognize characters that i've selected easily ...

[2017-07-19 09:18] Binaryify commented on #119
How about this
![image](https://user-images.githubusercontent.com/12221718/28359857-35476f9a-6ca6-11e7-872a-17ef6622fda2.png)

[2017-07-19 09:22] bardiarastin commented on #119
this is the actual problem, you've selected "tra" in const ">tra<"velers and it's not highlighting that 3 characters

[2017-07-19 09:38] Binaryify commented on #119
I saw it

[2017-07-19 09:44] Binaryify commented on #119
How about this
![image](https://user-images.githubusercontent.com/12221718/28361006-dd64afc8-6ca9-11e7-993b-bde9452bc93a.png)

[2017-07-19 09:46] bardiarastin commented on #119
really good ! would you please say my name in change log ? having contribution on a package which has over 1.2 million user is super exciting ... ;-)

[2017-07-19 09:51] Binaryify commented on #119
@bardiarastin
Will like this
![image](https://user-images.githubusercontent.com/12221718/28361261-d26eb70c-6caa-11e7-8682-ec7e81fd6cc9.png)

[2017-07-19 09:53] bardiarastin commented on #119
thanks :+1:

[2017-07-19 09:53] #119 closed

[2017-07-19 09:54] Binaryify commented on #119
@bardiarastin
Done

[2017-07-20 02:21] Naruto-Sasuke opened #121 "Comments are not easy to read for the low contrast to the background"
I think it is better to darken the comments a little bit.

[2017-07-20 02:22] Binaryify commented on #121
Could you provide some screenshot?

[2017-07-20 02:42] Naruto-Sasuke commented on #121
![_101](https://user-images.githubusercontent.com/7830725/28398079-116b87d6-6d38-11e7-9cf9-3bfaf823fe37.png)
I think it is a bit hard to read the comments.

[2017-07-20 02:44] Naruto-Sasuke commented on #121
![_102](https://user-images.githubusercontent.com/7830725/28398124-4f4d60ba-6d38-11e7-8bbe-b610558391ec.png)
I think it is a little hard to read the comments

[2017-07-20 14:24] jens1o commented on #121
@Binaryify What do you expect, should we make the comments a little bit brighter?

I'm busy, but I try to figure out the best-fit color as soon as possible.

[2017-07-20 14:39] Binaryify commented on #121
@jens1o
Actually I don't think make the comments be brighter is a good idea
How about you

[2017-07-21 20:32] ergenekonyigit opened #122 "Is this color scheme package will update to new Atom's One Dark colorscheme?"
As you can see, atom's new updated one dark colorscheme is more vivid then current vscode version. Any plan for update colors?
* Left - VS Code | Right - Atom
![screen shot 2017-07-21 at 23 24 43](https://user-images.githubusercontent.com/7110136/28481194-9bacc04c-6e6c-11e7-87e4-468704283d0f.png)

[2017-07-21 21:14] jens1o commented on #122
Good catch! But this is up to @Binaryify

[2017-07-25 05:26] customht opened #125 "Theme more vibrants than on Atom"
Hi,

This theme is more vibrant than the Atom theme. Is VSCode not using the same display color profile as Atom? Atom is softer (which I prefer and matches the screenshots).

TIA!

VSCode left, Atom right

<img width="792" alt="screen shot 2017-07-25 at 3 25 10 pm" src="https://user-images.githubusercontent.com/28520174/28557038-8a3906c0-714d-11e7-8f94-7ca461891ab9.png">

[2017-07-25 12:47] Binaryify commented on #125
Will improve this when I merge this PR
https://github.com/Binaryify/OneDark-Pro/pull/123

[2017-07-25 13:04] lprhodes commented on #125
I don't believe so,  that pull request looks to make VSCode even more vivid.

At the moment the colors used are correct but VSCode is still more vibrant.

It could be related to this https://github.com/Microsoft/vscode/issues/24569

[2017-07-25 13:17] lprhodes commented on #125
I misread sorry, hopefully you can solve the issue but it looks like VSCode's version of electron is older than Atom's which may be cause issues on the P3 capable displays

[2017-07-25 13:26] Binaryify commented on #125
Maybe, I'll pay attention to it

[2017-07-25 13:54] niamleeson commented on #122
The new color looks way too vibrant... Is it just me?

[2017-07-27 05:38] #122 closed

[2017-07-27 14:31] vvs commented on #125
Hi folks, I tried the latest color changes from the master, namely #123 and I must say, it is now painful for me to look at my code. WAAY too vivid.

Even before the change the colors in VS Code were a bit more vivid as compared to Atom, but with these even more vivid colors from #123 is is painfully obvious the difference.

If possible, could you please make those more vivid colors as a separate

[2017-07-27 14:57] vvs opened #126 "Bring JavaScript constants color in sync with Atom"
Currently, in 2.9.8, JavaScript's constants color is: `#e5c07b`

In the latest Atom 1.19-beta5, the color for JS constants in Dark One theme is: `#d19a66`, which is much more pleasant to my eyes (and less vivid and not so out-of-place for this dark theme).

[2017-07-27 14:59] Binaryify commented on #126
You can see this
https://github.com/Binaryify/OneDark-Pro/pull/123

[2017-07-27 15:14] vvs commented on #126
@Binaryify thanks for the quick response!

But #123 does not in fact changes these colors (for JS constants). Not to mention that the whole change in #123 is way, way too vivid for me to be usable :(

[2017-07-27 15:30] vvs commented on #125
Here's what I see on my PC.

First, for the reference, the Atom 1.19 beta5:
![atom-1 19 betea5](https://user-images.githubusercontent.com/9781/28678506-deb6ca44-72f0-11e7-9f40-bc009959a20f.png)

Then VS Code with Dark One theme v. 2.9.8:
![vs_code_2 9 8](https://user-images.githubusercontent.com/9781/28678535-ed5d462c-72f0-11e7-8257-820263b180ce.png)

And this is from the latest master, with even

[2017-07-28 01:26] Binaryify commented on #126
Oh, I misunderstand that, will improve that, thx~

[2017-07-28 13:07] jens1o opened #128 "PHP: $this is now splitted into two parts (and italic)"
this looks really ugly...

![image](https://user-images.githubusercontent.com/11234139/28718460-67bfe2ac-73a6-11e7-9249-42caf177c69a.png)

[2017-07-28 13:15] Binaryify commented on #128
I had been fix that

[2017-07-28 13:25] jens1o commented on #128
thanks for the rapid response, will check.

[2017-07-28 13:26] jens1o commented on #128
fixed, thanks!

[2017-07-28 13:26] #128 closed

[2017-07-28 14:17] jens1o commented on #125
That's a good idea @vvs ! I thought @Binaryify impleented it like you said, in an external theme, as long as we're still exploring it...

[2017-07-28 14:28] vvs commented on #125
@jens1o I checked the latest freshly released version and it is so, there are two themes, the main one and another one.

But for some reason, the vivid theme is called `One Dark Pro xxx` and not really enabled, since it references the wrong file name.

[2017-07-28 14:37] jens1o commented on #125
Thank you, we'll fix that with the next recovery release... @Binaryify Do you do that or should I fix that problem?

[2017-07-28 15:53] Binaryify commented on #125
Oh, my mistake, will fix that tomorrow

[2017-07-29 02:32] Binaryify commented on #126
I improve it, please update and check it, thx~

[2017-07-29 02:33] Binaryify commented on #125
@jens1o
Done

[2017-07-29 06:28] vvs commented on #125
@Binaryify I'd also change the name of the vivid theme. Currently, it is rather cryptic `One Dark Pro xxx`

Something like `One Dark Pro Vivid` would be much better, I think.

[2017-07-29 06:38] Binaryify commented on #125
@vvs
I just publish a new version, sorry

[2017-07-29 07:10] vvs commented on #126
@Binaryify, almost there, thank you!

I've created a PR to fix the remaining part (JS math colors): #130

[2017-07-29 07:11] Binaryify commented on #126
@vvs
I see it

[2017-07-29 07:35] vvs commented on #126
And this issue can be considered fixed now. Thanks!

[2017-07-29 07:35] #126 closed

[2017-07-29 07:46] vvs commented on #121
@Binaryify, @jens1o I actually agree that the current comment color is way too close to the background, and it doesn't match the color in the original Atom's theme.

There, the color is: `#818998`.
In OneDark pro the color is ; `#5c6370`

If you wish, I could create a PR that fixes this and brings the comments in sync with the original theme, and it will make them much easier to read.

[2017-07-29 07:48] Binaryify commented on #121
@vvs
Yes

[2017-07-29 08:13] vvs commented on #121
Ah, sorry for the confusion. The brighter color in Atom (`#818998`) was my own setting overriding the original `#5c6370`.

So, I am not sure what to do. OneDark Pro is already currently fully in sync with Atom theme w.r.t. comments.
I'd assume it would be good to be in sync with the original theme, and not divert from it too much. So the issue of hard to read comments should be reported to the ori

[2017-07-29 08:48] jens1o commented on #121
I also don't know what to do, sorry.

[2017-07-31 03:26] danielpost opened #131 "(S)CSS selectors shown in italics"
In my .scss files, the selectors are now shown in italic font. Is this expected behavior? If so, is there an easy way to change this?

![image](https://user-images.githubusercontent.com/1713699/28761696-8a4311c6-757e-11e7-91d0-8f8f209c81e5.png)

[2017-07-31 03:39] Binaryify commented on #131
That was a mistake, will fix it soon

[2017-07-31 03:42] Binaryify commented on #131
@danielpost
Done

[2017-07-31 03:42] danielpost commented on #131
That was fast! Thanks!

[2017-07-31 03:52] danielpost commented on #131
It seems to still be in italics for pseudo-elements. Is that on purpose?

[2017-07-31 03:59] Binaryify commented on #131
How about now

[2017-07-31 04:07] danielpost commented on #131
Perfect!

I hope I'm not bothering you too much but I encountered some color issues as well:

![image](https://user-images.githubusercontent.com/1713699/28762360-dd8619be-7583-11e7-932a-c4f297c41eb0.png)

![image](https://user-images.githubusercontent.com/1713699/28762375-fb67171c-7583-11e7-99d4-323edc8c5677.png)

![image](https://user-images.githubusercontent.com/1713699/28762378-0228ac6e-7584-11

[2017-07-31 04:09] Binaryify commented on #131
Can you provide your code in the screenshot?

[2017-07-31 04:10] danielpost commented on #131
What do you mean exactly? In pseudo-elements, 'content' is colored weirdly and in transition 'top', 'bottom', 'background' are off (maybe also 'left' and 'right', haven't tested).

[2017-07-31 04:14] Binaryify commented on #131
you can see this issue
https://github.com/Microsoft/vscode/issues/30907

[2017-07-31 14:04] TiemenSch opened #132 "OneLight-Pro?"
Thanks for porting this awesome theme to VSCode! Is there any chance of an OneLight-Pro version? There seems to be a severe lack of light themes in the marketplace and Atom One Light is perhaps the most elegant one out there.

[2017-07-31 15:43] ikatyang commented on #132
See #94.

[2017-07-31 19:39] jens1o commented on #132
thanks @ikatyang

[2017-07-31 19:39] #132 closed

[2017-07-31 19:41] jens1o opened #133 "Add php screenshot to the extension's readme"
since it is pretty well maintained by me, I think we can show that to the public, because not many themes are supporting php like this.

[2017-08-01 01:30] Binaryify commented on #133
How about this?
![image](https://user-images.githubusercontent.com/12221718/28805352-02d3a100-769c-11e7-933b-90e5f132141d.png)

[2017-08-01 10:08] jens1o commented on #133
Maybe something with more docblocks? Like this file: https://github.com/WoltLab/WCF/blob/master/wcfsetup/install/files/lib/system/WCFACP.class.php

[2017-08-01 12:44] Binaryify commented on #133
Like this?
![image](https://user-images.githubusercontent.com/12221718/28825750-1f3863a4-76fa-11e7-9b6a-e7d5cb9ff9ce.png)

[2017-08-01 16:59] jens1o commented on #133
Yeah, like this. But it seems you're don't have latest version installed, because then `boolean` and `string` would be styled.

[2017-08-02 02:13] Binaryify commented on #133
@jens1o
I sure I have latest version installed

[2017-08-02 08:04] jens1o commented on #133
Ah... sorry. You need to have the latest insider version installed too. So, at the moment, it looks like this...

![image](https://user-images.githubusercontent.com/11234139/28863619-028bd270-776a-11e7-97e6-b0c02eb73fc7.png)

[2017-08-02 08:11] Binaryify commented on #133
Like this?
![2017-08-02 4 10 07](https://user-images.githubusercontent.com/12221718/28863885-2b894814-779d-11e7-9c1a-326f5a4a6321.png)

[2017-08-02 08:12] jens1o commented on #133
Yeah, that's it. 1.15 will arise soon, so that shouldn't be a problem.

[2017-08-02 08:14] Binaryify commented on #133
OK, will add this screenshot

[2017-08-02 08:14] jens1o commented on #133
Thanks!

[2017-08-02 08:22] Binaryify commented on #133
@jens1o
Done

[2017-08-02 09:14] jens1o commented on #133
Thx. ~~

[2017-08-02 09:14] #133 closed

[2017-08-06 11:21] jens1o opened #134 "Java looks ugly."
![image](https://user-images.githubusercontent.com/11234139/29002760-151b7006-7aaa-11e7-8e71-31ec2abb2207.png)

definitly need to work on it.

[2017-08-08 10:45] Yensan opened #135 "hard to find mouse cursor in dark theme"
https://github.com/Microsoft/vscode/issues/32132
- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e,2017-07-19T23:34:09.706Z)
- OS Version: Windows_NT ia32 6.1.7601
- Extensions:
include-autocomplete|ajs|0.0.4
python|don|0.7.0
cpptools|ms-|0.12.2
Ruby|reb|0.13.0
vscode-icons|rob|7.12.0
---
Most of IDE's mouse cursor ( Not that insert cursor) is dark. When editor's background i

[2017-08-08 11:34] jens1o commented on #135
Can you show a screenshot? Personally, I don't "see" the problem.

Then we'll do a fix.

[2017-08-08 17:03] Yensan commented on #135
@jens1o
![2017-08-09 00 56 54](https://user-images.githubusercontent.com/16527206/29084187-c8177fca-7c9d-11e7-91e7-0521b1713ea6.png)
Insert cursor : the cursor that means "you input someting here"
Mouse cursor : the cursor that means "where is my mouse"
In Mac，all of them is bright ( or just white) which is obvious.
But in Windows, ehm..... Insert cursor is bright, Mouse cursor is dark. So it is p

[2017-08-08 18:52] jens1o commented on #135
Err, I'm sorry, but unfortunately there's nothing we can do as far as I understand, this is a more vscode issue, and I even don't know whether there is a way to fix it. 😢

[2017-08-10 02:04] Binaryify commented on #134
I just got back from my holiday, will fix it soon~

[2017-08-10 07:12] jens1o commented on #134
Perfect, because I lack time...

[2017-08-11 12:41] hoovercj commented on #117
FYI: You can now modify themes in settings.json

Anybody that wants to modify this themselves can simply add this:

[code]

[2017-08-11 12:49] jens1o commented on #117
@hoovercj Nice catch. And thanks for the heads up ;)

I think this issue can be closed, because you can manually overwrite it.

[2017-08-11 12:49] #117 closed

[2017-08-12 08:15] Binaryify commented on #134
@jens1o
Done

[2017-08-12 08:31] jens1o commented on #134
thx ~~

[2017-08-12 08:31] #134 closed

[2017-08-15 02:37] tradzero opened #136 "PHP highlight problem"
This [file](https://github.com/laravel/framework/blob/5.4/src/Illuminate/Foundation/Testing/TestCase.php) has highlight issue, maybe because using `use` in multi-line, and problem screenshot below.
![qq 20170815103624](https://user-images.githubusercontent.com/13845447/29300066-a6aa9086-81a5-11e7-8ddb-d29c0c3bb8cc.jpg)
![qq 20170815103633](https://user-images.githubusercontent.com/13845447/2930007

[2017-08-15 03:48] tradzero commented on #136
I found XML files has likely problem
![image](https://user-images.githubusercontent.com/13845447/29301552-8fea8de2-81af-11e7-9b7b-3bdee27174b1.png)

[2017-08-15 06:41] jens1o commented on #136
First of all, please don't show just a screenshot(and XML is different than PHP, isn't it?). When I'm trying to reproduce, I need code examples. The first is a vscode issue(https://github.com/Microsoft/vscode/issues/32495). I don't know the second one, but this is also a vscode issue. Please file an issue there and link it to here.

[2017-08-15 06:41] #136 closed

[2017-08-15 06:47] tradzero commented on #136
@jens1o got it,  thanks for explain.

[2017-08-15 07:12] jens1o commented on #136
Thanks for creating the issue! I'll keep subscribing to it, when they explore they need to break a thing.

[2017-08-15 12:40] vlaclass opened #137 "PHP syntax bug"
In block docs comment after '(' syntax is broke
![image](https://user-images.githubusercontent.com/30717302/29316299-e6f35f66-81e0-11e7-9b78-174a13cf1579.png)

[2017-08-15 13:38] jens1o commented on #137
That's also a vscode bug: https://github.com/Microsoft/vscode/issues/31169

[2017-08-15 13:38] #137 closed

[2017-08-15 22:16] noahleigh opened #138 "Python string color inconsistency"
Extension Ver: **2.10.8**
VSCode Ver: **1.15**

In Python, when enclosed by parentheses, certain strings like `%e`, `%f`, `%d` and others are colored differently from the rest of the string. This is annoying for things like [datetime format strings](https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior).

![capture](https://user-images.githubusercontent.com/5957867/2933893

[2017-08-15 22:17] jens1o commented on #138
Please provide, in general, a code snippet, not just a screenshot. Will check(and fix) this tomorrow.

[2017-08-15 22:19] noahleigh commented on #138
Snippet:
[code]

[2017-08-16 06:58] jens1o commented on #138
I'm sorry, but my `vscode - Insiders` is not working anymore. :/ Have to wait for Microsoft for a fix in the extension Host....

[2017-08-17 07:43] #131 closed

[2017-08-17 07:43] #118 closed

[2017-08-17 07:47] #121 closed

[2017-08-21 01:29] IOriens commented on #16
The conflict parts in diff files are not highlighted.
![image](https://user-images.githubusercontent.com/8137136/29500353-a07e15fa-8652-11e7-82a0-67dc9c2effb9.png)
---
vscode: Version 1.15.1 (1.15.1).
one dark pro: 2.10.8
system: macOS 10.12.6

[2017-08-21 01:35] Binaryify commented on #16
@IOriens
Can you provide your code?

[2017-08-21 04:00] IOriens commented on #16
Ok, that it. @Binaryify
[vue-wcc.diff.zip](https://github.com/Binaryify/OneDark-Pro/files/1237730/vue-wcc.diff.zip)

[2017-08-21 05:57] Binaryify commented on #16
oh, I got it, will fix it, thanks for your feedback

[2017-08-21 14:08] Binaryify commented on #16
@IOriens
done

[2017-08-21 14:17] IOriens commented on #16
@Binaryify
Just upgraded this plugin, it works now, thanks a lot.

[2017-08-21 14:25] Binaryify commented on #16
@IOriens
OK

[2017-08-21 14:25] #16 closed

[2017-08-23 23:40] mmase opened #140 "Plans for a light theme?"
Are there plans for a light theme?

[2017-08-23 23:41] mmase opened #141 "Integrated terminal font colors not styled"
Are there plans to style the integrated terminal font colors?

[2017-08-23 23:42] #140 closed

[2017-08-24 10:28] jens1o commented on #141
Can you show an example? For me, it's styled...?

[2017-08-24 13:03] mmase commented on #141
Apologies, yes it is styled, but the color pallet does not match that of One Dark - it is the same color pallet used for a dozen other pre-installed themes.

[2017-08-24 14:19] jens1o commented on #141
Okay, that makes sense... I'll take a look at it. Do you know a command with that you can get all color codes?

[2017-09-02 13:05] noahleigh commented on #138
@jens1o Any luck getting your vscode to run?

[2017-09-03 07:30] jens1o commented on #138
Ah, good ping. It works again since a week, and I forgot about it. Will look into this now. :)

[2017-09-03 12:56] ajitid opened #143 "Provide coloring to heads-up notification"
New keys are here: https://github.com/Microsoft/vscode/issues/28280

[2017-09-03 16:39] jens1o commented on #143
That's cool, but personally, I lack of what we could do there... @Binaryify Thoughts?

[2017-09-06 03:33] #138 closed

[2017-09-06 03:39] Binaryify commented on #143
will improve it

[2017-09-09 03:35] cwtuan opened #144 "not work with vscode 1.16.0"
After upgrade to vscode 1.16.0, this theme doesn't work

![image](https://user-images.githubusercontent.com/3455798/30236743-6d597b0e-94e6-11e7-977a-4cb6dd1b78b2.png)

![image](https://user-images.githubusercontent.com/3455798/30236744-77a73a6a-94e6-11e7-92f3-ad13646fcf02.png)

[2017-09-09 06:04] Binaryify commented on #144
look like you don't enable it

[2017-09-11 04:50] cwtuan commented on #144
Enable it and reload vscode. But still not work

![image](https://user-images.githubusercontent.com/3455798/30258875-ac6ee75a-9682-11e7-8360-f610f9c6dc49.png)

![image](https://user-images.githubusercontent.com/3455798/30258893-c72727ec-9682-11e7-822c-585481b1282f.png)

[2017-09-11 05:59] Binaryify commented on #144
you need apply it
https://binaryify.github.io/OneDark-Pro/#/?id=apply

[2017-09-11 15:19] cwtuan commented on #144
Thanks

[2017-09-11 15:19] #144 closed

[2017-09-14 11:52] Schvifty opened #145 "ERROR syntax color"
Hi,

WARNING syntax in .log/txt files seems to be red color but ERROR syntaxes is green.
Is it possible to change this to red also and maybe set them as **bold** text?

![image](https://user-images.githubusercontent.com/18008933/30428441-dc4b56e2-9953-11e7-87b4-1e167b5f9fed.png)

![image](https://user-images.githubusercontent.com/18008933/30428466-f1a59cdc-9953-11e7-82a1-99e0c9a46729.png)

[2017-09-15 02:02] rensa opened #146 "Some ligatures not rendering"
Not all ligatures seem to be rendered when using One Dark Pro. In particular, less than and greater than are not rendered.

Also, in R, some operators that use multiple characters, like `<-`, aren't highlighted as operators.

I'm using macOS 10.12.6, VSCode 1.16.0, One Dark Pro 2.10.11 and the Fira Code font (with ligatures enabled in the user settings).

[2017-09-16 06:43] jens1o commented on #145
May you send the code please?

[2017-09-16 06:44] jens1o commented on #146
This seems to be an vscode issue. We do not overrule ligatures at all. Please create a vscode issue and link it to here, so we can track its status.

[2017-09-16 06:44] #146 closed

[2017-09-21 16:26] jens1o commented on #125
I think we can get rid of this issue, since Visual Studio Code allows doing this since July release:
https://code.visualstudio.com/updates/v1_15#_workbench

Thoughts? @Binaryify

[2017-09-22 05:38] Binaryify commented on #125
@jens1o
Yup, What do you think we should do, update the docs?

[2017-09-22 12:18] jens1o commented on #125
Yeah, I think we should do that. Do you take that job?

[2017-09-23 20:55] Binaryify commented on #125
@jens1o
yes

[2017-09-27 01:15] Yensan commented on #135
@jens1o
hi jens1o, I have fixed this issue. This issue is not OneDark-Pro nor vs code, it is Windows system. In default mouse cursor, it is always hard to find cursor in dark color software UI. Just install and change the mouse cursor, such as "20 color.exe"

[2017-09-27 01:23] Yensan opened #148 "Comment is too dark"
When I turn on OneDark-Pro, comment text is too dark to see. Please give a brighter color and make an enough color contrast between the background color and comment text color.
vs code default theme "Default Dark+" is better in color contrast of  comment/background.  Maybe you can just folow the setting of comment text color.

[2017-09-27 14:04] jens1o commented on #135
Perfect, thanks! :)

[2017-09-27 14:04] #135 closed

[2017-09-28 01:36] Binaryify commented on #125
@jens1o
maybe will update at this weekend

[2017-10-04 16:35] garritfra commented on #148
[Fix Request :)](https://github.com/garritfra/OneDark-Pro/pull/1/commits/d425218360179f9d68017a5891cebd2271a65ba7)

[2017-10-04 17:05] jens1o commented on #148
merged, closed. Coming in the next release. :)

Thanks @garritfra

[2017-10-04 17:05] jens1o commented on #148
<< is an idiot.

[2017-10-04 17:07] jens1o commented on #148
tbh, I think the change is too extrem:
Having now:
![image](https://user-images.githubusercontent.com/11234139/31189058-42a42534-a937-11e7-98a4-feeb24974163.png)

Incoming:
![image](https://user-images.githubusercontent.com/11234139/31189065-4a3166c2-a937-11e7-98a3-8e9e39b952c3.png)

[2017-10-04 18:13] garritfra commented on #148
maybe make it a little bit darker again?

[2017-10-04 18:31] jens1o commented on #148
cc @Binaryify for his opinion.

[2017-10-05 04:52] Binaryify commented on #148
@garritfra I think that is good, could you send the PR

[2017-10-05 06:14] garritfra commented on #148
Done. Relatively new to GH so I don't know if I have done everything correctly.

[2017-10-05 06:24] Yensan commented on #148
Great job ! Thanks all of you.

Maybe he is right, because colors in this theme is designed for token or var in code, but grey is for comment / block comment.

[2017-10-06 03:17] Yensan commented on #148
May you guys think this issue is not necessary. But for a user, although I can edit the color hex code, but I don't want to edit it every time when it updating. Life is short, we need out-of-the-box theme&thing.

[2017-10-06 04:41] jens1o commented on #148
@Yensan Please keep calm. It's not the time to come up with such phrases. Of course we're on it. Remember, that we're doing this in our freetime(and for free). In 20 minutes for example, I need to go to school. You may take a look at custom modifications, [that can be located into your user settings](https://code.visualstudio.com/updates/v1_15#_user-definable-syntax-highlighting-colors).

[2017-10-06 04:48] Binaryify commented on #131
"content" & "cursor" color wrong issue had been fix at vscode version 1.7, please check it

[2017-10-06 06:36] Yensan commented on #148
Thanks you guys for the theme, and thank you for advice.

[2017-10-06 06:38] Binaryify commented on #148
@Yensan thank you too 🎉

[2017-10-06 07:20] garritfra commented on #148
should this issue be closed?

[2017-10-06 07:49] Binaryify commented on #148
@garritfra I think yes

[2017-10-06 16:56] jens1o commented on #148
@Binaryify
![image](https://user-images.githubusercontent.com/11234139/31289115-06428184-aac8-11e7-82da-9ba18d448901.png)

I think you forgot to update one. Do you take that job?

[2017-10-07 09:33] Binaryify commented on #148
@jens1o
oh, I ignore it, wait

[2017-10-07 09:42] Binaryify commented on #148
@jens1o
done

[2017-10-07 09:44] #148 closed

[2017-10-07 23:45] MaxMilton opened #150 "[FIXED] v2.10.15 comments changed"
Commit https://github.com/Binaryify/OneDark-Pro/commit/9bc463439e8b28a63220d1a5da433a94cdd7341e drastically changed how comments are styled.

This is just a quick tip for anyone who wants to revert to the old comment style. Add this to your user settings:
[code]

Thanks for the great theme, it was a big factor that allowed me to switching to VS Code from Atom :heart:

[2017-10-08 03:51] Binaryify commented on #150
thank you❤️

[2017-10-08 06:41] jens1o commented on #150
@Binaryify Personally, I would add this to the readme, and close this issue. Users will more likely read the readme than searching in the issues.

[2017-10-08 08:26] Binaryify commented on #150
@jens1o you are right, will add it to the README

[2017-10-08 08:47] Binaryify commented on #150
@jens1o donw

[2017-10-08 09:59] jens1o commented on #150
thx

[2017-10-08 09:59] #150 closed

[2017-10-12 09:34] arthurwhite commented on #150
Thanks @MaxMilton for the snippet and @Binaryify for the theme.

However, I still don't understand how 9bc4634 could be an improvement.
On the Vivid version, the comments now have the same color as any other uncolored fragment so identifying them at first sight takes more time:

![capture d ecran 2017-10-12 a 11 25 54](https://user-images.githubusercontent.com/9503891/31489210-41ed6a4c-af40-11e7-9

[2017-10-12 14:24] jens1o commented on #150
@arthurwhite The vivid version is a relict of the past. You may want to end up on using the normal version and modifying your user settings to disable the italic.

[2017-10-12 22:02] arthurwhite commented on #150
That's too bad, I really liked this energetic vibe from the Vivid.
But OK, thank you for the clarification.

[2017-10-15 03:16] RavinduL commented on #54
I accidentally uninstalled this extension upon noticing that the identifier `zhuangtongfa.Material-theme` was listed in the output of the `code --list-extensions` command 🤷‍♂️ .

It is my opinion that, despite the reputation of this extension, it should be published with a new identifier that isn't misleading, as,

* The current identifier is _not at all_ descriptive of the package.
* Material des

[2017-10-15 06:28] dcervenkov opened #151 "Typo in OneDark-Pro-vivid.json comment color code"
https://github.com/Binaryify/OneDark-Pro/blob/9bc463439e8b28a63220d1a5da433a94cdd7341e/themes/OneDark-Pro-vivid.json#L87

I'm pretty sure this is a typo as hex color codes have 6 digits. You probably wanted to write `#5c6370`.
Without this correction, the comments are the same color as normal text.

[2017-10-16 08:20] will-stone commented on #54
@Binaryify Looks like my prediction of "it'll mislead or confuse users" has come true 😮

[2017-10-16 08:23] Binaryify commented on #54
@will-stone
still waiting vscode team improve it
https://github.com/Microsoft/vscode/issues/34812#issuecomment-331450423

[2017-10-16 08:25] will-stone commented on #54
Awesome. Looks like it's in the works.

[2017-10-16 08:25] Binaryify commented on #54
@will-stone
yes!

[2017-10-16 16:25] jens1o commented on #151
@dcervenkov That's a good first pr. Do you want to take it? :)

[2017-10-17 02:19] dcervenkov commented on #151
@jens1o A one character pull request? :smile: Sure, I'm on it.

[2017-10-17 10:40] #151 closed

[2017-10-17 12:19] floriangosse opened #153 "Single line comments and JSDoc comments not italic"
In my javascript code the single line and JSDoc comments have a strange behavior: The characters which indicates that the following is a comment are italic but the comment itself is not italic anymore.

![image](https://user-images.githubusercontent.com/3819038/31664454-c2598482-b345-11e7-957b-f59012902685.png)

To make sure that no other extension cause this error I disabled all extensions except

[2017-10-17 17:55] jens1o commented on #151
well, apparently @Binaryify was faster ;)

[2017-10-17 23:24] dcervenkov commented on #151
Faster than what?

[2017-10-18 04:27] jens1o commented on #151
faster than you :(

[2017-10-18 04:47] jens1o commented on #153
@Binaryify

But I think this behaviour is on purpose, and I love it, although I dont use `////` comments

[2017-10-18 06:25] floriangosse commented on #153
I only used `////` to show the difference.

I saw italic comments it on different screenshots of the theme so I thought this seems to be a bug. If it's not a bug please close this issue and I will try to find a solution. :-)

[2017-10-18 08:38] waterdanceTV commented on #153
@jens1o @floriangosse maybe you are right, will fix it soon

[2017-10-18 08:39] Binaryify commented on #153
@jens1o
@floriangosse
maybe you are right, will fix it soon~

[2017-10-21 00:07] tangorboyz opened #154 "No color coding difference between one dark pro and one dark pro vivid after changed to one dark pro vivid"
![image](https://user-images.githubusercontent.com/8751130/31845757-1cdb14ea-b637-11e7-9eed-060568c64e13.png)
Version: 2.10.17
VsCode: 1.17.2
It's in one dark pro. In one dark pro, the color for function/constructor parameters should be in white, or that i notice before changed to one dark pro vivid.

[2017-10-21 04:41] jens1o commented on #154
@Binaryify

[2017-10-30 07:53] Binaryify commented on #154
why the color for function/constructor parameters should be white
in atom like this
![image](https://user-images.githubusercontent.com/12221718/32159920-6fba821c-bd1d-11e7-80f8-94471a67caf5.png)

[2017-11-03 11:02] bsvipas opened #155 "Update regexp coloring"
VS Code improved regexp coloring for Dark+ theme so I guess it can be updated in this theme as well, because new scopes was introduced.

https://code.visualstudio.com/updates/v1_17#_improved-colorization-in-dark-and-light-themes

[2017-11-04 06:48] Binaryify commented on #54
in the insider version can change the extension name or publisher now
![image](https://user-images.githubusercontent.com/12221718/32403224-21dffc4c-c16f-11e7-8cb6-5a447bb2e16e.png)

[2017-11-05 15:49] jens1o commented on #155
I'm lacking of time, @Binaryify could you that please?

[2017-11-05 15:50] Binaryify commented on #155
oh, I miss this issue, will deal it tomorrow

[2017-11-09 07:54] Binaryify commented on #155
done, check if it is good

[2017-11-09 08:00] bsvipas commented on #155
Yeah, I like it, it's way better!

[2017-11-09 08:00] #155 closed

[2017-11-11 15:11] ray0324 opened #157 "can selected word be different from the same word？"
<img width="531" alt="qq20171111-231115 2x" src="https://user-images.githubusercontent.com/5204198/32690697-4e6afafe-c6c0-11e7-88e2-deb627ce4654.png">

[2017-11-14 06:34] athrunsun opened #158 "Inline code not colored correctly in markdown files"
Here is how it should be according to README.md of this repo:
![screenshot-markdown](https://raw.githubusercontent.com/Binaryify/OneDark-Pro/master/static/screenshot1.png)

And here is how it is in my current installation:
![screenshot-my-installation](https://i.imgur.com/Z2U1CZK.png)

NOTE inline code is colored grey, which is the same as plain text.

OS: MacOS 10.13.1
VSCode version: 1.18.0
OneD

[2017-11-14 06:43] Binaryify commented on #158
OMG, it's really a bug, will fix it, but working busy now

[2017-11-14 08:07] athrunsun commented on #158
@Binaryify Don't worry, take your time.

[2017-11-16 07:38] Binaryify commented on #158
already publish, please check it

[2017-11-17 01:12] athrunsun commented on #158
@Binaryify Well, the color changes, but:
![Imgur](https://i.imgur.com/tQZmkv3.png)

shoudn't it be the green color instead of grey according to this demo screenshot in README.md? Or you've changed your mind?
![screenshot-markdown](https://raw.githubusercontent.com/Binaryify/OneDark-Pro/master/static/screenshot1.png)

[2017-11-17 03:10] Binaryify commented on #158
I think gray is as same as their display in page, but green is good to read in .md file, what color do you think is better

[2017-11-17 03:17] athrunsun commented on #158
@Binaryify I think green is better.

[2017-11-17 05:46] Binaryify commented on #158
@athrunsun ok, will change it to green

[2017-11-17 05:49] Binaryify commented on #158
done

[2017-11-17 11:45] blackier opened #159 "about the markdown"
can you support more syntax for the markdown?
I use the vscode to write markdown,but the onedark-pro don't have a good support for mardown.So I think you can support more syntax for the markdown. Or you have a test that use the vscode to write markdown,then you may want to do it.

[2017-11-18 07:52] Binaryify commented on #159
have any good idea?

[2017-11-18 07:55] athrunsun commented on #158
@Binaryify Looks cool now, thanks for the fix!

[2017-11-18 07:55] #158 closed

[2017-11-18 11:52] Zeus-Iqd opened #160 "我是中国人，就不用英语了，为啥我安装后，没有效果"
大佬您好：
      安装后没有任何效果，那些配置项是不是要自己配置上才有效果？

[2017-11-18 11:55] Binaryify commented on #160
安装后是需要在主题那里切换应用的

[2017-11-18 12:14] #160 closed

[2017-11-20 06:58] Manish-Giri opened #161 "Support for italics seems limited to React JSX?"
In Visual Studio Code, I just noticed that for fonts like Operator Mono, italics are not displayed with regular HTML, CSS and JavaScript. Here are some screenshots -

JavaScript -
![screenshot 2017-11-20 01 51 24](https://user-images.githubusercontent.com/11348778/33005825-a3d78bd4-cd95-11e7-8cd0-c88c2bd85965.png)

CSS -
![screenshot 2017-11-20 01 51 37](https://user-images.githubusercontent.com/1

[2017-11-20 06:58] Binaryify commented on #157
could provide some code

[2017-11-25 07:14] Binaryify commented on #161
I make this theme's italics part look like as Atom, sorry can't make it look like as sublime

[2017-11-25 07:15] Binaryify commented on #161
if you want change it, you can read this
https://binaryify.github.io/OneDark-Pro/#/?id=user-definable-syntax-highlighting-colors

[2017-11-25 07:16] Binaryify commented on #159
can you provide some screenshot?

[2017-11-27 15:03] BitYog opened #163 "Where did you get the matching color hashes from?"
Just curious. Is there a file in the Atom source code for this?

[2017-11-27 15:04] Binaryify commented on #163
no

[2017-11-27 15:13] BitYog commented on #163
Then how do you get the color hashes??

[2017-11-27 15:14] Binaryify commented on #163
just patience

[2017-11-27 15:15] Binaryify commented on #163
you can read this https://binaryify.github.io/OneDark-Pro/#/

[2017-11-27 15:18] #163 closed

[2017-11-29 17:34] badri-18 opened #164 "Color of status bar"
The color of status bar can be similar to dark+ theme for vscode, having one color in normal mode and a different color in debug mode

[2017-12-13 13:53] Ivkaa opened #166 "Searched word and highlighted word are the same"
When I want to rewrite something I searched for, when I select the area, the color of background highlight from searching is same as my highlighted part, which is very confusing, because I don't know what I highlighted. In this example I highlighted the argument in function.
![image](https://user-images.githubusercontent.com/16141183/33942013-e0b1ef2c-e014-11e7-8775-06005313dfff.png)

[2017-12-14 06:24] IIInsomnia opened #167 "Golang string supports SQL syntax bright"
![afdabb0a-d360-447d-9808-1e0334221fa2](https://user-images.githubusercontent.com/6582246/33978403-7b10c14a-e0da-11e7-9e03-94e4c60f7905.png)

[2017-12-14 06:35] Binaryify commented on #167
could you provide the code on your screenshot

[2017-12-15 06:09] #164 closed

[2017-12-15 06:09] #161 closed

[2017-12-15 06:10] #153 closed

[2017-12-15 06:12] #111 closed

[2017-12-15 06:13] #125 closed

[2017-12-15 06:13] #141 closed

[2017-12-24 04:31] IIInsomnia opened #168 "cursor's color is better for blue like atom"

[2017-12-24 10:59] jens1o commented on #168
So you'd like to have the cursor color in blue and not in yellow?

Feel free to do this in your settings:
https://binaryify.github.io/OneDark-Pro

[2017-12-30 06:47] ritwickdey opened #169 "Issue in Colors for C#"
With OneDark:
![image](https://user-images.githubusercontent.com/18099464/34451926-bc3ca44a-ed5a-11e7-831a-9b38df7514ff.png)

With Default (Dark Plus)
![image](https://user-images.githubusercontent.com/18099464/34451956-04ff2afe-ed5b-11e7-94a9-64e63b70fd20.png)

Is this issue ? or Default behavior?

[2017-12-31 11:42] jens1o commented on #169
Could you give us the code please?

[2017-12-31 13:32] ritwickdey commented on #169
![image](https://user-images.githubusercontent.com/18099464/34461876-b15ee670-ee5c-11e7-9744-51c34d139c03.png)

code block :
[code]

[2017-12-31 15:09] Binaryify commented on #169
will fix it tomorrow

[2017-12-31 15:46] jens1o commented on #169
Okkay :)

[2018-01-01 05:05] Binaryify commented on #169
![image](https://user-images.githubusercontent.com/12221718/34465706-5794ca72-eef4-11e7-892e-c2890073dec9.png)
how about this @ritwickdey

[2018-01-01 05:16] ritwickdey commented on #169
It looks good 👍 ...

Thanks for the awesome extension & of course Happy New Year

[2018-01-01 05:24] Binaryify commented on #169
done @ritwickdey  check it 😀

[2018-01-01 05:32] ritwickdey commented on #169
Yep! Updated..!! It looks much good!! Thanks Again 😄

[2018-01-01 05:32] #169 closed

[2018-01-05 16:02] darsain commented on #166
Also bugged me a lot (among other similar colors issues this theme has) so I did a bit of digging, and it seems to be a deeper issue upstream: https://github.com/Microsoft/vscode/issues/34105

But as suggested, even before it's solved it's still possible to add visual cues by using colors with transparency, since these selection/findMatch backgrounds are overlayed on top of each other.

[2018-01-05 16:17] darsain commented on #157
I think the issue here is that these 2 colors are the same, which is pretty bad usability vise:

[code]

Forced me to do manual tweaking via `workbench.colorCustomizations` which I really dislike doing.

[2018-01-08 20:06] iddan opened #171 "Multiline Function Colouring"
Because of the line break `interview` is not highlighted in blue

<img width="285" alt="screen shot 2018-01-08 at 22 07 08" src="https://user-images.githubusercontent.com/12671072/34690064-588e6614-f4c0-11e7-8005-34b02131a243.png">

Because of the parentheses `async` is highlighted in blue instead of `interview`

<img width="624" alt="screen shot 2018-01-08 at 22 04 12" src="https://user-images.gi

[2018-01-10 09:53] be5invis opened #172 "There's a small transparent area on your logo"
![image](https://user-images.githubusercontent.com/240091/34766360-1677c822-f62f-11e7-842a-f937e159d5e3.png)

[2018-01-11 01:50] Binaryify commented on #172
oh, I just find it

[2018-01-11 01:52] Binaryify commented on #171
I think it's vscode's problem, the scope issue

[2018-01-11 01:53] Binaryify commented on #168
will consider it

[2018-01-11 01:54] Binaryify commented on #157
will consider it

[2018-01-11 06:27] Binaryify commented on #172
@will-stone do you know how to fix it

[2018-01-12 05:38] #172 closed

[2018-01-12 07:42] Binaryify commented on #157
@darsain
what color do you think will be better

[2018-01-12 09:38] darsain commented on #157
I've set it for myself to these colors:

[code]

Which looks like this:

![image](https://user-images.githubusercontent.com/538801/34868624-b02387da-f784-11e7-83a2-5fc2973bbd5b.png)

I'm using colors with alpha channel due to recommendations in this issue: https://github.com/Microsoft/vscode/issues/34105

[2018-01-13 01:06] #171 closed

[2018-01-15 02:12] Binaryify commented on #157
@ray0324 @darsain
I had update it, please check if it's better

[2018-01-15 02:13] Binaryify commented on #168
@IIInsomnia
done

[2018-01-15 02:14] #154 closed

[2018-01-15 02:15] Binaryify commented on #166
I had improve it in the new version, please update and check it if it's better

[2018-01-15 06:27] lixiaoyan commented on #168
![image](https://user-images.githubusercontent.com/1610614/34929578-9adf189e-f9ff-11e7-8454-b2455542b3af.png)

OneDark Pro + VSCodeVim

[2018-01-15 06:29] Binaryify commented on #168
@lixiaoyan
any more detail?

[2018-01-15 06:36] lixiaoyan commented on #168
@Binaryify Vim normal mode uses block cursor, which will highlights the whole char next to the cursor. The character highlighted should use white as its text color rather than its original color.

[2018-01-15 08:11] darsain commented on #166
Selection highlight is still indistinguishable from search highlight for me.

[2018-01-15 08:14] Binaryify commented on #166
have not idea, do you have any advice @darsain

[2018-01-15 08:36] Binaryify commented on #168
@IIInsomnia @lixiaoyan
I think I should change it back

[2018-01-15 09:27] Binaryify commented on #168
![image](https://user-images.githubusercontent.com/12221718/34935582-54593d4a-fa19-11e7-9a63-2f75126cb283.png)
![image](https://user-images.githubusercontent.com/12221718/34935592-5ad27394-fa19-11e7-9515-53e47d7eba59.png)
how about this

[2018-01-15 11:16] lixiaoyan commented on #168
@Binaryify Looks good, wondering if it will be released soon.

[2018-01-15 11:37] darsain commented on #166
As explained in https://github.com/Microsoft/vscode/issues/34105, the problem here is that search highlight background is above selection highlight background, or maybe the other way around and they are the same colors, one of the two. Solution until this gets some better handling in vscode is using colors with alpha channel. That way even if 2 backgrounds are on top of each other they are still d

[2018-01-16 01:39] Binaryify commented on #166
@darsain
if you have some good color scheme, could you let me know, and I will improve it

[2018-01-16 02:44] Binaryify commented on #168
@lixiaoyan
it just released, you can check it now

[2018-01-16 03:04] IIInsomnia commented on #168
thanks!

[2018-01-16 03:04] #168 closed

[2018-01-16 03:09] IIInsomnia commented on #167
like this:
![image](https://user-images.githubusercontent.com/6582246/34970170-c54779ce-faad-11e7-882f-aed821c0c55f.png)

[2018-01-16 03:10] Binaryify commented on #167
send that code to this

[2018-01-16 06:11] lixiaoyan commented on #168
![image](https://user-images.githubusercontent.com/1610614/34974244-fbbb9b66-fac6-11e7-8d52-831df7e97306.png)
![image](https://user-images.githubusercontent.com/1610614/34974249-050e538e-fac7-11e7-91b8-b1fca2c76743.png)

Select text in vim mode (visual mode)

[2018-01-17 09:11] Binaryify commented on #167
the "xxxxxxxxx" scope is string.quoted.double.go in vscode
if support it, need syntax parsing, but that not theme's job

[2018-01-17 20:23] ekfuhrmann commented on #153
It seems odd that comments in JS are not italic, yet everywhere else (html, pug, php) they are italic.

Would you be willing to at least standardize them so that JS commenting works the same as the others, whether that be italic or not?

[2018-01-18 06:35] Binaryify commented on #153
@ekfuhrmann
no, some people like this, if another people don't like this, they also can config that on setting.json

[2018-01-18 08:10] IIInsomnia opened #174 "The color of cursor is a little dark."

[2018-01-18 08:11] IIInsomnia commented on #167
Well, thanks a lot!

[2018-01-18 08:11] #167 closed

[2018-01-18 08:13] IIInsomnia commented on #174
I prefer the previous version of the color. 😊

[2018-01-18 08:15] Binaryify commented on #174
could you provide some screenshots

[2018-01-18 11:09] pqvst commented on #174
I too find that the cursor color is very difficult to see (especially with colored text).
<img width="439" alt="screenshot 2018-01-18 12 09 22" src="https://user-images.githubusercontent.com/4990657/35095355-742176a2-fc48-11e7-8d7b-d76749c19b36.png">
<img width="388" alt="screenshot 2018-01-18 12 09 12" src="https://user-images.githubusercontent.com/4990657/35095360-7857b966-fc48-11e7-9bed-081b8b1

[2018-01-18 13:29] ekfuhrmann commented on #153
How would one go about editing this within setting.json? I'm unfamiliar with the terms to make the change and don't see anything in the documentation regarding italics.

[2018-01-19 04:36] Binaryify commented on #153
@ekfuhrmann
you can read this part
https://binaryify.github.io/OneDark-Pro/#/?id=workbench-theming

[2018-01-20 06:18] joenil opened #175 "对象的key和点运算符颜色可以和atom里的一样吗？"
![image](https://user-images.githubusercontent.com/11400674/35180485-8ec019b4-fdec-11e7-9ade-113c4174370f.png)
![image](https://user-images.githubusercontent.com/11400674/35180488-99154e7a-fdec-11e7-9aa6-8158a4ef6077.png)
感觉atom里的颜色要丰富一些。

[2018-01-22 02:04] Binaryify commented on #175
实际上 atom 的颜色看上去是有点乱的
![image](https://user-images.githubusercontent.com/12221718/35202113-98ac65ac-ff5b-11e7-932e-29620bd7ee8b.png)
![image](https://user-images.githubusercontent.com/12221718/35202127-aaf9c52e-ff5b-11e7-830d-a3b8690a3272.png)

[2018-01-22 02:32] joenil commented on #175
嗯，对象属性简写，也被着色成value的红色了。其实现在这样子已经很好了，感谢！
另外，最近鼠标光标的蓝色变暗了，太暗不容易定位到，可以改亮一点吗？

[2018-01-22 08:17] Binaryify commented on #175
可能会再调整下

[2018-01-22 08:20] #174 closed

[2018-01-26 15:08] floriangosse commented on #153
@Binaryify you can only change colors but not the style of the token.

[2018-01-26 15:30] floriangosse commented on #153
I found out that you can set more then just colors.
[code]

[2018-01-27 05:31] #175 closed

[2018-01-31 16:32] svipben opened #176 "Editor tabs"
https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_20.md#more-themable-colors-for-editor-tabs

I suggest to update it after 1.20 version. Thank you!

[2018-02-02 07:54] tblxdezhu opened #177 "Can you support pycharm"
love this theme very much , do you have plan support pycharm, thank you very much

[2018-02-07 12:44] bsvipas opened #178 "Handlebars if/else coloring"
![image](https://user-images.githubusercontent.com/30043375/35917050-4ed08f0a-0c15-11e8-87e4-71a28b880953.png)

As you can see there's no color for `table.isEmpty` which is supposed to be the same as `if` I guess.

[2018-02-08 06:33] svipben commented on #176
/cc @Binaryify @jens1o 1.20.0 is already released 😊

[2018-02-08 06:34] svipben commented on #178
@jens1o I can create a PR, but I need to know which one `scope` I need to use.

[2018-02-08 06:36] Binaryify commented on #176
sorry for busy in these days
you can read this https://binaryify.github.io/OneDark-Pro/#/
and this https://code.visualstudio.com/docs/getstarted/theme-color-reference
if you want create a PR, I will very appreciate it

[2018-02-08 06:57] svipben commented on #176
@Binaryify Thanks, I didn't know about that website. I will create a PR. 👷

[2018-02-08 07:55] svipben commented on #176
@Binaryify Already opened PR: https://github.com/Binaryify/OneDark-Pro/pull/179. Check if colors are good for you.

[2018-02-08 08:00] #176 closed

[2018-02-08 08:03] svipben commented on #178
I can fix this too. I can use these all 3 scopes which are in the screenshot to detect and colorize the `table.isEmpty` like it's with `if`, etc. But I don't know if it's correct if you know which scopes I need to use I can definitely open a PR.

/cc @Binaryify

[2018-02-08 08:26] svipben commented on #178
Okay, I see this is VS Code problem so it will not be possible to have correct and clean support for this. The issue can be closed.

[2018-02-08 09:34] Binaryify commented on #178
okay

[2018-02-08 09:34] #178 closed

[2018-02-09 09:02] Binaryify commented on #177
not any plan

[2018-02-10 14:59] PhilMcVay opened #181 "React component tags in JSX"
Hi,

I have just installed the theme and have noticed that the react component tags (see below example) are highlighting yellow instead of red. I assume this is because it thinks it's a class?

![image](https://user-images.githubusercontent.com/25827239/36063289-d10addb8-0e72-11e8-96b3-3c26518fa170.png)

Do I need to change any settings in the JSON file?

[2018-02-11 01:36] Binaryify commented on #181
that's a wrong highlight color, i will fix it

[2018-02-11 01:36] #177 closed

[2018-02-11 01:46] Binaryify commented on #181
I just fix it, you can check it now

[2018-02-11 16:16] PhilMcVay commented on #181
Great, it's fixed now. Thanks!

[2018-02-11 16:18] #181 closed

[2018-02-11 20:16] IAmStrong opened #182 "React components highlighted in a wrong way"
Before update the components were highlighted with the yellow color. Now the components highlighted just like other tags!

It is very confusing.

![image](https://user-images.githubusercontent.com/13998035/36077836-37f861d4-0f78-11e8-9233-d6cbb0fdcd4b.png)
![image](https://user-images.githubusercontent.com/13998035/36077843-55067298-0f78-11e8-8760-298be129b953.png)

[2018-02-11 22:04] IAmStrong commented on #182
I can't now distinguish between usual tags and Components.

[2018-02-12 01:20] Binaryify commented on #182
now it just more look like atom's highlight, and you can custom it on setting.json
![image](https://user-images.githubusercontent.com/12221718/36081115-b9e37550-0fd5-11e8-8f02-c0a31741914a.png)
https://binaryify.github.io/OneDark-Pro/#/?id=user-definable-syntax-highlighting-colors

[2018-02-12 09:52] bendersej commented on #182
Add these lines to your editor config to override this change.

[code]

[2018-02-12 17:46] etiennejcharles commented on #182
I beleive the change was made here:
https://github.com/Binaryify/OneDark-Pro/commit/2616798edbc844d9661dcf8ecd7d567b833d0fda

I'm just curious as of why this is considered an "improvement" @Binaryify
Could clarify the "why" behind the change ?

[2018-02-12 17:53] #182 closed

[2018-02-12 21:15] zalishchuk opened #183 "Why everything in Javascript React is red now"
Why `v2.12.4` update made everything red in `Javascript React` syntax highlight.

Visual Studio Code highlighting:
![One Dark Pro highlight](https://user-images.githubusercontent.com/2690794/36119943-3ee27ba6-104a-11e8-8811-512c0c9e0969.png)

Atom highlighting:
![Atom One Dark highlight](https://user-images.githubusercontent.com/2690794/36120028-7d489786-104a-11e8-9f68-a54881015049.png)

[2018-02-13 05:54] Binaryify commented on #183
but in Atom's JavaScript with JSX look like this
![image](https://user-images.githubusercontent.com/12221718/36135320-6934b86c-10c5-11e8-8e2c-825aaa62ca99.png)

[2018-02-13 16:16] zalishchuk commented on #183
My personal opinion is `One Dark Pro` should stick to Atom [language-babel](https://atom.io/packages/language-babel) language package. Your opinion on this matter?

[2018-02-14 06:48] Binaryify opened #184 "Discuss: JSX's component tags color should be red or yellow"
I notice that some people think it should be red and others think it should be yellow, but I don't know which one will be better(now is red)
https://github.com/Binaryify/OneDark-Pro/issues/181
https://github.com/Binaryify/OneDark-Pro/issues/182
https://github.com/Binaryify/OneDark-Pro/issues/183
I have not idea now
@PhilMcVay
@zalishchuk
@IAmStrong
@bendersej

[2018-02-14 08:03] jens1o commented on #184
Personally I'd stick to yellow, because a little bit more contrast is always good.

[2018-02-14 11:09] PhilMcVay commented on #184
I like the red highlighting as it separates the class/component declaration and the JSX/HTML tags. All other HTML elements highlight red as well so I find it reads easier if the JSX tags are the same colour.

I don't mind either way to be honest. If the majority vote yellow it's understandable.

[2018-02-14 21:04] keeganstothert commented on #184
yellow please!!! the red is not distinct and differs from the babel-language highlighting in atom

[2018-02-14 21:23] zalishchuk commented on #184
As I mentioned in my issue, my personal opinion is `One Dark Pro` should match Atom [One Dark](https://atom.io/themes/one-dark-syntax) syntax used with Atom [language-babel](https://atom.io/packages/language-babel) grammar.

[2018-02-15 07:12] IAmStrong commented on #184
Yellow please, as it clearly separates tags from components.

[2018-02-15 09:58] nicovak opened #185 "Better bracket visibility in code"
Hello,

Sometimes I am experiencing some visibility issues with the caret and matching brackets style.
VS Code now allow to modify some parameters, below an example :

Before

![Before](https://i.imgur.com/iZoSgNB.png)

After

![After](https://i.imgur.com/WinJpd1.png)

We maybe should play with thoses parameters for a better experience.

[2018-02-15 10:02] jens1o commented on #185
Would you like to provide a pr?

[2018-02-15 12:18] nicovak commented on #185
@jens1o Done :)

[2018-02-15 16:01] #185 closed

[2018-02-17 12:48] svipben commented on #184
I suggest using Yellow. Because right now there's everywhere red color. And as @jens1o said a little more contrast is always good.

[2018-02-19 19:40] darsain opened #189 "Bad cursor visibility, especially when surrounded by current bracketMatch styling"
Problem: Find the cursor.

![image](https://user-images.githubusercontent.com/538801/36394456-a7431ec0-15b4-11e8-9a98-513142fe5077.png)

I suggest these colors:

[code]

Result:

![image](https://user-images.githubusercontent.com/538801/36394486-c3bf1ac2-15b4-11e8-8975-dfee61eb65c2.png)

[2018-02-23 00:31] bwsinger opened #190 "Disable JSDoc Comment Coloring"
I want to be able to disable multicolored JSDoc comments.

The highlighting is cool, but if most of the functions on a page have colored comments, it becomes difficult to differentiate the functions from the comments. For example, this whole comment would be the default color:

![dlxzalj - imgur](https://user-images.githubusercontent.com/16724046/36571740-27b8edde-17ed-11e8-9d66-2d99fd3db980.png)

[2018-02-23 10:17] LukasPolak commented on #166
hi, @Binaryify it is possible to make an options for example:
- editor.selectionHighlightBorder
- editor.wordHighlightBorder
- editor.findMatchHighlightBorder
- editor.findRangeHighlightBorder
- editor.lineHighlightBorder
- editor.rangeHighlightBorder

to see the difference for highlighting? thanks

[2018-02-24 01:31] Binaryify commented on #184
@PhilMcVay I think I should change it back, but I will tell you how to change it to yellow in your setting.json

[2018-02-24 01:39] PhilMcVay commented on #184
That's fine @Binaryify. Thanks.

[2018-02-24 01:40] zalishchuk commented on #184
@Binaryify so what's about proposal, should not we follow `language-babel` grammar?

[2018-02-24 01:56] Binaryify commented on #184
@zalishchuk I will make it look like as atom's language-babel grammar's highlight

[2018-02-24 02:20] Binaryify commented on #184
@PhilMcVay
add this in your setting, it will make it red
[code]
![image](https://user-images.githubusercontent.com/12221718/36624618-5c7298da-194c-11e8-8b77-ef2fd957b641.png)

[2018-02-24 02:26] Binaryify commented on #190
add this in your settings.json
[code]

![image](https://user-images.githubusercontent.com/12221718/36624674-17cfd1e2-194d-11e8-909c-35a1e149de77.png)

[2018-02-24 07:29] #183 closed

[2018-02-25 13:28] bwsinger commented on #190
This is exactly what I wanted. Thank you!

[2018-02-25 13:28] #190 closed

[2018-02-25 18:21] Or3stis opened #191 "Different colors in String Interpolation for a nicer visual grepping"
The current string interpolation configuration is something like this
<img width="274" alt="screen shot 2018-02-25 at 17 52 12" src="https://user-images.githubusercontent.com/11923550/36644704-409d1332-1a56-11e8-8608-cf9cb6cd92ea.png"> (OneDark Pro)
In the first line, it is quite easy to distinguish between the string and the variable. On the other hand, the majority of the second line is colored

[2018-02-25 18:35] jens1o commented on #191
I like it, but let's wait what @Binaryify says.

[2018-02-26 01:23] Binaryify commented on #191
good, I will improve it

[2018-02-26 07:20] #184 closed

[2018-02-28 02:44] #191 closed

[2018-03-05 08:05] bsvipas commented on #189
@darsain for me cursor visibility is good so this is kinda personal preference and I see no point to change it.

[2018-03-05 08:08] bsvipas opened #194 "New colors after 1.21 version of VS Code"
Hi, VS Code 1.21 is still not released, but I created this issue as a reminder for myself to create a PR after VS Code will be released.

`editorActiveLineNumber.foreground` - https://github.com/Microsoft/vscode-docs/blob/vnext/release-notes/v1_21.md#coloring-of-active-line-number

**notifications** / **border color of editor highlights** / **terminal** - https://github.com/Microsoft/vscode-docs/b

[2018-03-05 08:09] bsvipas commented on #166
@Ivkaa @darsain @LukasPolak @Binaryify created this issue: https://github.com/Binaryify/OneDark-Pro/issues/194 which will improve word highlighting after 1.21 version will be released. Stay tuned :)

[2018-03-05 08:11] bsvipas commented on #143
I will improve it after 1.21 version will be released. Because notifications UI was reworked. https://github.com/Binaryify/OneDark-Pro/issues/194

[2018-03-05 17:00] jens1o commented on #194
@bsvipas Fyi you can work with the Insiders version, too. :)

[2018-03-06 06:32] LukasPolak opened #195 "integrated terminal colors problem after 2.12.7"
After update to version 2.12.7 I have a problem with integrated terminal colors

![integrated terminal colors problem](https://user-images.githubusercontent.com/17145302/37017717-e9c339de-2111-11e8-8fdc-2bf90f3e2304.png)

[2018-03-06 06:54] mtobeiyf commented on #195
@LukasPolak
Same problem.
I checked, this only occurs in **powershell** that the color resembles the background.

Hope the author solve this. It's too hard to distinguish what I have input.
![image](https://user-images.githubusercontent.com/5097752/37018092-11ed14a2-214e-11e8-9571-af4bf0bb0e2d.png)
(There is a `-v` 😂

[2018-03-06 07:02] Binaryify commented on #195
I just publish a new version, please update and check if it have been fix

[2018-03-06 07:02] Binaryify commented on #195
@LukasPolak @mtobeiyf

[2018-03-06 07:18] mtobeiyf commented on #195
@Binaryify  Much better. Thanks for the quick fix.
![image](https://user-images.githubusercontent.com/5097752/37019030-9a348fd6-2151-11e8-954a-ab1c2590ccd8.png)

[2018-03-06 08:34] PixelT commented on #195
For me it's still broken, I had white font color, now I have as `-v` on image above...

[2018-03-06 08:35] Binaryify commented on #195
@PixelT could you provide some screenshot?

[2018-03-06 08:42] PixelT commented on #195
@Binaryify

![](https://i.imgur.com/UAE3WnU.png)

Earlier I had white text color on this blue & green elements

[2018-03-06 08:47] Binaryify commented on #195
so you want it be pure white right?

[2018-03-06 11:29] optikfluffel opened #196 "support.constant.* color not set?"
Shouldn't there be a color set for `support.constant.*` (or something similar)? I think [akamud/vscode-theme-onedark](https://github.com/akamud/vscode-theme-onedark) has it and that's where for example Elm constant highlighting comes from:

vscode-theme-onedark:
![vscode-theme-onedark](https://user-images.githubusercontent.com/379915/37030075-da7f21ea-2139-11e8-99cd-31402c846021.png)

vs OneDark-P

[2018-03-06 16:50] gmcinalli opened #197 "The first double slashes are too oblique compared to the others"
Here's a screenshot of what I mean with "too oblique":

![image](https://user-images.githubusercontent.com/9024983/37045587-992b2e78-2166-11e8-88fd-84712802231e.png)

The issue is only visible with this theme and with every file type.

[2018-03-06 18:44] Or3stis commented on #195
This issue may depend on the local configuration of your terminal colors. If your default terminal colors are light theme based (white background), then some colors will not be displayed currently using this theme (dark background).

@PixelT, @LukasPolak can you share your terminal color configuration of your `.bash_profile` so we can test this?

[2018-03-07 00:12] f3wenbo opened #198 "When use #ifdef #endif, code color become gray"
When I use #ifdef and #endif in cpp file, the code color will become gray like the following snapshot.
![ws000120](https://user-images.githubusercontent.com/10846537/37066164-65e0f0c6-21e7-11e8-975f-a0e8c292686c.JPG)
Here is the source code.
[code]

[2018-03-07 02:13] Binaryify commented on #197
because the other "/" is the part of the comment, if you want all "italic", the comment like also will be italic
![image](https://user-images.githubusercontent.com/12221718/37069848-2068aada-21f0-11e8-8f83-78b1002965b1.png)

[2018-03-07 02:20] Binaryify commented on #198
What should it look like

[2018-03-07 06:58] gmcinalli commented on #197
Ok thanks, and how can I set it in italic or normal? I had tried customizing the theme settings, without success.

[2018-03-07 07:02] Binaryify commented on #197
copy this into your setting.json
[code]

[2018-03-07 08:22] Binaryify commented on #195
@Or3stis
maybe it should be more light

[2018-03-07 08:59] gmcinalli commented on #197
Thank you, and if I want it all normal? I've tried to put `normal` instead of `italic` and it doesn't work.

[2018-03-07 09:00] Binaryify commented on #197
"none"

[2018-03-07 09:00] Binaryify commented on #197
or just remove it

[2018-03-07 09:02] gmcinalli commented on #197
No, if I remove it or put `none` it reverts back to this:

![image](https://user-images.githubusercontent.com/9024983/37045587-992b2e78-2166-11e8-88fd-84712802231e.png)

[2018-03-07 09:05] Binaryify commented on #197
oh, i misunderstand what you mean
[code]

[2018-03-07 09:15] optikfluffel commented on #196
@Binaryify I'm not sure of what so here we go:

the corresponding part of [akamud/vscode-theme-onedark/themes/OneDark.json](https://github.com/akamud/vscode-theme-onedark/blob/11ef483921495ea6c086f56149dfa0ca6225ae53/themes/OneDark.json):
[code]

here's the Elm snippet from the screenshots:

[code]

[2018-03-07 09:34] gmcinalli commented on #197
It works perfectly, thank you very much.

[2018-03-07 09:34] #197 closed

[2018-03-07 20:53] lffg opened #199 "Edge Syntax Support"
Do you intend to support the [Edge Syntax](http://edge.adonisjs.com/)?
I'm using this [extension](https://marketplace.visualstudio.com/items?itemName=luongnd.edge) but it looks like the conditions do not stay with the default color (purple).

<div align="center"><img src="https://i.imgur.com/e9SyC9o.png" alt="print"></div>

[2018-03-08 06:36] dertuerke opened #200 "Angular Syntax Highlighting?"
Hi, it is possible to highlight the values inside the {{ }}?

VSCode 1.21
![image](https://user-images.githubusercontent.com/2199151/37136769-47664aa8-22a3-11e8-8cf3-9a2f41c45993.png)

VSCode Inside
![image](https://user-images.githubusercontent.com/2199151/37136790-5bd092f0-22a3-11e8-8f2f-2b3a1044200d.png)

[2018-03-08 07:09] Binaryify commented on #200
hard to support it now
![image](https://user-images.githubusercontent.com/12221718/37137865-b5f64be6-22e2-11e8-8f3a-abd4b7f1713d.png)

[2018-03-08 07:17] dertuerke commented on #200
Ow ok.
But, why does it work with the Inside build?

[2018-03-08 07:23] Binaryify commented on #200
maybe Inside version make their scope more special

[2018-03-08 07:46] svipben commented on #200
@dertuerke can you show VS Code Insiders scope with CMD + SHIFT + P using Developer: Inspect TM Scopes?

[2018-03-08 07:47] svipben commented on #194
@LordZane yes you're right. I will create a PR today. 🎉

[2018-03-08 07:50] dertuerke commented on #200
![image](https://user-images.githubusercontent.com/2199151/37139286-a43192ce-22ad-11e8-8507-1b8fe42d2223.png)

![image](https://user-images.githubusercontent.com/2199151/37139296-af981390-22ad-11e8-8bce-2c6c72e8a898.png)

[2018-03-08 07:55] svipben commented on #200
@dertuerke can you add your cursor on `produce.list` in the middle and do the same? To see what scope of text it's instead of punctuation.

[2018-03-08 07:58] dertuerke commented on #200
@svipben so?

![image](https://user-images.githubusercontent.com/2199151/37139594-c63faf1c-22ae-11e8-8036-d15101714e9c.png)

[2018-03-08 08:11] svipben commented on #200
Yeah seems Insiders build have better scopes. Can you create an issue in VS Code GitHub repo and point to this issue since this isn't theme problem because it's impossible to create coloring if there are no supported scopes. And the last question do you use exactly the same extensions on 1.21 like Insiders?

[2018-03-08 08:13] dertuerke commented on #200
@svipben thx firstly :)

I look once time to my extensions and i found that this extension make the highlighting

https://marketplace.visualstudio.com/items?itemName=mblode.twig-language

[2018-03-08 13:12] svipben commented on #166
Bad news, seems there's no such thing like `editor.selectionBorder` which is for selected text with mouse.

Good news I created issue in VS Code: https://github.com/Microsoft/vscode/issues/45292

[2018-03-08 13:21] svipben commented on #194
@Binaryify Already created PR: https://github.com/Binaryify/OneDark-Pro/pull/201

[2018-03-08 13:24] svipben commented on #200
@Binaryify Seems @dertuerke was having extension which introduced these new scopes. So this impossible to fix since this is VS Code related. @dertuerke you can open issue in VS Code repo.

[2018-03-08 13:24] Binaryify commented on #194
good job @svipben

[2018-03-08 13:26] svipben commented on #143
@Binaryify this can be closed because all colorings in Notification Center are correct and like it's with the editor.

![image](https://user-images.githubusercontent.com/10441177/37153336-0f7edb90-22e5-11e8-9c65-c52a73d226f8.png)

[2018-03-08 13:27] dertuerke commented on #200
That is not a issue from VS Code :S

If i install the extension on VS 1.21 i see the same Highlight

[2018-03-08 13:27] Binaryify commented on #143
@svipben thank you for your help, I really appreciate it

[2018-03-08 13:31] svipben commented on #143
@Binaryify No problem. This is the best theme for me, thank you for creating and maintaining it!

[2018-03-08 13:36] svipben commented on #200
@dertuerke Seems it's issue from VS Code side because only with that extension you see coloring. They need to improve current scopes to handle it better which will add the ability for us to create coloring for this. As I said open issue in VS Code and add a reference to this issue too. As a workaround use that extension to get coloring.

[2018-03-08 13:41] Binaryify commented on #199
will support it soon

[2018-03-08 13:54] Binaryify commented on #196
did you have install some elm extension

[2018-03-08 14:09] optikfluffel commented on #196
Yes, [Krzysztof-Cieslak/vscode-elm](https://github.com/Krzysztof-Cieslak/vscode-elm).

[2018-03-08 15:51] lffg commented on #199
Thanks. I'll wait for it. 😄

[2018-03-08 15:51] #199 closed

[2018-03-08 16:04] Binaryify commented on #199
@lffg you can update and check it now

[2018-03-08 16:16] lffg commented on #199
Thanks a lot. ;)

[2018-03-08 18:14] svipben commented on #195
I suggest returning back as it was. Just delete the terminal coloring and keep to default as it was before.

[2018-03-11 11:58] MilyMilo opened #203 "Broken border styles and highlighting."
With VS Code 1.21 on Ubuntu, border highlighting is broken.

This is how it looks, Monokai on the other hand works just fine.

![One](https://user-images.githubusercontent.com/24303006/37252957-61f09df8-252b-11e8-9311-0ddd2081ad7f.png)
![Two](https://user-images.githubusercontent.com/24303006/37252958-620e41aa-252b-11e8-9d7e-1644cacab4f8.png)

Microsoft/vscode#45479

[2018-03-11 13:25] svipben commented on #203
This feature was introduced in VS Code 1.21 (https://code.visualstudio.com/updates/v1_21#_new-theme-colors-and-removal-of-old-colors).

Monokai theme doesn't have these because it doesn't have borders specified in theme.

So this problem isn't specific to OS or any other theme this is because VS Code currently shows border dotted instead of straight lines.

I created PR to border values because th

[2018-03-11 14:09] Or3stis commented on #189
I use this color value #528bff for my cursor. It is the same one as in Atom. It improves the visibility.

Before
<img width="185" alt="screen shot 2018-03-11 at 13 54 58" src="https://user-images.githubusercontent.com/11923550/37254423-937bfd40-2535-11e8-941c-65f1427bd720.png">

After (cursor value #528bff)
<img width="199" alt="screen shot 2018-03-11 at 13 54 18" src="https://user-images.githubus

[2018-03-11 14:18] Or3stis commented on #195
@svipben why?

With the updated colors, the terminal looks more consistent with the rest of the color theme.

I would prefer to investigate the issue. If it affects only all PowerShell users or a portion of PowerShell there might be an issue with their configuration. I have been using that color scheme for a couple of weeks before I made the PR without any issue.

As I said, it seems odd that the

[2018-03-11 14:27] svipben commented on #195
![image](https://user-images.githubusercontent.com/10441177/37254613-bce238f8-2548-11e8-91ed-8cbcfb19ca14.png)

I never had such issues with default terminal coloring which looked perfect.

For me the `"terminal.ansiWhite"` is bad.

[2018-03-11 14:40] Or3stis commented on #195
I see what you mean.

It is best to revert the changes then.

I will keep the updated colors in my settings to test them further.

[2018-03-11 18:48] #143 closed

[2018-03-11 19:29] svipben commented on #189
@Or3stis You're right in Atom cursor color is: `#528bff`. I will create a PR, thanks a lot @Or3stis.

[2018-03-11 19:31] svipben commented on #195
@Or3stis I will create PR which removes terminal coloring and keeps it as it was by default. Anyways thanks for contributing for this theme, try to test all possible cases and when you think it will be ready you can create new PR which can be reviewed. But my suggestion is to keep it always as default to reduce problems like this and keep original coloring since it's terminal, no the editor itself

[2018-03-11 20:13] svipben commented on #189
Done in this PR: https://github.com/Binaryify/OneDark-Pro/pull/205

[2018-03-11 20:13] svipben commented on #195
Done in this PR: https://github.com/Binaryify/OneDark-Pro/pull/205

[2018-03-12 01:14] #189 closed

[2018-03-12 15:36] adrigm commented on #195
I used this theme because this was the only One Dark theme for VS Code that changed the integrate terminal colors.

[2018-03-12 16:07] svipben commented on #195
@adrigm If you're only one who chooses this theme because of integrated terminal coloring you can easily edit your User Settings to include your own coloring for the integrated terminal. But if there are more people like you we should consider about new theme especially with terminal coloring like it's with Vivid.

https://code.visualstudio.com/docs/getstarted/theme-color-reference

[2018-03-12 18:31] svipben commented on #195
Okay I tested and without terminal coloring, there are some problems, for e.g. with yellow in the integrated terminal because of our foreground which is not white. So I included the fix in this PR https://github.com/Binaryify/OneDark-Pro/pull/206. I reverted back @Binaryify terminal colors like it was before. I also improved a little bit green color to not be so bright.

This will be our first ste

[2018-03-13 07:13] svipben commented on #195
@adrigm PR was merged so you will have terminal coloring again, of course not the full, but the critical parts which were not consistent with the theme itself will be fixed.

Thanks, @Binaryify for merging it!

I guess @LukasPolak this issue can be closed?

[2018-03-13 07:15] svipben commented on #203
@MilyMilo since this is the problem with the VS Code itself because border style isn't straight lines but dots I believe this issue can be closed?

[2018-03-13 07:18] svipben commented on #200
@dertuerke I guess this issue can be closed since this isn't the problem with the theme itself, but with the VS Code? Also, did you opened an issue in VS Code repo about this?

[2018-03-13 07:19] svipben commented on #157
I can't reproduce this issue I believe it can be closed?

/cc @ray0324 @darsain

[2018-03-13 07:20] svipben commented on #145
@k4nai Can you reproduce this again? And if there is the same problem could you please send us the code or that log file to test?

[2018-03-13 07:21] svipben commented on #159
@blackier Can you reproduce this again? Also, could you send us the markdown itself to see what colors are missing?

[2018-03-13 11:58] LukasPolak commented on #195
@Binaryify @svipben I think that issue can be closed

[2018-03-13 13:22] #195 closed

[2018-03-14 08:51] IIInsomnia opened #207 "The cursor sometimes is thick and sometimes is thin."
<img width="233" alt="qq20180314-164803 2x" src="https://user-images.githubusercontent.com/6582246/37391986-ed1fca56-27a7-11e8-8a56-3fd6e4e7efb7.png">

<img width="259" alt="qq20180314-164831 2x" src="https://user-images.githubusercontent.com/6582246/37391987-ed528df6-27a7-11e8-9dcf-19dccca4e535.png">

[2018-03-15 02:37] Binaryify commented on #207
I think that might VS Code's bug, will figure it out

[2018-03-15 02:39] IIInsomnia commented on #207
I think so.

[2018-03-15 02:39] #207 closed

[2018-03-15 06:29] svipben commented on #166
Trying to push VS Code team to fix some border issues, even suggested making a PR. This issue will be definitely fixed. Stay tuned :)

[2018-03-15 06:29] svipben commented on #203
Trying to push VS Code team to fix this issue to get proper border style instead of dots. Even suggested making a PR. Stay tuned :)

[2018-03-18 05:48] blackier commented on #159
@Binaryify @svipben I am sorry,as a newcomer, I don't visit GitHub so often that I didn't see your news in time.The picture is as follows:
![eg01](https://user-images.githubusercontent.com/26369551/37563005-bd10b49e-2ab1-11e8-8411-509b96a4f2d2.png)
![eg02](https://user-images.githubusercontent.com/26369551/37563006-c683ba3a-2ab1-11e8-8fd7-c510d2901257.png)
![eg03](https://user-images.githubusercon

[2018-03-18 07:51] svipben commented on #159
@blackier Can you send us the code instead of pictures? I will test it outside MD and inside MD.

[2018-03-18 20:23] svipben opened #208 "(WIP) Redesign"
## Before

<img width="1439" alt="before" src="https://user-images.githubusercontent.com/10441177/37570649-e3af9bd0-2afa-11e8-820f-b631bfee472a.png">

## After

<img width="1439" alt="after" src="https://user-images.githubusercontent.com/10441177/37570651-e7c55e94-2afa-11e8-80b7-ca8c1964fdf7.png">

Still working on this, but the whole theme will be redesigned to match Atom One Dark.

_Currently wo

[2018-03-18 20:32] svipben commented on #208
What do you think guys?

/cc @Binaryify @jens1o

[2018-03-19 03:57] Binaryify commented on #208
I think that is good

[2018-03-19 04:00] Binaryify commented on #208
but maybe need a origin theme option, I not sure if people like the new UI, and one sad thing is json file don't support inherit or import/export

[2018-03-19 09:30] gmcinalli opened #209 "[FIX] Change the foreground color to the Atom's default"
Current:
![image](https://user-images.githubusercontent.com/9024983/37587545-f10cd198-2b5f-11e8-98a9-b0e0d3c1cece.png)

Edited:
![image](https://user-images.githubusercontent.com/9024983/37587607-1ac6bc38-2b60-11e8-8eef-f0aca07c720f.png)

Atom:
![image](https://user-images.githubusercontent.com/9024983/37587632-2b646e32-2b60-11e8-8f6e-283d35d1c865.png)

[code]

[2018-03-19 09:32] Binaryify commented on #209
make it to white isn't a good idea

[2018-03-19 09:35] gmcinalli commented on #209
Ok, but in Atom this is the default color, it's mostly gray rather than white. I think that the current implementation is too red.

[2018-03-19 09:52] gmcinalli commented on #209
Another question: is it possible to change the color of the constants even if not written completely in uppercase?

[2018-03-19 11:06] blackier commented on #159
@svipben Yes.
c
[code]
c
[code]
This is good.
asm
[code]

[2018-03-19 16:14] jens1o commented on #208
Oh, that's awesome!

(I especially like the icon set you use ;))

[2018-03-19 17:11] svipben commented on #159
@blackier This is the problem with VS Code itself.

Test it with Dark+ default theme and you will see. But we definitely need to fix it somehow by making it better because currently, it's very bad...

I guess it makes sense to open issue in VS Code to fix their scopes of Markdown files.

[2018-03-20 10:45] blackier commented on #159
@svipben Got it, look forward to the update.

[2018-03-25 16:24] svipben commented on #166
@Ivkaa @LukasPolak @darsain I fixed this in my One Dark theme. I created it because I have a different vision and I want it to match Atom's One Dark as much as possible.

Repo: https://github.com/svipben/vscode-one-dark-theme
Theme: https://marketplace.visualstudio.com/items?itemName=svipben.one-dark

[2018-03-25 16:24] svipben commented on #159
Already opened an issue in VS Code. I also created my own One Dark theme which will have proper coloring to match Atom's One Dark as much as possible. Currently on my to-do list is to improve C and C++ coloring, I believe @blackier you will be interested to try my theme. I created it because I have a different vision.

Repo: https://github.com/svipben/vscode-one-dark-theme
Theme: https://marketpla

[2018-03-25 16:29] jens1o commented on #159
Please understand that we do not allow ads for other products.

[2018-03-25 16:30] jens1o commented on #208
@svipben It was more like I maintain the icon set. ;)

Despite that, we do not allow ads.

[2018-03-25 16:30] svipben commented on #159
@jens1o I'm always open to cooperate and merge our products into one.

[2018-03-25 16:31] #208 closed

[2018-03-25 16:32] jens1o commented on #159
@svipben Then feel free to maintain your fork and open pull requests at our end. It's *you* who started their own theme, so *we* do not need to give up our passion.

[2018-03-26 02:27] Binaryify commented on #209
@gmcinalli
no, because their scope is different

[2018-03-27 06:26] IIInsomnia opened #210 "add pointer operator color"
![image](https://user-images.githubusercontent.com/6582246/37950333-b9a8be9e-31ca-11e8-9a1e-a8fd2d03a538.png)

![image](https://user-images.githubusercontent.com/6582246/37950353-cc9593ce-31ca-11e8-8288-5e5f7ced2990.png)

[2018-03-27 19:18] jens1o commented on #210
That's `golang`, isn't it?

[2018-03-28 02:13] IIInsomnia commented on #210
Yeah！ @jens1o

[2018-03-28 02:20] IIInsomnia commented on #209
I agree with @gmcinalli , I think that the current implementation is too red.

[2018-03-29 14:39] LordZane opened #211 "Different panes hve different colors"
[Right now my editor looks like this](https://i.imgur.com/TRb5kWe.png)
[How can I make it look like this image, which is in this repositories readme](https://raw.githubusercontent.com/Binaryify/OneDark-Pro/master/static/cpp.png)

[2018-03-29 14:55] jens1o commented on #211
You need to open a c++ file for that ;)

[2018-03-30 11:50] optikfluffel commented on #196
I just found another example where OneDark-Pro has "less" syntax highlighting than [akamud/vscode-theme-onedark](https://github.com/akamud/vscode-theme-onedark), for `Maybe`, `Nothing` and `Just`.

vscode-theme-onedark:
<img width="410" alt="one-dark" src="https://user-images.githubusercontent.com/379915/38136771-f6e2ea48-3420-11e8-8809-65fb3ef2e312.png">

vs OneDark-Pro:
<img width="415" alt="one

[2018-03-30 12:28] jens1o commented on #196
It's always nice to know *which* language that is ;)

[2018-03-31 11:08] malimccalla opened #212 "[Javascript]: New line changes function syntax color"
The following code highlights as expected

[code]

However, if i were to add another argument which causes my formatter to new line like so...

[code]

The color of `myFunc` changes from the expected blue color to the red color. It is even more strange if you annotate the arguments with Flow or Typescript as the annotations change from their expected color to red also

**Edit:** Have just noticed

[2018-04-02 09:58] xixixao commented on #203
I don't want any border around the selection, so this is the workaround (assuming one dark syntax theme) (put this in user settings):
[code]

[2018-04-03 18:26] LordZane opened #213 "Status Bar colors during debugging"
`statusBar.debuggingBackground`
`statusBar.debuggingForeground`
`statusBar.debuggingBorder`

Currently it's the default purple. I'm not sure what color would look better, maybe green, a lighter grey, or the default vscode blue?

EDIT: During debugging, if you hover over a button on the status bar, the button changes from purple to the themes grey, which looks even weirder, since the rest of the ba

[2018-04-11 15:52] andreas-groos opened #214 "Vue highlighting doesn't differentiate between html element and {{variable}}"
In the template the following line is all in the same color
[code]

whereas ideally (like in Monokai etc) the variable would stand out in a different color. Tried different Vue extensions but the behavior seems to be on the theme side, Monokai for example differentiates element and {{expression}}.

[2018-04-13 14:27] Swennet commented on #190
This doesn't seem to work for me. (in PHP files, if that matters)

Any suggestions?

![code_2018-04-13_16-26-38](https://user-images.githubusercontent.com/18725185/38740294-834312bc-3f37-11e8-9569-c7f5573921a9.png)

![code_2018-04-13_16-27-03](https://user-images.githubusercontent.com/18725185/38740300-8517d47e-3f37-11e8-9de9-760342f319eb.png)

[2018-04-14 06:00] Binaryify commented on #190
@Swennet
you need check that code scope first, then change it
![image](https://user-images.githubusercontent.com/12221718/38765002-2f3b60ba-3fec-11e8-852a-1188600044d1.png)

[2018-04-15 14:41] Swennet commented on #190
Sorry, I'm fairly new to VS code. How do I bring up this window?

[2018-04-16 11:55] Binaryify commented on #190
@Swennet
you can check this
https://binaryify.github.io/OneDark-Pro/#/

[2018-04-19 21:14] archcorsair opened #215 "[Javascript] Lowercase reserved keywords being highlighted"
Some variables that are lowercase versions of their uppercase reserved keywords like `Buffer` are appearing highlighted. Is this expected behavior? If it is, how can I change it in the config?

![image](https://user-images.githubusercontent.com/1036921/39018682-9bcd1b2c-43db-11e8-951d-c1b1b34fd013.png)

[2018-04-23 22:49] mignz opened #216 "Blue border around file explorer when focused"
Is it possible to remove or change the blue border around the file explorer when you click an empty space?

This is what I mean:

<img width="424" alt="screen shot 2018-04-23 at 22 39 32" src="https://user-images.githubusercontent.com/358114/39157058-8e80b3e6-4748-11e8-9ca0-6d0e7ecbebd8.png">

[2018-04-27 18:52] mantyz commented on #216
@mignz You can change the `focusBorder` property in the user settings:
[code]
[Base Colors](https://code.visualstudio.com/docs/getstarted/theme-color-reference#_base-colors)

[2018-04-28 02:36] Binaryify commented on #216
@mantyz
nice, will add this feature on next version

[2018-05-03 20:27] GlenCFL opened #217 "Highlighted indent guides."
Visual Studio Code v1.23 has been released, which includes a new feature that they're calling [Highlighted Indent Guides](https://code.visualstudio.com/updates/v1_23#_highlighted-indent-guides).

This is currently not supported by this theme.

[2018-05-04 09:05] Binaryify commented on #215
does that normal on new version vscode?

[2018-05-04 09:14] Binaryify commented on #214
could you provide sone screenshot?

[2018-05-04 09:31] Binaryify commented on #210
how about this
![image](https://user-images.githubusercontent.com/12221718/39621332-f5720a48-4fc0-11e8-985a-3638a67ed6f2.png)

[2018-05-04 09:35] Binaryify commented on #196
![image](https://user-images.githubusercontent.com/12221718/39621477-8235e77e-4fc1-11e8-8150-7066062ad9c0.png)
right?

[2018-05-04 09:41] optikfluffel commented on #196
@Binaryify lgtm ❤️

[2018-05-04 10:00] Binaryify commented on #217
I just support it, thanks for your advice

[2018-05-04 11:40] #217 closed

[2018-05-04 11:41] GlenCFL commented on #217
Thanks for the quick update.

[2018-05-04 16:32] beastdestroyer opened #218 "Changes I made to One Dark Pro Vivid"
Before I start, I really love this theme and is my primary theme of VSCode - awesome!

So, I tinkered with the file for ODPV and made some personal changes, which are active in my editor at time of writing. These changes mainly focused on HTML, CSS/SCSS/LESS, and JS as I do Front-End Development. Below is my edited ODPV file (in a zip as GitHub won't let me post .json), I have attempted to label e

[2018-05-04 16:50] archcorsair commented on #215
It is still happening on newest version of vscode, `Version 1.23.0 (1.23.0)`.

[2018-05-07 10:04] Hedva opened #219 "OneDark-Pro theme for Visual Studio 2017"
I'm pretty new to Visual Studio. Using it for 2 weeks now, because I have to. I'm used to work with Atom and like the visual syntax style

I was wondering if there is an easy way for making this work on Visual Studio Professional 2017 (not Code).
Currently it doesn't work on Professional

[2018-05-11 04:43] rp0m commented on #219
Would love to see this as well!

[2018-05-12 07:07] Voyager-One opened #220 "`.get` `.post` colors are different"
![snip20180512_1](https://user-images.githubusercontent.com/23122353/39954714-30eac7be-55f6-11e8-9aed-8ea655f5b15b.png)

`.get()` and `.post()` should be the same color

[2018-05-16 02:24] IIInsomnia commented on #210
Thanks！@Binaryify

[2018-05-16 02:24] #210 closed

[2018-05-16 03:09] Binaryify commented on #220
that's vscode bug

![image](https://user-images.githubusercontent.com/12221718/40094436-9032f1b4-58f9-11e8-81db-588fb4b36473.png)
![image](https://user-images.githubusercontent.com/12221718/40094438-92fa5748-58f9-11e8-87a1-6541f6e67ed4.png)

[2018-05-16 08:30] FrozenHearth opened #221 "How do I change the word highlight border?"
How do I change the word highlight border from dotted to straight in Visual Studio Code?

**Using Mac High Sierra 10.3**

Here's what it looks like:

![screen shot 2018-05-16 at 1 56 28 pm](https://user-images.githubusercontent.com/27160715/40105647-371cbe76-5911-11e8-9693-36611ad7787c.png)

[2018-05-23 11:55] Voyager-One commented on #220
it seems that Atom have the similar bug

[2018-05-23 13:07] Binaryify commented on #220
I think they use same syntactic parser
like this
https://github.com/atom/language-sass/issues/226

[2018-05-23 14:42] Voyager-One commented on #220
one day if they fix this kind of bug that will really be a help of my COD : )

[2018-05-24 19:48] wilomgfx opened #222 "FlowType support"
Hi, when using flow types, i dont get any syntax highlighting.

![image](https://user-images.githubusercontent.com/6611491/40510137-bbdd3a56-5f69-11e8-8241-224b73219394.png)

I guess it should be the same highlighting as `TypeScript` (like below)
![image](https://user-images.githubusercontent.com/6611491/40510186-dd0754c8-5f69-11e8-9575-57c6f5c82a48.png)

[2018-05-27 15:15] justerest opened #224 "Bug in js view"
![default](https://user-images.githubusercontent.com/24754883/40587576-75101b56-61ea-11e8-809e-86bb0009631d.png)
![default](https://user-images.githubusercontent.com/24754883/40587583-8dda525a-61ea-11e8-943f-2b918a521687.png)

[2018-05-29 20:22] jens1o commented on #224
I'm sorry but what do you mean exactly?

[2018-05-30 07:15] #157 closed

[2018-05-30 13:27] justerest commented on #224
sorry. no problem now. but syntax higlight is faild on the first picture.

[2018-05-30 13:27] #224 closed

[2018-05-30 13:31] justerest commented on #224
var `resultMessage` is blue like function. but is just var.

[2018-06-01 20:50] Or3stis opened #226 "Improving the visibility of the overview ruler"
The current color for information blocks on the overview ruler is hard to see.
<img width="38" alt="screen shot 2018-06-01 at 21 39 38" src="https://user-images.githubusercontent.com/11923550/40862425-64495e92-65e4-11e8-873e-17769214a68b.png">

This is a somewhat of an edge case. It is quite relevant if you use the [spell check](https://github.com/Jason-Rev/vscode-spell-checker) extension to highl

[2018-06-06 12:28] #220 closed

[2018-06-14 08:27] tom-sherman opened #229 "Blue borders on tabs"
![image](https://user-images.githubusercontent.com/9257001/41400418-fce740e0-6fb4-11e8-822c-b962987d9c99.png)

VSCode version: 1.24.1 (Windows 10)
One Dark Pro version: 2.14.0

This doesn't happen on One Dark Pro Vivid. Is it a bug?

[2018-06-14 08:49] JonGarbayo commented on #229
It's not a bug, look at this commit: https://github.com/Binaryify/OneDark-Pro/commit/6ca587a0c8467df610fda365663e74c5dd2dbfba

But yeah, it looks like a bug.
The borders in Atom are pretty, but in VS Code it's not the case, IMO.

[2018-06-14 08:53] Binaryify commented on #229
I just change it back

[2018-06-14 08:57] JonGarbayo commented on #229
Sorry, I just checked in Atom: the blue border is only on the active tab, not all of them.
If it's possible in VS Code, it could be pretty, I think :)

[2018-06-14 09:56] rbukovansky opened #230 "No issue here..."
Just wanted to thank you for this awesome theme. So far the best I've seen.

Thanks a lot!

[2018-06-14 11:22] tom-sherman commented on #229
@Binaryify Thanks for this! Any idea when it will be released?

[2018-06-14 13:40] Binaryify commented on #229
@tom-sherman it had already released

[2018-06-14 15:13] wilomgfx commented on #222
@Binaryify  :D

[2018-06-15 13:45] hawkgs opened #231 "The activity bar and the sidebar have the same color"
The change is noticeable only with **One Dark Pro**. The new color (`#21252B`) of the activity bar matches with the one of the sidebar making the containers of these two indistinguishable. I believe this is a bug.

Commit: https://github.com/Binaryify/OneDark-Pro/commit/566f638c2661648ecdd7a1d1843d56e62a5e2750

[2018-06-19 08:14] guledali opened #232 "Support the new custom titlebar"
vscode just released a custom titlebar see https://github.com/Microsoft/vscode/pull/39972
Its right now on insiders @Binaryify I hope this theme will take full advantages of this feature, maybe give us Yosemite icons (titlebar) on windows that will look really good with one dark theme

![screenshot 50](https://user-images.githubusercontent.com/20647282/41587256-0a1d15ca-73af-11e8-8130-6532bd68ab18

[2018-06-19 12:31] Binaryify commented on #232
it do support, just need set `"window.titleBarStyle": "custom"`
![image](https://user-images.githubusercontent.com/12221718/41597300-a9be95ea-73ff-11e8-8f99-004db4e886eb.png)

[2018-06-19 12:55] guledali commented on #232
Could you add yosemite icons to your theme like this

![40278352-1265254c-5c30-11e8-83fc-835064b10f0e](https://user-images.githubusercontent.com/20647282/41598570-d024cb3e-73d0-11e8-9928-c6d280177a20.gif)

[2018-06-20 07:51] Binaryify commented on #232
no, people should can choose the icon theme what they want, but no bind the icon theme in this theme
![image](https://user-images.githubusercontent.com/12221718/41644782-b624cb36-74a1-11e8-84cb-93a1f09eec79.png)

[2018-06-20 09:21] guledali commented on #232
@No those are file icon theme, no what I meant are the icons on the titlebar
![green-maximize-zoom-button-os-x-yosemite](https://user-images.githubusercontent.com/20647282/41649371-b7a386c6-747b-11e8-8af9-98be783d106c.png)

If you could make a custom titlebar that allow yosemite icons instead windows icons which now possible
`"window.titleBarStyle": "custom" ` and will suit your theme better, just

[2018-06-20 09:36] Binaryify commented on #232
seem like can't change it now

[2018-06-20 09:36] guledali commented on #232
Okay thanks anyway

[2018-06-21 03:30] bdougherty commented on #231
Luckily there is a setting to override the theme colors. I added this to bring back the previous activity bar color:

[code]

[2018-06-21 07:58] FilipAndersson245 opened #233 "Inconsistant color in Js Objects."
The color is inconsistent when you are using a method inside a JavaScript Object.
If its on one line its blue but it spawn multiple lines its red like the normal props.

[2018-06-23 14:41] hawkgs commented on #231
Indeed, I am using the same. But I consider this a workaround since I have to change my workspace settings every time I switch to a light theme when I am outside, for example.

[2018-06-23 18:47] dnistreanu opened #234 "Comments forward slashes are not parallel"
**VS Code:**
[code]

**OS:**
Windows 10 Pro x64

Small but for me very disturbing thing.  The comment lines are not parallel.

Screenshoot: http://prntscr.com/jyhwge

[2018-06-25 15:33] need47 opened #235 "C/C++: render '>>' in vector of vector"
vector<vector<string>> vvs;

The '>>' is currently treated as right shift and rendered with a different color.

VSCode: version 1.25.0-insider
C/C++: version 0.17.5

[2018-06-26 16:00] beastdestroyer opened #236 "JSONC Properties aren't red like in JSON"
VSCODE: 1.25.0-insiders
Extension Version: 2.14.1
Happens in both One Dark Pro + Vivid

I only noticed this today, but it seems that JSONC properties aren't red like in JSON. This is evident when you open up the settings: the properties are in grey, not red. Not sure if it was intentional, but highly unlikely seems to be.

Here's a screenshot, JSONC (settings editor in this case) on left, normal J

[2018-06-26 19:53] beastdestroyer commented on #236
EDIT: Feel free to close this, turns out it's an issue with VSCODE internally most likely.

[2018-07-03 07:30] rarguelloF opened #238 "YAML syntax highlighting broken for unquoted strings"
![image](https://user-images.githubusercontent.com/7250722/42205041-4e28952a-7ede-11e8-9792-0759c80c8234.png)

The `some_unquoted_string` string should be green too.

[2018-07-03 10:34] #236 closed

[2018-07-05 06:09] #238 closed

[2018-07-06 03:03] Binaryify commented on #235
could you provide some screenshots and some code

[2018-07-09 13:58] need47 commented on #235
Here you go. I'm expecting '>>' in the second example to be rendered as 'pink', not 'cyan'
![capture](https://user-images.githubusercontent.com/1194165/42454791-69a2d64c-835e-11e8-9a49-b80d65c12bf2.JPG)

[2018-07-12 20:54] ghost opened #240 "Static class variable PHP"
Up to commit d3a6fdac801313dc7c940594d963c3fc68029181, PHP static class variables were the same color as the dollar sign (reddish) rather than classes (yellowish).

However this is the current behavior:
![ntdp8qa 1](https://user-images.githubusercontent.com/6422013/42658540-a142e88e-85f3-11e8-9181-e6277fe474ab.png)

This is the previous behavior:
![o15d4rq 1](https://user-images.githubusercontent.

[2018-07-14 12:56] beastdestroyer commented on #240
Ah yes it is a bug, that change was mainly intended for JS/TS to unify the colouring, since there are many similarities. I seem to have forgotten to add .js and .ts. I also acknowledge that my changes have affected other languages, and I will uodate with a pull request soon, thanks!

[2018-07-16 15:08] madig opened #241 "Python: inconsistent "white" in parentheses"
Compare the text color of the variable assignments to e.g. "glyph" in the comprehension:

![image](https://user-images.githubusercontent.com/380829/42766399-4b023bec-8912-11e8-9a43-12b5d79c8bb7.png)

[2018-07-20 04:32] PhoenixNil opened #242 "help comments are bold!!!"
Hello, developer, I hope that you can change the C/C++ comment to bold instead of italic, because under Windows, the Chinese italic display is too ugly, can you change it back? :)

[2018-07-20 17:05] beastdestroyer commented on #240
@mikolino An update on this issue, it seems PHP Intellisense and syntax highlighting is kinda broken, it doesn't wprk, do you think you could open a pull request and edit the files instead?

Thanks and sorry, trying to fix this issue is annoying lol

Thx and have a great day!

[2018-07-20 17:15] beastdestroyer commented on #242
@PhoenixNil Hey there, it is most likepy something due to my pull request, I am. working on a bunch of fixes, is it possible you coupd send me a screenshot, and I'll see if I can fix anything (note, I am not the official dev as you can tell just noting that I may have broken a bunch of stuff when they merged my pull)

Thanks!

[2018-07-20 18:15] PhoenixNil commented on #242
![default](https://user-images.githubusercontent.com/33974040/43018278-bf645548-8c8b-11e8-9a68-7b577c180f86.PNG)

I hope they become bold rather than italic ；（ ，italic is very ugly

[2018-07-20 20:22] beastdestroyer commented on #242
Yes I do agree with you, unfortunately it seems we can't do character specific changes, ie right now it isn't possible to fix it just for Chinese characters, even if we did just change it overall, many people may or may not like it, and we've yet to get feedback so we'll see how it goes, thanks for some screenshots though, will experiment!

[2018-07-21 14:34] beastdestroyer commented on #241
@madig I've essentially copied your example, and studied the internal theme code for Python, unfortunately, VSCode's themes doesn't correctly highlight it, but you could edit it yourself or install extensions (listed below)

This is common in VSCode, but there should be some Python related extensions,
I've linked some stuff, hopefully should be helpful:

Python Highlighter:
https://marketplace.vis

[2018-07-24 12:16] madig commented on #241
I already use Microsoft's Python extension, it's what you see above. So... does this need correction in the extension?

[2018-07-25 07:40] kyiami opened #243 "On HTML tags, "<" is not red along with the rest of the tag."
This seems like an issue, although I guess it could be intentional.

[Image](https://i.imgur.com/b4BjJSk.png)

This would include things like <!, </, <, >, and all the rest.

[2018-07-25 09:20] jens1o commented on #243
That's intentional.

cc @Binaryify

[2018-07-25 11:51] Binaryify commented on #243
both all editor look like this, that's not bug

[2018-07-25 13:40] #243 closed

[2018-07-31 01:34] Binaryify commented on #242
I just change it @PhoenixNil @beastdestroyer

[2018-07-31 02:06] Binaryify commented on #235
sorry for let you wait, I just fix it, please update and check it

[2018-07-31 02:06] Binaryify commented on #235
thank for your feedback

[2018-07-31 02:07] Binaryify commented on #240
I just fix it, please update and check it, thank for your feedback

[2018-07-31 09:40] need47 commented on #235
Thanks for the quick fix. It's awesome.

On Mon, Jul 30, 2018 at 10:06 PM 阿发 <notifications@github.com> wrote:

--
-- Tiejun
提问之前请先查阅《CN-Rockville生活手册》相关经验分享——http://goo.gl/WDl5H

[2018-08-01 03:03] rossnichols commented on #242
@Binaryify, bold doesn't look that great, and also the change doesn't affect /* */ style comments either - those are still italic. If you're moving away from italic (which I'd be sad about, I like the italic), can you at least not make it bold? Just make it gray.

Can themes have settings? Ideally this could just be customized.

[2018-08-01 06:31] Binaryify commented on #242
@rossnichols
here is the docs
https://binaryify.github.io/OneDark-Pro/#/

[2018-08-01 15:56] beastdestroyer commented on #242
@rossnichols It will, you can submit your changes as a pull request or wait until @Binaryify has done it himself (if he chooses to do so)

[2018-08-01 16:05] beastdestroyer commented on #242
Crap Im stupid, I have never used that so I completely forgot about that... Ops :>

[2018-08-01 16:06] beastdestroyer commented on #242
Also @Binaryify Im going to open an issue on this, but units (px, em, rem etc.) aren't red

[2018-08-01 16:08] beastdestroyer opened #244 "Units aren't coloured red"
In a recent release (2.15.0) units such as px, em, rem etc. were coloured red to distinguish them against other numbers and code (especially in CSS and stuff, where units were most common). Straight after that (2.15.1), they were reset back to pre-2.15.0.

[2018-08-01 16:42] rossnichols commented on #242
@Binaryify, thanks, I added this to revert the change:

    "editor.tokenColorCustomizations": {
        "textMateRules": [
            {
                "scope": "comment.line.double-slash.c,comment.block.documentation.c,comment.line.double-slash.cpp,comment.block.documentation.cpp",
                "settings": {
                    "fontStyle": "italic"
                }
        ]
    }

But cou

[2018-08-08 13:31] Binaryify commented on #242
@rossnichols you are right

[2018-08-09 03:25] Binaryify commented on #242
@PhoenixNil
I just change it back to make comments more unified
you need add this snippet into your settings now
[code]

[2018-08-09 14:35] Stone-Zeng commented on #242
I want to mention that, some Chinese fonts, e.g. [Sarasa Gothic](https://github.com/be5invis/Sarasa-Gothic), are specially designed for programming and thus have italic shape. Hope you may enjoy it.

[2018-08-17 14:15] lerran80 opened #246 "Bug in snake case named jsx attributes"
One Dark Pro Version: 2.15.4
VSCode version: 1.26.0

JSX attributes with underscore in the name get colored white:
![image](https://user-images.githubusercontent.com/22422447/44270792-dadda200-a20e-11e8-8ef4-f7e80bc6b44f.png)

[2018-08-17 20:34] lerran80 opened #247 "Bug in snake case jsx component with template strings in attributes"
One Dark Pro Version: 2.15.4
VSCode version: 1.26.0
It makes everything green after the last backtick:
![image](https://user-images.githubusercontent.com/22422447/44287592-bfd95500-a243-11e8-9254-82ff9de39b9a.png)

[2018-08-18 13:35] LukasPolak opened #248 "[Question] Similar shades of colors"
Hi @Binaryify, thanks for the awesome theme!
I have a question about the usage of similar shades of colors, they are almost identical, hardly recognizable at least for me. I'm also attaching an exported color palette without transparent colors. It is a good idea to simplify them and colors that are almost the same merge?
Thanks for your answer.
![color-pallete](https://user-images.githubuserconten

[2018-08-20 09:55] gmcinalli commented on #209
I just noticed that now the constants are colored exactly like in Atom!
@Binaryify Did you find a way to change their color, even if their scope was different?

[2018-08-20 09:57] Binaryify commented on #209
@gmcinalli
no, I think VS Code team just change it

[2018-08-21 19:11] beastdestroyer commented on #248
Definitely, especially with Settings GUI, some colours are just too similar and cause accessibility issues. I am thinking of opening a pull request to help with it and some other issues, I woupd definitely like it if you have any areas where you think colours should change!

[2018-08-23 14:26] beastdestroyer commented on #246
@lerran80 Whilst making my pull request, it seems underscored attributes aren't allowed. This is also equivalent to HTML behaviour, underscored attributes are illegal! Use dashes instead

[2018-08-23 14:29] beastdestroyer commented on #247
@lerran80 Again, related to issue #246 , Underscores aren't allowed. This is the same in HTML etc. Stick to dashes!

[2018-08-23 14:29] beastdestroyer commented on #247
@Binaryify My solution fixes it, feel free to close!

[2018-08-23 14:29] beastdestroyer commented on #246
@Binaryify My solution fixes it, feel free to close!

[2018-08-23 21:53] lerran80 commented on #246
@beastdestroyer I never saw any indication in the React docs that snake case attributes in JSX components are illegal. Our code base has 20k+ lines and we use it everywhere. Changing to dashes is not an option. The strange thing is that this worked before with One Dark Pro theme.

[2018-08-24 04:28] beastdestroyer commented on #246
@lerran80 Also, try downgrading to VSCode 1.25 too, if it works completely fine, it might be worthwile to file and issue at [VSCode Issues](https://github.com/Microsoft/vscode/issues) as it is then related to the internals of how it deals with JSX rather than One Dark Pro's fault

[2018-08-24 11:58] lerran80 commented on #246
Interesting. I am using VSCode 1.26.1, with ESLint v1.5.0 and no errors are raised.

[2018-08-24 15:34] beastdestroyer commented on #246
Well I am using 1.27.0-insiders and with or without ESLint it gives the error, also happens with underscored component names too, these issues seem highly likely related to VSCode itself, try posting an issue in their repo (if you haven't already) and just show them screenshots etc.

[2018-08-29 14:07] lerran80 commented on #246
It looks like they already fixed it in a new insiders version: https://github.com/Microsoft/TypeScript-TmLanguage/issues/648

[2018-08-29 14:12] beastdestroyer commented on #246
Yup, I can confirm that it is fixed, I use Insiders on a daily basis, tested both your issues and they are fixed! Just wait a week or 2 for the update (or switch to Insiders, it ain't that bad 😛 ) and you'll be a happy guy again :)

[2018-08-29 14:19] lerran80 commented on #246
Cool!! Thanks for the follow-up and for all your work in this theme. I really appreciate it!

[2018-08-30 09:48] beastdestroyer opened #250 "Possible Merging?"
This is just a mini-discussion/question, as you know ODP has 2 themes, ODP and its Vivid sister, however whilst working through my pull of #249, I have found many inconsistencies. Eventually I wish to submit another pull which will be a complete rewrite of the files for the following reasons:
- Easier to maintain and update over time
- There is currently too much overriding and clutter
- Quite big

[2018-08-31 12:59] Binaryify commented on #250
great~
I'm considering if I needed to separate the editor configuration from the syntax highlighting configuration, and then use the tool to combine them into two theme files

[2018-08-31 13:07] beastdestroyer commented on #250
@Binaryify Similar to like an "original" file (the one which would come installed with the extension) and then a custom one which people can configure? If you're talking about that, that would be COOL! Power users similar to me would definitely like that feature, especially if we want to contribute, it makes developing easier :)

[2018-09-01 03:04] Binaryify commented on #250
@beastdestroyer
nope, I mean merge when publish theme, but your idea is good too, I will try

[2018-09-01 05:13] beastdestroyer commented on #250
Coolio!

[2018-09-06 12:15] Splike opened #251 "Markdown: So much green!"
Version 2.16.0 makes all text in a list, green. It's just too much.

Most people who write markdown in vs code will most likely also be using the plugin "Mardown All In One", which uses the same green color for `code snippets`.

I'd like to ask you to please revert the color changes you've made to markdown lists, as it's not pretty with all that green and it clashes with the most popular markdown

[2018-09-06 13:09] Binaryify commented on #251
@beastdestroyer

[2018-09-06 13:28] beastdestroyer commented on #251
@Splike Thanka for that!
@Binaryify I believe this is caused by these lines:
[code]
Since my keyboard is currently dead, I have no real way of correcting this, I believe deleting this should fix the problem

[2018-09-06 14:08] Binaryify commented on #251
I just fix it, you could update and check if it fine

[2018-09-06 14:09] beastdestroyer commented on #251
Note: Just finished a deep clean of my keyboard and it seems to be working, will fix!

[2018-09-06 14:13] beastdestroyer commented on #251
@Binaryify Fixed!

[2018-09-06 18:07] Splike commented on #251
Thanks so much guys! Much appreciated 😃

[2018-09-09 16:26] apcamargo opened #252 "Add support for italics"
There are many coding fonts such as IBM Plex Mono and Operator Mono that offer true and beautiful italics. It would be nice if One Dark Pro supported italics.

- [Commit that added italics support to the Material Theme](https://github.com/equinusocio/vsc-material-theme/commit/ea9b7551ccf277b1ffe0dddcd31fd252e5521f97)
- [One Dark Pro fork with italics support](https://github.com/markypython/OneDark

[2018-09-10 17:14] beastdestroyer commented on #252
Hi @apcamargo. Looks pretty cool, however it would be recommended to update your One Dark Pro version in your repo to ensure that nothing breaks. This is easily done by [following this guide](https://help.github.com/articles/syncing-a-fork/). You can then submit a pull request by going to your repo home > Pull Requests and there should be an option to submit a pull or merge into `Binaryify:master`

[2018-09-11 03:52] Binaryify commented on #252
@apcamargo
could  you post the code on your screenshot here

[2018-09-11 03:52] Binaryify commented on #252
or the code you want it be italics

[2018-09-11 16:50] apcamargo commented on #252
[code]

[2018-09-12 12:46] #251 closed

[2018-09-12 12:47] #250 closed

[2018-09-12 13:15] Binaryify commented on #252
@apcamargo
I just improve its italics support, please update and check if it fine ~

[2018-09-12 14:13] apcamargo commented on #252
It worked. Thanks!

[2018-09-12 16:03] beastdestroyer opened #254 "2.16.5 Broke Pull #253"
#253 Was my pull in which I edited a colour of the tab background to be #282c34 (from my memory at least), the update to address #252 has destroyed this change. @Binaryify

[2018-09-12 16:11] Binaryify commented on #254
my bad, also can't edit the files on 'thems/' now, need edit 'src/xx.json' then run `npm run build`

[2018-09-12 16:13] beastdestroyer commented on #254
Oh that's fine, it's a minor thing that can get fixed with a few types, you should probably also update docs too with how to contribute, now you need to do what you just said instead.

[2018-09-13 02:33] Binaryify commented on #254
I'll update it soon~

[2018-09-13 15:48] #244 closed

[2018-09-13 15:51] beastdestroyer opened #255 "Markdown List Highlighting is broken"
It seems that the `punctuation.definition.list.begin.markdown` is not present

[2018-09-16 04:54] raytroop opened #257 "python render partial italic"
![image](https://user-images.githubusercontent.com/31182666/45592981-2326e600-b9ae-11e8-95ec-0f8e83ea6d86.png)

as you can see,  `for in` clause is not font consistent that `for` italic and `in` is normal.
at a word,  what i need is normal font everywhere except comment.

Any suggestion?
Thanks

extension version: 2.16.5
vscode version: 1.27.2
OS: Ubuntu 16.04.5 LTS / Ubuntu 18.04.1 LTS

[2018-09-16 05:41] beastdestroyer commented on #257
@raytroop This was a change that @Binaryify done for issuw #252.

@Binaryify It's clear people really like italics. Continuing on from #250, from merging ODP and Vivid, perhaps create an italicised version too?

[2018-09-16 05:54] raytroop commented on #257
Thanks
@beastdestroyer but I DONT like italics, maybe I belong to the minority
I indeed like previous version.

[2018-09-16 05:55] Binaryify commented on #257
@raytroop
you can custom theme
check the docs
https://binaryify.github.io/OneDark-Pro/#/?id=user-definable-syntax-highlighting-colors

[2018-09-16 06:02] raytroop commented on #257
I see, thanks @Binaryify

[2018-09-16 06:08] raytroop commented on #257
work like a charm @Binaryify @beastdestroyer
[code]

[2018-09-16 06:08] #257 closed

[2018-09-16 06:14] beastdestroyer commented on #257
👍

[2018-09-16 15:27] nextbook commented on #222
Hi @wilomgfx, here is how you could solve this issue!

- Google [vscode syntax highlighting](https://duckduckgo.com/?q=vscode+syntax+highlighting&t=osx&ia=qa)
- Click the first result that leads to [the official VSCode documentation](https://code.visualstudio.com/docs/extensions/themes-snippets-colorizers). Here they explain how you can find the TextMate `scope` of a certain part of the language s

[2018-09-19 15:48] fdemmer commented on #177
@tblxdezhu https://github.com/yurtaev/idea-one-dark-theme

[2018-09-22 06:33] foreverqihe opened #258 "Inconsitency of Ruby symbol"
Atom: ![image](https://user-images.githubusercontent.com/2378002/45914173-7ef8df80-be84-11e8-9a6d-a637f147a6ca.png)

OneDark Pro:
![image](https://user-images.githubusercontent.com/2378002/45914217-2d048980-be85-11e8-90ba-e4e985446cb8.png)

[2018-09-22 07:58] beastdestroyer commented on #258
@Binaryify

[2018-09-24 18:28] Rohit-Kudatarkar opened #259 "Not really a issue"
Atom one dark version
![image](https://user-images.githubusercontent.com/36111164/45970924-64c22b80-c055-11e8-9375-cabe3ddb4ed0.png)
Your OneDark Pro
![image](https://user-images.githubusercontent.com/36111164/45970964-7a375580-c055-11e8-85a7-00f18aec613e.png)
Well Its kinda Annoying me for a few day but you can pass if you want to

[2018-09-25 02:41] Rohit-Kudatarkar commented on #259
Python

[2018-09-25 03:37] Binaryify commented on #259
will improve it

[2018-09-25 03:38] Binaryify commented on #258
will improve it on next version

[2018-09-25 04:03] Rohit-Kudatarkar commented on #259
Thanks

[2018-09-26 13:44] #230 closed

[2018-09-26 13:46] #242 closed

[2018-09-26 13:48] #229 closed

[2018-09-26 13:48] #219 closed

[2018-09-29 20:08] ivanbeldad opened #260 "Javascript: some methods are green, other blue"
Just installed this extension and notice that only some methods are green.

![image](https://user-images.githubusercontent.com/10326536/46250028-3ff1fd80-c433-11e8-9856-18a226b34917.png)

This only happens to methods, no functions.

![image](https://user-images.githubusercontent.com/10326536/46250101-fbb32d00-c433-11e8-942f-d585c32ac33b.png)

![image](https://user-images.githubusercontent.com/1032

[2018-09-30 07:55] jens1o commented on #260
The green ones are when the grammar detects built-in methods of javascript modules.

[2018-09-30 14:56] ivanbeldad commented on #260
But map is a built-in method too, that's why I used it for the example, because I didn't find a logic relation between colors. There are a lot of built-in methods in blue.

Is there a property to change them all to the same color? Thank you.

[2018-09-30 15:37] beastdestroyer commented on #260
Yup, copy and paste the following code into your `settings.json`:

[code]
This is assuming that you want both in-built and custom functions/methods to all be that greenish colour. The reason they are different is because VSCode identifies them as the same type of grammar: `entity.name.function`, and changing this will also change the colours of your own-defined functions. If you really want this I

[2018-09-30 21:35] ivanbeldad commented on #260
I assumed that it wasn't a problem with One Dark, but didn't know exactly what was the source, so I opened the issue here.

Thanks @beastdestroyer for the tip. I'll close this issue.

[2018-09-30 21:35] #260 closed

[2018-10-01 02:34] Binaryify commented on #260
![image](https://user-images.githubusercontent.com/12221718/46267027-79c32100-c565-11e8-8a9e-f7473ca04b61.png)
![image](https://user-images.githubusercontent.com/12221718/46267028-7e87d500-c565-11e8-9ca8-f879813a2497.png)
well, that is vscode's problem, they have different scope